Repository funky-station/funky-station, pull requests merged in 2024-10, with the labels that each got.

#24 Lower player requirements for antags
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
Labels: No C#

#25 Merge Upstream 10/6/2024
  Content.Client/_Goobstation/Heretic/UI/LivingHeartMenu.xaml
  Content.Client/_Goobstation/Heretic/UI/LivingHeartMenu.xaml.cs
  Content.Client/_Goobstation/Heretic/UI/LivingHeartMenuBoundUserInterface.cs
  Content.Server/_Goobstation/GameTicking/Rules/DynamicRuleSystem.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/AristocratSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticKnowledgeSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticRitualSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/_Goobstation/Magic/ChainFireballComponent.cs
  Content.Server/_Goobstation/Magic/ChainFireballSystem.cs
  Content.Server/_Goobstation/StationEvents/DynamicStationEventSchedulerComponent.cs
  Content.Server/_Goobstation/StationEvents/DynamicStationEventSchedulerRule.cs
  Content.Shared/_Goobstation/Heretic/Components/HereticComponent.cs
  Content.Shared/_Goobstation/Heretic/Heretic.Abilites.cs
  Content.Shared/_Goobstation/Heretic/Prototypes/Heretic.Data.cs
  Resources/Audio/_Goobstation/Heretic/Ambience/Antag/Heretic/attributions.yml
  Resources/Audio/_Goobstation/Heretic/attributions.yml
  Resources/Audio/_Goobstation/Heretic/heartbeat.ogg
  Resources/Changelog/GoobChangelog.yml
  Resources/Locale/en-US/_Goobstation/Heretic/abilities/heretic.ftl
  Resources/Locale/en-US/_Goobstation/Heretic/heretic/rituals.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/basic.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Heretics.xml
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/heretic.webp
  Resources/Textures/LobbyScreens/heretic.webp.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/meta.json
  Resources/Textures/_Goobstation/Heretic/abilities_heretic.rsi/living_heart.png
  Resources/Textures/_Goobstation/Heretic/abilities_heretic.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#26 Revert "Felinid size increase & they no longer fit into duffelbags."
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: No C#

#27 Implement the smelly effigy
  Resources/Audio/Items/the_effigy.ogg
  Resources/Prototypes/Entities/Objects/Fun/the_effigy.yml
  Resources/Prototypes/SoundCollections/the_effigy.yml
  Resources/Textures/Objects/Fun/the_effigy.rsi/icon.png
  Resources/Textures/Objects/Fun/the_effigy.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/the_effigy.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/the_effigy.rsi/meta.json
Labels: No C#, Changes: Sprites

#28 lowered max numbers of changelings and heretics
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
Labels: No C#

#29 Effigy Mono fix
  Resources/Audio/Items/the_effigy.ogg
Labels: No C#

#30 Adds more songs
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/droopy_likes_your_face.ogg
  Resources/Audio/Lobby/livingintheurban.ogg
  Resources/Audio/Lobby/spacers_home.ogg
  Resources/Audio/Lobby/starpilotshymn.ogg
  Resources/Audio/Lobby/sugar_boo.ogg
  Resources/Prototypes/Funkystation/Catalog/Standard.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#31 Effigy overhaul
  Resources/Audio/_Funkystation/Items/the_effigy.ogg
  Resources/Audio/_Funkystation/Items/the_effigy_breathe.ogg
  Resources/Audio/_Funkystation/Items/the_effigy_collide.ogg
  Resources/Audio/_Funkystation/Items/the_effigy_fire.ogg
  Resources/Locale/en-US/_Funkystation/the_effigy.ftl
  Resources/Prototypes/Entities/Objects/Fun/the_effigy.yml
  Resources/Prototypes/SoundCollections/the_effigy.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/the_effigy.yml
  Resources/Textures/_Funkystation/Objects/Fun/the_effigy.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Fun/the_effigy.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Fun/the_effigy.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Fun/the_effigy.rsi/meta.json
Labels: No C#, Changes: Sprites

#33 Russian trait
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/speech.yml
Labels: No C#

#35 Doxa changes
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#

#36 You Already know
  Resources/Textures/Markers/jobs.rsi/ai.png
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/Mobs/Silicon/station_ai.rsi/ai.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/meta.json
  Resources/Textures/Objects/Devices/ai_card.rsi/full.png
  Resources/Textures/Objects/Devices/ai_card.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#37 Core & Roleplay rule updates
  Resources/ServerInfo/Guidebook/ServerRules/BanDurations.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13CharacterNames.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC14ICinOOC.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6BanEvasion.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR14SecComStandard.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR15SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR9MassSabotage.xml
  Resources/ServerInfo/RP_Rules.txt
Labels: No C#, Status: Needs Review

#39 Merge Upstream 13 Oct 24
  Content.Server/_Goobstation/GameTicking/Rules/Components/DynamicRuleComponent.cs
  Resources/Changelog/GoobChangelog.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/World/worldgen_default.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/meta.json
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/flipped-inhand-left.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/flipped-inhand-right.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/icon_flipped.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/bartender.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/janitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/jester.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/safari.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_standard.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/full.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/meta.json
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_0.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_1.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_2.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_3.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_4.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_5.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_6.png
  Resources/Textures/Structures/Furniture/Tables/wood.rsi/state_7.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_jacket.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_jacket.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Armor/blueshield_jacket.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/blueshield_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Jumpsuit/mailman.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprites

#40 Adds Healium and Changes Frezon Price
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Reactions/BZFormationReaction.cs
  Content.Server/Atmos/Reactions/HealiumProductionReaction.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/gases/gases.ftl
  Resources/Locale/en-US/reagents/meta/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Textures/Structures/Storage/canister.rsi/bz-1.png
  Resources/Textures/Structures/Storage/canister.rsi/bz.png
  Resources/Textures/Structures/Storage/canister.rsi/healium-1.png
  Resources/Textures/Structures/Storage/canister.rsi/healium.png
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#42 Role time requirement changes
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#44 Merge Upstream 10/16/2024
  .github/workflows/publish.yml
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferEntry.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferEntry.xaml.cs
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanel.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanel.xaml.cs
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanelEui.cs
  Content.IntegrationTests/Tests/_Goobstation/Changeling/ChangelingArmorTests.cs
  Content.Server/_Goobstation/Administration/Commands/TimeTransferPanelCommand.cs
  Content.Server/_Goobstation/Administration/TimeTransferPanelEui.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Shared/_Goobstation/Administration/TimeTransferPanelEui.cs
  Content.Shared/_Goobstation/Changeling/ChangelingComponent.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Changelog/GoobChangelog.yml
  Resources/Locale/en-US/_Goobstation/administration/time_transfer.ftl
  Resources/Locale/en-US/_Goobstation/job/job-names.ftl
  Resources/Locale/en-US/advertisements/other/medibot.ftl
  Resources/Maps/train.yml
  Resources/Prototypes/Catalog/VendingMachines/advertisements.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Goobstation/Entities/Supermatter/supermatter.yml
  Resources/Prototypes/_Goobstation/Objectives/traitor.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Misc/misc.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: Changes: Map, Changes: UI

#45 Roles update 2.0
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: No C#

#43 Heretics no longer gib people
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Shared/_Goobstation/Heretic/Components/SacrificedComponent.cs
  Resources/Locale/en-US/_Funkystation/sacrificed.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Prototypes/Animal/animal.yml
  Resources/Prototypes/_Goobstation/Heretic/Objectives/heretic.yml
Labels: Status: Needs Review

#48 update healium to be more in line with /tg/ mechanics
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Reactions/HealiumProductionReaction.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Textures/Effects/atmospherics.rsi/healium.png
  Resources/Textures/Effects/atmospherics.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#51 add nitrium gas
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Reactions/NitriumDecompositionReaction.cs
  Content.Server/Atmos/Reactions/NitriumProductionReaction.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/gases/gases.ftl
  Resources/Locale/en-US/reagents/meta/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Textures/Effects/atmospherics.rsi/meta.json
  Resources/Textures/Effects/atmospherics.rsi/nitrium.png
Labels: Changes: Sprites, Changes: UI

#53 Gas tweaks and nitrium speed fix
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/EntityEffects/Effects/NitriumMoveSpeedModifier.cs
  Resources/Prototypes/Reagents/gases.yml
Labels: Changes: UI

#57 Dawn Plushie again
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Funkystation/Objects/Fun/dawn_plush.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/dawn_plush.rsi/plushie_dawn.png
Labels: No C#, Changes: Sprites

#60 Add the map "Glacier"
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Funkystation/glacier.yml
  Resources/Prototypes/_Funkystation/Maps/glacier.yml
Labels: No C#, Changes: Map

#59 Add gases to guidebook
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
Labels: Changes: UI

#63 Reverts "In Memorium"
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: No C#

#61 Plasma cutter description change
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Basic/plasma_cutter.yml
Labels: No C#

#62 RPD
  Content.Client/RCD/RCDConstructionGhostSystem.cs
  Content.Client/RCD/RCDMenu.xaml
  Content.Server/Charges/Systems/ChargesSystem.cs
  Content.Shared/Charges/Components/LimitedChargesComponent.cs
  Content.Shared/Charges/Systems/SharedChargesSystem.cs
  Content.Shared/RCD/Components/RCDAmmoComponent.cs
  Content.Shared/RCD/Components/RCDComponent.cs
  Content.Shared/RCD/Components/RCDDeconstructibleComponent.cs
  Content.Shared/RCD/RCDEvents.cs
  Content.Shared/RCD/RCDPrototype.cs
  Content.Shared/RCD/Systems/RCDAmmoSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Locale/en-US/rcd/components/rcd-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Textures/Interface/Radial/RPD/bend.png
  Resources/Textures/Interface/Radial/RPD/dual_port.png
  Resources/Textures/Interface/Radial/RPD/fourway.png
  Resources/Textures/Interface/Radial/RPD/gas_filter.png
  Resources/Textures/Interface/Radial/RPD/gas_mixer.png
  Resources/Textures/Interface/Radial/RPD/injector.png
  Resources/Textures/Interface/Radial/RPD/pneumatic_valve.png
  Resources/Textures/Interface/Radial/RPD/port.png
  Resources/Textures/Interface/Radial/RPD/pump_manual_valve.png
  Resources/Textures/Interface/Radial/RPD/pump_pressure.png
  Resources/Textures/Interface/Radial/RPD/pump_signal_valve.png
  Resources/Textures/Interface/Radial/RPD/pump_volume.png
  Resources/Textures/Interface/Radial/RPD/radiator.png
  Resources/Textures/Interface/Radial/RPD/scrub_off.png
  Resources/Textures/Interface/Radial/RPD/straight.png
  Resources/Textures/Interface/Radial/RPD/tjunction.png
  Resources/Textures/Interface/Radial/RPD/vent_off.png
  Resources/Textures/Interface/Radial/RPD/vent_passive.png
  Resources/Textures/Objects/Tools/rpd.rsi/icon.png
  Resources/Textures/Objects/Tools/rpd.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/rpd.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/rpd.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#65 add SOP doc for mrp
  Resources/Locale/en-US/_Funkystation/guidebook.ftl
  Resources/Prototypes/_Funkystation/Guidebook/command.yml
  Resources/ServerInfo/Funkystation/Guidebook/Command/AlertLevels.xml
Labels: No C#

#66 add SOP doc for mrp
  Resources/Changelog/Funkylog.yml
  Resources/Locale/en-US/_Funkystation/guidebook.ftl
  Resources/Prototypes/_Funkystation/Guidebook/command.yml
  Resources/ServerInfo/Funkystation/Guidebook/Command/AlertLevels.xml
  Resources/ServerInfo/Funkystation/Guidebook/Command/CommandStandardOperatingProcedure.xml
  Resources/ServerInfo/Funkystation/Guidebook/SOP/SOP101.xml
  Resources/ServerInfo/Funkystation/Guidebook/Security/EnemiesOfTheCorporation.xml
  Resources/ServerInfo/Funkystation/Guidebook/Security/SecurityStandardOperatingProcedure.xml
  SOP.md
Labels: No C#

#70 Body cams use a neck slot now
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/specific.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/misc.yml
Labels: No C#

#71 merge upstream halloween 2024
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Changelog/GoobChangelog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chaplain.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chef.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hydro.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/librarian.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/LobbyScreens/attributions.yml
Labels: Changes: Map, Changes: Sprites
