Repository funky-station/funky-station, pull requests merged in 2024-12, with the labels that each got.

#145 Barratrauma
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XS

#144 Functional SmartFridge
  Content.Client/_Funkystation/Medical/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/_Funkystation/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeMenu.xaml
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeMenu.xaml.cs
  Content.Server/_Funkystation/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Shared/_Funkystation/Medical/SmartFridge/SharedSmartFridgeSystem.cs
  Content.Shared/_Funkystation/Medical/SmartFridge/SmartFridgeComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
Labels: Changes: UI, S: Untriaged, size/L

#147 makes pyrox look less like bic
  Resources/Prototypes/Reagents/medicine.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#146 Musician hardsuit
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Head/hardsuit_helmets.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/Graphs/Clothing/musician_hardsuit.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Funkystation/tags.yml
  Resources/Textures/_Funkystation/Clothing/Head/Hardsuits/musician.rsi/icon-flash.png
  Resources/Textures/_Funkystation/Clothing/Head/Hardsuits/musician.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Head/Hardsuits/musician.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Head/Hardsuits/musician.rsi/off-equipped-HELMET.png
  Resources/Textures/_Funkystation/Clothing/Head/Hardsuits/musician.rsi/on-equipped-HELMET.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Hardsuits/musician.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Hardsuits/musician.rsi/icon-incomplete.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Hardsuits/musician.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Hardsuits/musician.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Hardsuits/musician.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Hardsuits/musician.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/L, Changes: No C#

#122 Better Captain Sprites
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Neck/mantles/capmantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/capmantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/capmantle.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/captain.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/captain.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/capformal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/capformal.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/capformal.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/capformal.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/captain.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/captain.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/captain.rsi/inhand-left.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#150 SmartFridge now displays item labels
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeMenu.xaml.cs
Labels: Changes: UI, S: Untriaged, size/XS

#151 snowsday
  Resources/Audio/Lobby/angelsweheardonhigh.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/auldlangsyne.ogg
  Resources/Audio/Lobby/merrynightmerrylight.ogg
  Resources/Audio/Lobby/shoppinga.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/averyfunkychristmas.webp
  Resources/Textures/LobbyScreens/averyfunkychristmas.webp.yml
Labels: S: Untriaged, Changes: No C#, size/M

#152 Added Hristov Revolver (Millionaire's Holiday)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Textures/Objects/Weapons/Guns/Revolvers/hristov_revolver.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/hristov_revolver.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/hristov_revolver.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/hristov_revolver.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/hristov_revolver.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/hristov_revolver.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/hristov_revolver.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#153 RPD - fix volume pump and add building under tile
  Resources/Prototypes/RPD/rpd.yml
Labels: Changes: No C#, size/M

#154 Adjust healium effects for balance
  Resources/Prototypes/Reagents/gases.yml
Labels: Changes: No C#, size/S

#155 Fix for Annabelle missing from backpack.
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#156 SmartFridge is now unanchorable, also takes Syringes
  Content.Server/_Funkystation/Medical/SmartFridge/SmartFridgeSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
Labels: S: Untriaged, size/S

#148 Plasma rifle rebalance
  Content.Server/_Goobstation/WeaponRandomExplode/WeaponRandomExplodeComponent.cs
  Content.Server/_Goobstation/WeaponRandomExplode/WeaponRandomExplodeSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Battery/plasma_rifle.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, size/L, S: Needs Review

#161 Vulpkanin tail wagging
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_Funkystation/Actions/types.yml
Labels: Changes: No C#

#160 buff pyrox and related
  Resources/Prototypes/Reagents/medicine.yml
Labels: S: Untriaged, Changes: No C#, size/S

#168 Self-inserted plushies
  Resources/Locale/en-US/_Funkystation/datasets/selfplush.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Funkystation/Datasets/selfplush.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_akishjeen.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_aliceandreev.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_chadleyskrimblo.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_felixkay.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_jeeperscreepers.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_korrinkarpen.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_lintonbyers.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_lokihydrus.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_lunastargazer.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_melodyhennion.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_parfeymaelstorm.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_rikdavargh.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_silasahas.png
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_tincan.png
Labels: Changes: Sprites, S: Untriaged, size/L, Changes: No C#

#167 Added NTR mantle
  Resources/Locale/en-US/_Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/_Funkystation/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Loadouts/role_loadouts.yml
  Resources/Textures/_Funkystation/Clothing/Neck/Mantle/ntrmantle.rsi/equipped-NECK.png
  Resources/Textures/_Funkystation/Clothing/Neck/Mantle/ntrmantle.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Neck/Mantle/ntrmantle.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#169 Adds the revolutionary flashbang
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/_Funkystation/Construction/Condition/RevolutionaryCrafterHasComponent.cs
  Content.Shared/_Funkystation/Revolutionary/RevolutionaryFlashOnTriggerComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_Funkystation/Entities/Weapons/revolutionary_flashbang.yml
  Resources/Prototypes/_Funkystation/Recipes/Revolutionary/revolutionary_flashbang.yml
Labels: S: Untriaged, size/L

#170 Revolutionary Balance Changes
  Content.Shared/Implants/Components/ImplanterComponent.cs
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: S: Untriaged, size/S

#174 Port Dynamic Message Alerts + add to Borg Battery Alert
  Content.Client/Actions/UI/ActionAlertTooltip.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Systems/Alerts/Controls/AlertControl.cs
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Shared/Alert/AlertState.cs
  Content.Shared/Alert/AlertsSystem.cs
Labels: Changes: UI, size/M

#173 Ling biomass change + Headslug buff
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Resources/Prototypes/_Goobstation/Changeling/Entities/Mobs/headcrab.yml
Labels: S: Untriaged, size/M

#175 Hardlight bow
  Content.Client/_Goobstation/AmmoSelector/AmmoSelectorMenu.xaml
  Content.Client/_Goobstation/AmmoSelector/AmmoSelectorMenu.xaml.cs
  Content.Client/_Goobstation/AmmoSelector/AmmoSelectorMenuBoundUserInterface.cs
  Content.Client/_Goobstation/ToggleableLightWieldable/ToggleableLightWieldableComponent.cs
  Content.Client/_Goobstation/ToggleableLightWieldable/ToggleableLightWieldableSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Item/ItemToggle/Components/ItemToggleComponent.cs
  Content.Shared/Item/ItemToggle/ItemToggleSystem.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/UserInterface/ActivatableUIComponent.cs
  Content.Shared/UserInterface/ActivatableUISystem.cs
  Content.Shared/Wieldable/WieldableSystem.cs
  Content.Shared/_Goobstation/Projectiles/SpawnEntitiesOnHit/SpawnEntitiesOnHitComponent.cs
  Content.Shared/_Goobstation/Projectiles/SpawnEntitiesOnHit/SpawnEntitiesOnHitSystem.cs
  Content.Shared/_Goobstation/Weapons/AmmoSelector/AmmoSelectorComponent.cs
  Content.Shared/_Goobstation/Weapons/AmmoSelector/AmmoSelectorEvents.cs
  Content.Shared/_Goobstation/Weapons/AmmoSelector/SelectableAmmoPrototype.cs
  Content.Shared/_Goobstation/Weapons/AmmoSelector/SelectableAmmoSystem.cs
  Content.Shared/_Goobstation/Weapons/FoldingWeapon/FoldingWeaponComponent.cs
  Content.Shared/_Goobstation/Weapons/FoldingWeapon/FoldingWeaponSystem.cs
  Content.Shared/_Goobstation/Weapons/UseDelayBlockShoot/UseDelayBlockShootComponent.cs
  Content.Shared/_Goobstation/Weapons/UseDelayBlockShoot/UseDelayBlockShootSystem.cs
  Content.Shared/_Goobstation/Weapons/Wielding/UnwieldOnShootComponent.cs
  Content.Shared/_Goobstation/Weapons/Wielding/UnwieldOnShootSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Goobstation/weapons/gun.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_arrows.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_bow.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_bow_protos.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/arrow.rsi/arrow.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/arrow.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/arrow.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/bow-folded.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/bow.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/bowstring-equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/folded-equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/folded-equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/folded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/folded-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/inhand-left-bowstring.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/inhand-right-bowstring.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/unfolded-equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/unfolded-equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/unfolded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/unfolded-inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/unwielded-arrow.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/wielded-arrow.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/wielded-inhand-left-bowstring.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/wielded-inhand-right-bowstring.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Bow/hardlight_bow.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: UI, size/L

#179 Revert HWID PR
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Content.IntegrationTests/Tests/Commands/PardonCommand.cs
  Content.Server.Database/Migrations/Postgres/20241111170112_ModernHwid.Designer.cs
  Content.Server.Database/Migrations/Postgres/20241111170112_ModernHwid.cs
  Content.Server.Database/Migrations/Postgres/20241111193608_ConnectionTrust.Designer.cs
  Content.Server.Database/Migrations/Postgres/20241111193608_ConnectionTrust.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20241111170107_ModernHwid.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20241111170107_ModernHwid.cs
  Content.Server.Database/Migrations/Sqlite/20241111193602_ConnectionTrust.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20241111193602_ConnectionTrust.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server.Database/SnakeCaseNaming.cs
  Content.Server/Administration/BanList/BanListEui.cs
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Commands/BanListCommand.cs
  Content.Server/Administration/Commands/RoleBanListCommand.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/Administration/PlayerLocator.cs
  Content.Server/Administration/PlayerPanelEui.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Connection/UserDataExt.cs
  Content.Server/Database/BanMatcher.cs
  Content.Server/Database/DatabaseRecords.cs
  Content.Server/Database/ServerBanDef.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
  Content.Server/Database/ServerRoleBanDef.cs
  Content.Shared.Database/TypedHwid.cs
  Content.Shared/Administration/BanPanelEuiState.cs
Labels: Changes: UI, size/XL

#180 add nitrosyl plasmide and rebalance gas effects
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/EntityEffects/EffectConditions/BloodReagentThreshold.cs
  Content.Server/EntityEffects/Effects/AddReagentToBlood.cs
  Content.Server/EntityEffects/Effects/NitriumMoveSpeedModifier.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
Labels: Changes: UI, S: Untriaged, size/L

#182 added altec zorban plush
  Resources/Locale/en-US/_Funkystation/datasets/selfplush.ftl
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Funkystation/Datasets/selfplush.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_alteczorban.png
  SpaceStation14.sln
Labels: Changes: Sprites, S: Untriaged, size/L, Changes: No C#

#184 Mailbag Whitelist
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#185 Centcom Default Outfit Change
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#188 Station TTS now uses Component for Delay
  Content.Server/Chat/Systems/AnnounceTTSSystem.cs
  Content.Server/Chat/Systems/AnnounceTtsSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Shared/Silicons/StationAi/StationAiCoreComponent.cs
Labels: S: Untriaged, size/L

#186 Secret antag rate changes
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Funkystation/game_presets.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: S: Untriaged, Changes: No C#, size/M

#196 Fix Subgamemode
  Resources/Prototypes/_Funkystation/game_presets.yml
  Resources/Prototypes/_Goobstation/Changeling/Roles/Antags/changeling.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, Changes: No C#

#197 Makes it so BSO spawns with a non-syndi implanter
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#202 Port: Blueshield bags (#1013)
  Resources/Locale/en-US/_Goobstation/preferences/loadout-groups.ftl
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/blueshield.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/blueshield.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/blueshield.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/blueshield.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Back/Duffels/blueshield.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Back/Satchels/blueshield.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Clothing/Back/Satchels/blueshield.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Back/Satchels/blueshield.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Back/Satchels/blueshield.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Back/Satchels/blueshield.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#201 thief rate change
  Resources/Prototypes/GameRules/midround.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#203 Hotsprings
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Event/hotspring.yml
  Resources/Maps/Event/partybus.yml
  Resources/Prototypes/Maps/hotsprings.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#204 Fix ash heretics limbs falling off
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Shared/_Goobstation/Heretic/Heretic.Abilites.cs
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_knowledge.yml
Labels: S: Untriaged, size/S

#210 clean up /tg/ gas code
  Resources/Locale/en-US/reagents/meta/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: S: Untriaged, Changes: No C#, size/S

#209 add original gas sprites
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Textures/Effects/atmospherics.rsi/healium.png
  Resources/Textures/Effects/atmospherics.rsi/meta.json
  Resources/Textures/Effects/atmospherics.rsi/nitrium.png
  Resources/Textures/Structures/Storage/canister.rsi/brown-1.png
  Resources/Textures/Structures/Storage/canister.rsi/brown.png
  Resources/Textures/Structures/Storage/canister.rsi/bz-1.png
  Resources/Textures/Structures/Storage/canister.rsi/healium-1.png
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/purple-1.png
  Resources/Textures/Structures/Storage/canister.rsi/purple.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#212 Lower Heretic Player Req
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#211 added cyns katyn plush
  Resources/Locale/en-US/_Funkystation/datasets/selfplush.ftl
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Funkystation/Datasets/selfplush.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_cynskatyns.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#215 Arm the HAMTR
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#214 "Unfortunate Captain" Plush Changes
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Funkystation/Objects/Fun/syrrikatickum_plush.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/syrrikatickum_plush.rsi/plush_tickum.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#222 WcMonalds Event Shuttle
  Resources/Maps/Event/wcmonalds_shuttle.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#220 Flash & Baton buff
  Content.Shared/Flash/Components/FlashComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: S: Untriaged, size/S

#218 Added Kuafu Moeller self plush
  Resources/Locale/en-US/_Funkystation/datasets/selfplush.ftl
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Funkystation/Datasets/selfplush.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/self_plushie.rsi/plushie_kuafumoeller.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#213 debris spawns loot again
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGenBiome.cs
Labels: S: Untriaged, size/XS

#225 Port: Fix medborg surgery
  Resources/Prototypes/borg_types.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#223 Add (non hardsuit) Carp Costume to AutoDrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#227 Port: Add CanEscapeInventory component to BaseMobSpecies
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: S: Untriaged, Changes: No C#

#226 Port: IPC and mech fixes
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Objectives/Components/PickRandomPersonComponent.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/_EinsteinEngines/Silicon/Charge/Systems/SiliconChargeSystem.cs
  Content.Server/_EinsteinEngines/Silicon/WeldingHealable/WeldingHealableSystem.cs
  Content.Server/_Goobstation/Mech/Equipment/EntitySystems/MechGunSystem.cs
  Content.Server/_Goobstation/Temperature/KillOnOverheatComponent.cs
  Content.Server/_Goobstation/Temperature/KillOnOverheatSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_Goobstation/CCVars/CCVars.Goob.cs
  Resources/Locale/en-US/_Goobstation/power/silicons.ftl
  Resources/Maps/Dungeon/vgroidinterior.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_EinsteinEngines/Body/Parts/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Damage/modifier_sets.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_Goobstation/Changeling/Objectives/changeling.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Gun/industrial.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Melee/industrial.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/mech_parts.yml
Labels: Changes: Map, S: Untriaged, size/L

#224 ATMOS Resin Water Tank Backpack
  Content.Server/Explosion/EntitySystems/SmokeOnTriggerSystem.cs
  Content.Server/Fluids/Components/SprayComponent.cs
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Content.Shared/Chemistry/Components/SmokeComponent.cs
  Content.Shared/Explosion/Components/OnTrigger/SmokeOnTriggerComponent.cs
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Objects/Tools/firefightingnozzle.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Back/Backpacks/atmosbackpacktank.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/atmosbackpacktank.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/atmosbackpacktank.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/atmosbackpacktank.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/atmosbackpacktank.rsi/meta.json
  Resources/Textures/Effects/foam.rsi/meta.json
  Resources/Textures/Effects/foam.rsi/resin-dissolve.png
  Resources/Textures/Effects/foam.rsi/resin-east.png
  Resources/Textures/Effects/foam.rsi/resin-north.png
  Resources/Textures/Effects/foam.rsi/resin-south.png
  Resources/Textures/Effects/foam.rsi/resin-west.png
  Resources/Textures/Effects/foam.rsi/resin.png
  Resources/Textures/Objects/Weapons/Grenades/frozen-smoke-capsule.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Grenades/frozen-smoke-capsule.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/frozen-smoke-capsule.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/frozen-smoke-capsule.rsi/primed.png
  Resources/Textures/Objects/Weapons/Guns/Basic/extinguishernozzle.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Basic/extinguishernozzle.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Basic/extinguishernozzle.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Basic/extinguishernozzle.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/L

#229 Stowaway Toys arrive to the Station! (sprites / artwork by meijunkie!)
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_assistantspider.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_barkeeplizard.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_captainspider.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_cargobird.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_chaplaindog.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_chemistlizard.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_panda.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_piratemoth.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_qmmoth.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_rddog.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_rdlizard.png
  Resources/Textures/_Funkystation/Objects/Fun/stowaway_toys.rsi/plushie_skele.png
Labels: Changes: Sprites, S: Untriaged, size/L, Changes: No C#

#230 Add pluoxium and integrate tg gases with supermatter
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Reactions/BZFormationReaction.cs
  Content.Server/Atmos/Reactions/HealiumProductionReaction.cs
  Content.Server/Atmos/Reactions/NitriumDecompositionReaction.cs
  Content.Server/Atmos/Reactions/NitriumProductionReaction.cs
  Content.Server/Atmos/Reactions/PluoxiumProductionReaction.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Server/_Goobstation/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Content.Shared/_Goobstation/Supermatter/Components/SupermatterComponent.cs
  Resources/Locale/en-US/gases/gases.ftl
  Resources/Locale/en-US/reagents/meta/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Engineering/Supermatter.xml
  Resources/Textures/Structures/Storage/canister.rsi/brown-1.png
  Resources/Textures/Structures/Storage/canister.rsi/brown.png
  Resources/Textures/Structures/Storage/canister.rsi/healium-1.png
Labels: Changes: Sprites, Changes: UI, size/L

#231 nerf gas prices, rpd in CE locker, add atmos items to cargo
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, size/M

#232 Fix rev shuttle call announcement
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/presets-revolutionaries.ftl
Labels: S: Untriaged, Changes: No C#

#234 Frezon canister sprite
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/Textures/Structures/Storage/canister.rsi/frezon.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#233 Revert "snowsday"
  Resources/Audio/Lobby/angelsweheardonhigh.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/auldlangsyne.ogg
  Resources/Audio/Lobby/merrynightmerrylight.ogg
  Resources/Audio/Lobby/shoppinga.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/averyfunkychristmas.webp
  Resources/Textures/LobbyScreens/averyfunkychristmas.webp.yml
Labels: S: Untriaged, Changes: No C#, Changes: Audio

#240 Enable self surgery
  Content.Shared/CCVar/CCVars.Surgery.cs
Labels: S: Untriaged, size/XS

#238 Roid outpost
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Funkystation/roid_outpost.yml
  Resources/Prototypes/_Funkystation/Maps/roid_outpost.yml
Labels: Changes: Map, size/XL, S: Untriaged

#241 add gas abbreviations
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Locale/en-US/atmos/gases.ftl
Labels: S: Untriaged, size/XS

#239 New (Funky!) Sprites / Animation for AI while using holopads
  Resources/Textures/Mobs/Silicon/station_ai.rsi/default.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/directional.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#243 The Prayerening
  Content.Server/Prayer/PrayerSystem.cs
Labels: S: Untriaged, size/XS

#242 Hot Springs event small map update
  Resources/Maps/Event/hotspring.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#246 Buff syndicate cubes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
Labels: S: Untriaged, Changes: No C#, size/S

#249 DeltaV PDA Messaging, Goob Port
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatEntry.xaml
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NewChatPopup.xaml
  Content.Client/_DeltaV/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Client/_DeltaV/NanoChat/NanoChatSystem.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/_DeltaV/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.NanoChat.cs
  Content.Server/_DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Server/_DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/_DeltaV/NanoChat/NanoChatSystem.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbeUiState.cs
  Content.Shared/_DeltaV/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_DeltaV/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/_DeltaV/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_DeltaV/NanoChat/SharedNanoChatSystem.cs
  Resources/Locale/en-US/_DeltaV/access/components/agent-id-card-component.ftl
  Resources/Locale/en-US/_DeltaV/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DeltaV/name_identifier_groups.yml
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-chat.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/_DeltaV/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_DeltaV/Interface/VerbIcons/bell.svg
  Resources/Textures/_DeltaV/Interface/VerbIcons/bell.svg.png
  Resources/Textures/_DeltaV/Interface/VerbIcons/bell_muted.png
  Resources/Textures/_DeltaV/Misc/program_icons.rsi/meta.json
  Resources/Textures/_DeltaV/Misc/program_icons.rsi/nanochat.png
Labels: Changes: Sprites, Changes: UI, size/L

#248 Moved security bodycam from outerwear to neck in loadouts
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: No C#, size/S
