Repository funky-station/funky-station, pull requests merged in 2024-11, with the labels that each got.

#75 Retexture color clothing and humans.
  Resources/Prototypes/Entities/Clothing/Shoes/color.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
  Resources/Prototypes/Species/human.yml
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/contrastedsoles-equipped-FEET-vox.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/contrastedsoles-equipped-FEET.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/equipped-FEET-vox.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/equipped-FEET.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/soles-equipped-FEET-vox.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/soles-equipped-FEET.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/soles-icon.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/soles-inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Shoes/color.rsi/soles-inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-inhand-right.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/full.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/head_f.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/head_m.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/l_arm.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/l_foot.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/l_hand.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/l_leg.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/meta.json
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/r_arm.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/r_foot.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/r_hand.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/r_leg.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/torso_f.png
  Resources/Textures/_Funkystation/Mobs/Species/Human/parts.rsi/torso_m.png
Labels: No C#, Changes: Sprites

#76 Violet alert added
  Resources/Locale/en-US/_Funkystation/guidebook.ftl
  Resources/Prototypes/_Funkystation/Guidebook/command.yml
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/VioletAlert.xml
  Resources/ServerInfo/Funkystation/Guidebook/Command/AlertLevels.xml
Labels: No C#

#77 Updated glacier
  Resources/Maps/_Funkystation/glacier.yml
Labels: No C#, Changes: Map

#80 Minor spelling fixes w/ centcomm & blueshield backpacks
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/backpacks.yml
Labels: No C#

#74 add Divide Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/emergency_divide.yml
  Resources/Maps/_Funkystation/divide.yml
  Resources/Prototypes/_Funkystation/Maps/divide.yml
Labels: No C#, Changes: Map, Status: Needs Review

#79 Alert Level announcements tweaked to be consistent with Funky SOP
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
Labels: No C#

#81 fix le doors on le divide
  Resources/Maps/_Funkystation/divide.yml
Labels: No C#, Changes: Map

#82 make divide better
  Resources/Maps/Shuttles/emergency_divide.yml
  Resources/Maps/_Funkystation/divide.yml
Labels: No C#, Changes: Map

#83 Add divide to map pool
  Resources/Maps/_Funkystation/divide.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Funkystation/Maps/divide.yml
Labels: No C#, Changes: Map

#86 More divide work
  Resources/Maps/_Funkystation/divide.yml
  Resources/Prototypes/_Funkystation/Maps/divide.yml
Labels: No C#, Changes: Map

#87 Change antag rates
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Funkystation/game_presets.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#, Status: Needs Review

#93 Adds Cargo and Engineering SOP
  Resources/Locale/en-US/_Funkystation/guidebook.ftl
  Resources/Prototypes/_Funkystation/Guidebook/sop.yml
  Resources/ServerInfo/Funkystation/Guidebook/Cargo/CargoSOP.xml
  Resources/ServerInfo/Funkystation/Guidebook/Engineering/EngineeringSOP.xml
  Resources/ServerInfo/Funkystation/Guidebook/SOP/SOP101.xml
Labels: No C#

#94 Thwack - Harmbatoning is So Back
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: No C#

#50 Emergency party kit
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/EmergencyPartyKit.yml
  Resources/Textures/_Funkystation/Objects/Fun/EmergencyPartyKit.rsi/EmergencyPartyKit-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Fun/EmergencyPartyKit.rsi/EmergencyPartyKit-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Fun/EmergencyPartyKit.rsi/EmergencyPartyKit.png
  Resources/Textures/_Funkystation/Objects/Fun/EmergencyPartyKit.rsi/meta.json
Labels: No C#, Changes: Sprites

#92 Added Medical & Service SOP
  Resources/Locale/en-US/_Funkystation/guidebook.ftl
  Resources/Prototypes/_Funkystation/Guidebook/sop.yml
  Resources/ServerInfo/Funkystation/Guidebook/Medical/MedicalStandardOperatingProcedure.xml
  Resources/ServerInfo/Funkystation/Guidebook/SOP/SOP101.xml
  Resources/ServerInfo/Funkystation/Guidebook/Service/ServiceStandardOperatingProcedure.xml
Labels: No C#

#67 Tickum Plush (but on a different branch)
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Funkystation/Objects/Fun/syrrikatickum_plush.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/syrrikatickum_plush.rsi/plush_tickum.png
Labels: No C#, Changes: Sprites

#96 Dynamic doesn't suck now - why was this not done months ago?
  Resources/Locale/en-US/_Goobstation/game-ticking/dynamic.ftl
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/base.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
Labels: No C#

#97 oops - SOP fix!
  Resources/Prototypes/_Funkystation/Guidebook/sop.yml
Labels: No C#

#103 add ready manifest from ImpStation
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/ReadyManifest/ReadyManifestEui.cs
  Content.Client/ReadyManifest/ReadyManifestSystem.cs
  Content.Client/ReadyManifest/ReadyManifestUi.xaml
  Content.Client/ReadyManifest/ReadyManifestUi.xaml.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/ReadyManifest/ReadyManifestEui.cs
  Content.Server/ReadyManifest/ReadyManifestSystem.cs
  Content.Shared/ReadyManifest/SharedReadyManifestSystem.cs
Labels: Changes: UI, S: Untriaged, size/L

#105 Adds Annabelle
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/_Funkystation/Entities/Weapons/annabelle.yml
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle.rsi/base.png
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle.rsi/equipped-BACKPACK.png
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle_inhands_64x.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle_inhands_64x.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle_inhands_64x.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle_inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle_inhands_64x.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, size/L, Changes: No C#

#108 John Ion Storm
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#113 Aloxadone buffed to the original vision
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: S: Untriaged, Changes: No C#, size/S

#114 Adds surgery crate
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
Labels: S: Untriaged, Changes: No C#, size/S

#115 Adds stuff to ERT jani
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
Labels: Changes: No C#

#116 Brainrot Cleanup
  Resources/Maps/Shuttles/emergency_raven.yml
  Resources/Maps/_Goobstation/barratry.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/generators_first.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/singularity_last.yml
  Resources/Prototypes/_Goobstation/Datasets/Names/supermatter_last.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Fun/immovable_rod.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/boxes.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_Goobstation/Flavors/flavors.yml
  Resources/Prototypes/_Goobstation/GameRules/pests.yml
  Resources/Prototypes/_Goobstation/Reagents/alcohol.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_Goobstation/status_effects.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#117 Heretics now trigger Delta station alert after they ascend
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticSystem.cs
  Content.Shared/_Goobstation/Heretic/Components/HereticComponent.cs
Labels: S: Untriaged, size/M

#119 Add custom gases to yaml files
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: S: Untriaged, Changes: No C#, size/S

#120 Mirror Goob Changes to Surgery
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Resources/Locale/en-US/_Shitmed/surgery-popup.ftl
  Resources/Prototypes/Body/Parts/silicon.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
Labels: S: Untriaged, size/L

#121 Train
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XS

#124 Remove Divide
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#, size/XS

#126 1984 Divide
  Resources/Maps/_Funkystation/divide.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, size/XL, Changes: No C#

#127 Space Law in NTR Locker
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#123 Funkychem, so realll :3
  Resources/Locale/en-US/_Funkystation/chemexpansion.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Maps/Shuttles/ShuttleEvent/flatline.yml
  Resources/Maps/Shuttles/emergency_meta.yml
  Resources/Maps/_Goobstation/Nonstations/nukieplanet.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/medical.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/smokables.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Hydroponics/randomChemicals.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
  Resources/Prototypes/_Funkystation/Reagents/exotic.yml
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
  Resources/Prototypes/_Funkystation/Reagents/toxins.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/exotic.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/toxins.yml
  Resources/Prototypes/_Funkystation/mapfixes.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mail/mail_medical.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch_prefilled.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/Medical/medkits.yml
  Resources/ServerInfo/Guidebook/Medical/AdvancedBrute.xml
  Resources/ServerInfo/Guidebook/Medical/Botanicals.xml
  Resources/ServerInfo/Guidebook/Medical/MedicalDoctor.xml
  Resources/ServerInfo/Guidebook/Medical/Medicine.xml
  Resources/ServerInfo/Guidebook/Service/Botany.xml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#130 Port surgery fixes from goob
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/SanitizedComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/SurgeryStepEvent.cs
  Resources/Prototypes/Body/Parts/silicon.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
  Resources/Prototypes/_Shitmed/Body/Parts/generic.yml
Labels: S: Untriaged, size/L

#135 Surgery crate fix
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#136 Discord Ahelp Reply System (#2283)
  Content.Server/Administration/ServerApi.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Discord/WebhookPayload.cs
Labels: S: Untriaged, size/L

#131 Pyro update
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: S: Untriaged, size/L, Changes: No C#

#138 Rattler Handcannon
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Textures/Objects/Weapons/Guns/Revolvers/rattler.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/rattler.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/rattler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/rattler.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/rattler.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/rattler.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/rattler.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#132 Cops and Robbers
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/fun.yml
Labels: S: Untriaged, Changes: No C#, size/M

#139 Port "Major Shitmed Bugfixes" from Goob
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml.cs
  Content.Server/Body/Commands/AddHandCommand.cs
  Content.Server/Body/Commands/AttachBodyPartCommand.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Server/_Shitmed/Targeting/TargetingSystem.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Content.Shared/_Shitmed/Body/Part/BodyPartAppearanceComponent.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.PartAppearance.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Targeting.cs
  Content.Shared/_Shitmed/BodyEffects/Subsystems/GenerateChildPartSystem.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Targeting/Events.cs
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Locale/en-US/_Shitmed/inventory/slot-popup.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-popup.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-tools.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-ui.ftl
  Resources/Locale/en-US/_Shitmed/technologies/technologies.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/security.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
Labels: Changes: UI, size/L

#142 Remove Divide
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XS

#140 AHelp Replies: The Configuration Update
  Content.Server/Administration/ServerApi.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Shared/CCVar/CCVars.Admin.cs
Labels: S: Untriaged, size/L

#143 Added Cirno plushie to loadout
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: S: Untriaged, Changes: No C#, size/XS
