Repository funky-station/funky-station, pull requests merged in 2025-02, with the labels that each got.

#350 Fixes kobolds not having a species name
  Resources/Locale/en-US/species/species.ftl
Labels: S: Untriaged, Changes: No C#, size/XS

#345 Fix Security Clown showing up in job pref. / loadout UI thing
  Resources/Prototypes/Roles/Jobs/Wildcards/security_clown.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#348 New qm sprites
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/meta.json
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/flipped-inhand-left.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/flipped-inhand-right.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/icon_flipped.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/qm.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Bedsheets/qm.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Bedsheets/qm.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Bedsheets/qm.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/meta.json
  Resources/Textures/Clothing/Neck/mantles/qmmantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/qmmantle.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/QM-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/QM-icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/QM-inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/QM-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qmturtleskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qmturtleskirt.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qmturtleskirt.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qmturtleskirt.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qmturtleskirt.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#343 funkychem phase 1
  Resources/Locale/en-US/_Funkystation/reagents/meta/exotics.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/toxins.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Funkystation/Maps/mapfixes.yml
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/toxins.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch_prefilled.yml
  Resources/ServerInfo/Guidebook/Medical/AdvancedBrute.xml
  Resources/ServerInfo/Guidebook/Medical/MedicalDoctor.xml
Labels: Changes: Map, size/L, Changes: No C#

#346 packed station power set-up revamp
  Resources/Maps/_Funkystation/packed.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#352 Hyposhells
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/_Funkystation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Funkystation/Entities/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_Funkystation/Entities/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/base.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/hypo.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-1.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-2.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-3.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-4.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/hypo-spent.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/hypo.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#354 MAKE CIGARETTES GRINDABLE AGAIN
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#355 Remove Train
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XS

#351 atmospheric gas pricing rebalance
  Resources/Prototypes/Atmospherics/gases.yml
Labels: S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#356 The Clown Mask Add-ening
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/clown.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Masks/masks.yml
  Resources/Textures/_Funkystation/Clothing/Mask/devilclown.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_Funkystation/Clothing/Mask/devilclown.rsi/equipped-MASK-vox.png
  Resources/Textures/_Funkystation/Clothing/Mask/devilclown.rsi/equipped-MASK.png
  Resources/Textures/_Funkystation/Clothing/Mask/devilclown.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Mask/devilclown.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Mask/gambleclown.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_Funkystation/Clothing/Mask/gambleclown.rsi/equipped-MASK-vox.png
  Resources/Textures/_Funkystation/Clothing/Mask/gambleclown.rsi/equipped-MASK.png
  Resources/Textures/_Funkystation/Clothing/Mask/gambleclown.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Mask/gambleclown.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Mask/juggleclown.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_Funkystation/Clothing/Mask/juggleclown.rsi/equipped-MASK-vox.png
  Resources/Textures/_Funkystation/Clothing/Mask/juggleclown.rsi/equipped-MASK.png
  Resources/Textures/_Funkystation/Clothing/Mask/juggleclown.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Mask/juggleclown.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#357 Self-insert and Stowaway spawn removal
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Labels: S: Untriaged, Changes: No C#, size/S

#349 Funky accent from goon
  Content.Server/_Funkystation/Speech/EntitySystems/FunkyAccentSystem.cs
Labels: S: Untriaged, size/M

#361 [port] sparklechickens
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Locale/en-US/_Impstation/markings/vox.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_parts.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/vox.yml
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/balding.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/beardlargewattle.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/beardpadovana.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/beardsmallwattle.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/earhole.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/featheredlegl.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/featheredlegr.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/friendsfeather1.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/friendsfeather2.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/hairemover.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/hairpadovana.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/hairpolish.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/hairwindswept.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/largecomb.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/neckband.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/scarheadblasted.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/scarincision.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/scarmangled.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/scarspinal.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/sidequills1.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/sidequills2.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/sidequills3.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/spotsarml.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/spotsarmr.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/spotschest1.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/spotschest2.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/spotstail.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/streamers1.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/streamers2.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/streamers3.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/tailbloom1.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/tailbloom2.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/tailbloom3.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/vchest1.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/vchest2.png
  Resources/Textures/_Impstation/Mobs/Customization/voxbundle1.rsi/vchest3.png
Labels: Changes: Sprites, Changes: No C#, size/M

#360 revert saltern supermatter engine update
  Resources/Maps/_Funkystation/saltern.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#362 Roid Botony + Kitchen rework
  Resources/Maps/_Funkystation/roid_outpost.yml
Labels: Changes: Map, Changes: No C#

#363 Rebalanced weights of antags & subgamemodes
  Content.Shared/GameTicking/Components/GameRuleComponent.cs
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/secret_weights.yml
Labels: S: Untriaged, size/S

#359 Port AI preferred name from goob
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Resources/Locale/en-US/_Goobstation/preferences/ui/humanoid-profile-editor.ftl
Labels: S: Untriaged, size/XS

#365 Heretic Wording change v1
  Resources/Locale/en-US/_Goobstation/Heretic/abilities/heretic.ftl
Labels: S: Untriaged, Changes: No C#, size/XS

#366 Bluespace Implant description change
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
Labels: S: Untriaged, Changes: No C#, size/S

#358 funkychem phase 2
  Resources/Locale/en-US/_Funkystation/reagents/meta/medicine.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/medical.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/smokables.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Hydroponics/randomChemicals.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
  Resources/Prototypes/_Funkystation/Maps/mapfixes.yml
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/toxins.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mail/mail_medical.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch_prefilled.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/Medical/medkits.yml
  Resources/ServerInfo/Guidebook/Medical/AdvancedBrute.xml
  Resources/ServerInfo/Guidebook/Medical/Botanicals.xml
  Resources/ServerInfo/Guidebook/Medical/MedicalDoctor.xml
  Resources/ServerInfo/Guidebook/Medical/Medicine.xml
  Resources/ServerInfo/Guidebook/Service/Botany.xml
Labels: Changes: Map, size/L, Changes: No C#

#371 Revert "Bluespace Implant description change (#366)"
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
Labels: S: Untriaged, Changes: No C#, size/S

#370 Changes to holopad wattage
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#373 literally 1984
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/TOFUNK.webp
  Resources/Textures/LobbyScreens/TOFUNK.webp.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: S: Untriaged, Changes: No C#, size/S

#367 Heretic wording changes 1.1
  Resources/Locale/en-US/_Goobstation/Heretic/heretic/ascensions.ftl
  Resources/Locale/en-US/_Goobstation/Heretic/heretic/misc.ftl
  Resources/Locale/en-US/_Goobstation/Heretic/heretic/rituals.ftl
  Resources/Locale/en-US/_Goobstation/Heretic/roles/heretic.ftl
Labels: Changes: No C#, size/S

#368 Smoking while sleeping in bed may set you on fire
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
Labels: S: Untriaged, size/S

#374 Port Vent Critter Event Rework
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Locale/en-US/deltav/station-events/events/vent-critters.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
Labels: S: Untriaged, size/M

#372 Roid the continuing now with Solars!
  Resources/Maps/_Funkystation/roid_outpost.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#382 Added Lawyer SOP
  Resources/ServerInfo/Funkystation/Guidebook/Legal/LegalSOP.xml
Labels: S: Untriaged, Changes: No C#, size/S

#377 Uranium Reinforced Walls
  Resources/Prototypes/Recipes/Construction/Graphs/materials/metal_rod.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/materials.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Funkystation/Stacks/Materials/parts.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Funkystation/Objects/Materials/uranium_rods.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Materials/uranium_rods.rsi/rods-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Materials/uranium_rods.rsi/rods-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Materials/uranium_rods.rsi/rods.png
  Resources/Textures/_Funkystation/Objects/Materials/uranium_rods.rsi/rods_2.png
  Resources/Textures/_Funkystation/Objects/Materials/uranium_rods.rsi/rods_3.png
  Resources/Textures/_Funkystation/Objects/Materials/uranium_rods.rsi/rods_4.png
  Resources/Textures/_Funkystation/Objects/Materials/uranium_rods.rsi/rods_5.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_construct-0.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_construct-1.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_construct-2.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_construct-3.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_construct-4.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_construct-5.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_over0.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_over1.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_over2.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_over3.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_over4.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_over5.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_over6.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinf_over7.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/reinforced_wall_girder.png
  Resources/Textures/_Funkystation/Structures/Walls/reinforced_uranium.rsi/rgeneric.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#384 Literally 1984 for real
  Resources/Textures/LobbyScreens/TOFUNK.webp.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#378 Luxury Hardsuit Spawns in QM Locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#383 Fixing the dmv pt2
  Resources/Maps/_Funkystation/DMVStation.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#388 New Legal and Sec SOP
  Resources/ServerInfo/Funkystation/Guidebook/Legal/LegalSOP.xml
  Resources/ServerInfo/Funkystation/Guidebook/Security/SecurityStandardOperatingProcedure.xml
Labels: S: Untriaged, Changes: No C#, size/M

#386 Added Internal Affairs stamp
  Resources/Locale/en-US/_Funkystation/paper/stamp-component.ftl
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_Funkystation/Roles/Jobs/Command/internal_affairs_agent.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-iaa.png
  Resources/Textures/_Funkystation/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Misc/stamps.rsi/stamp-iaa.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#387 Changeling Infections
  Content.Server/_Funkystation/EntityEffects/CureChangelingInfection.cs
  Content.Server/_Goobstation/Changeling/ChangelingEggSystem.cs
  Content.Server/_Goobstation/Changeling/ChangelingInfectionSystem.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Shared/_Goobstation/Changeling/Changeling.Actions.cs
  Content.Shared/_Goobstation/Changeling/Changeling.DoAfter.cs
  Content.Shared/_Goobstation/Changeling/ChangelingInfectionComponent.cs
  Content.Shared/_Goobstation/Changeling/ChangelingInfectionImplantComponent.cs
  Resources/Locale/en-US/_Funkystation/chemistry/effects.ftl
  Resources/Locale/en-US/_Funkystation/implant/implant.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Goobstation/changeling/abilities/changeling.ftl
  Resources/Locale/en-US/_Goobstation/changeling/store/changeling-catalog.ftl
  Resources/Prototypes/_Funkystation/Implants/implanters.yml
  Resources/Prototypes/_Funkystation/Implants/subdermal_implants.yml
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Funkystation/Store/uplink_catalog.yml
  Resources/Prototypes/_Funkystation/tags.yml
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
  Resources/Prototypes/_Goobstation/Changeling/Catalog/changeling_catalog.yml
Labels: Changes: No C#, size/M, S: Needs Review

#369 funkychem phase 3
  Content.Server/_Goobstation/Blob/BlobFactorySystem.cs
  Resources/Locale/en-US/_Funkystation/reagents/meta/exotics.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/toxins.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/Prototypes/Hydroponics/randomChemicals.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_Funkystation/Maps/mapfixes.yml
  Resources/Prototypes/_Funkystation/Reagents/exotic.yml
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
  Resources/Prototypes/_Funkystation/Reagents/toxins.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/exotic.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/toxins.yml
  Resources/Prototypes/_Goobstation/Entities/Specific/Medical/medkits.yml
  Resources/ServerInfo/Funkystation/Guidebook/ChemicalTabs/Exotic.xml
  Resources/ServerInfo/Guidebook/Chemicals.xml
  Resources/ServerInfo/Guidebook/Medical/Chemist.xml
Labels: S: Untriaged, Changes: No C#, size/M

#391 Changeling Infection Bug Fixes
  Content.Server/_Goobstation/Changeling/ChangelingInfectionSystem.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Resources/Locale/en-US/_Funkystation/implant/implant.ftl
  Resources/Locale/en-US/_Goobstation/changeling/abilities/changeling.ftl
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
Labels: S: Untriaged, size/S

#394 Add the wizard suit to theatrical performances crate 2
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#381 Revert Packed to Singulo
  Resources/Maps/packed.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M

#398 Frontier mosin port (#1618)
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: S: Untriaged, size/S

#399 Fixing ISerializationGeneration errors or THE pull request of all time
  .gitmodules
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
  Content.Shared/StepTrigger/Components/StepTriggerImmuneComponent.cs
Labels: S: Untriaged, size/XS

#406 Changeling infection tweaks
  Content.Shared/_Goobstation/Changeling/ChangelingInfectionComponent.cs
Labels: S: Untriaged, size/XS

#408 Remapped Perma (Oasis)
  Resources/Maps/_Funkystation/oasis.yml
  Resources/Maps/oasis.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#410 Revs: Revolutionaries can no longer see each others rev status
  Resources/Prototypes/StatusIcon/faction.yml
Labels: Changes: No C#, size/XS

#402 The Traitening - Ports Monolith's Traits, 14 New Traits
  Content.Client/Access/UI/AccessOverriderWindow.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Server/_Goobstation/Religion/ReligionSystem.cs
  Content.Server/_Mono/Traits/BrittleBonesSystem.cs
  Content.Server/_Mono/Traits/LiquorLifeline.cs
  Content.Server/_Mono/Traits/SelfAwareSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Content.Shared/_Mono/Traits/BrittleBonesComponent.cs
  Content.Shared/_Mono/Traits/LiquorLifeline.cs
  Content.Shared/_Mono/Traits/SelfAwareComponent.cs
  Resources/Locale/en-US/_Funkystation/preferences/loadout-groups.ftl
  Resources/Locale/en-US/_Funkystation/traits/traits.ftl
  Resources/Locale/en-US/_Mono/Traits/traits.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Loadouts/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Traits/alcoholtolerance.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/_DV/Traits/altvision.yml
  Resources/Prototypes/_Funkystation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Funkystation/Traits/quirks.yml
  Resources/Prototypes/_Goobstation/Traits/categories.yml
  Resources/Prototypes/_Goobstation/Traits/religions.yml
  Resources/Prototypes/_Mono/Traits/quirks.yml
Labels: Changes: UI, size/M

#412 corgium nerf
  Resources/Locale/en-US/_Funkystation/reagents/meta/exotics.ftl
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/_Funkystation/Reagents/exotic.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/exotic.yml
Labels: S: Untriaged, Changes: No C#, size/S

#425 Map updates
  Resources/Maps/_Funkystation/amber.yml
  Resources/Maps/_Funkystation/core.yml
  Resources/Maps/_Funkystation/omega.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#413 revamped box atmospherics, mapped a simple TEG setup
  Resources/Maps/_Funkystation/box.yml
Labels: Changes: Map, size/XL, Changes: No C#

#424 More wintercoats
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
Labels: S: Untriaged, Changes: No C#, size/S

#428 Space Law Changes
  Resources/ServerInfo/Guidebook/Security/SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: S: Untriaged, Changes: No C#, size/S

#421 Remapped Perma Oasis (Again) 😃
  Resources/Maps/_Funkystation/oasis.yml
  Resources/Maps/oasis.yml
Labels: Changes: Map, size/XL, Changes: No C#

#430 Pda cartridge case
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/PDA_cartridge_case.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/cart-mail.png
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Storage/PDA_cartridge_case.rsi/closed.png
  Resources/Textures/_Funkystation/Objects/Storage/PDA_cartridge_case.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Storage/PDA_cartridge_case.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Storage/PDA_cartridge_case.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Storage/PDA_cartridge_case.rsi/open.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#432 Small wording tweak
  Resources/ServerInfo/Guidebook/Security/SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: No C#, size/XS

#420 Vocaloid names for Syndicates (and fixes nukie titles)
  Resources/Prototypes/Datasets/Names/death_commando.yml
  Resources/Prototypes/Datasets/Names/syndicate.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
Labels: S: Untriaged, Changes: No C#, size/S

#433 Don't look at this PR
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/funkops.webp
  Resources/Textures/LobbyScreens/funkops.webp.yml
Labels: S: Untriaged, Changes: No C#, size/S

#434 roingening 2
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_Funkystation/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/dead.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/equipped-HELMET.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/icon.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/meta.json
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/roingus-moving.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/roingus.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/splat.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#443 Fixed health analyzer limb display and asserts on Heretic mansus
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Specific/heretic.yml
Labels: Changes: UI, S: Untriaged

#439 readd pluox to the sm
  Content.Server/_EE/Supermatter/Systems/SupermatterSystem.Processing.cs
Labels: S: Untriaged, size/S

#442 Roid now with SM monitor and Courthouse!
  Resources/Maps/_Funkystation/roid_outpost.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#444 Add Psychologist Clothes to MediDrobe
  medidrobe.yml
Labels: S: Untriaged, Changes: No C#, size/S

#451 The Progression Cloak.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Funkystation/Clothing/Neck/Cloaks/pride.rsi/equipped-NECK.png
  Resources/Textures/_Funkystation/Clothing/Neck/Cloaks/pride.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Neck/Cloaks/pride.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Neck/Cloaks/pride.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Neck/Cloaks/pride.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#441 Change evil corgium descriptor
  Resources/Prototypes/_Funkystation/Reagents/exotic.yml
Labels: S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#446 sm doesn't take damage while inactive anymore
  Content.Server/_EE/Supermatter/Systems/SupermatterSystem.Processing.cs
Labels: S: Untriaged, size/XS

#447 update cling guidebook
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Changelings.xml
Labels: S: Untriaged, Changes: No C#, size/S

#456 Reverts the 'Rebalance' done to disablers by wizards upstream
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: S: Untriaged, Changes: No C#, size/S

#459 makes maxim hardsuit real
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#458 ummmm fixes another spelling mistake
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Shields/shields.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#453 Give IPCs the finger(print)
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: S: Untriaged, Changes: No C#, size/XS
