Repository funky-station/funky-station, pull requests merged in 2025-06, with the labels that each got.

#848 Make money edible
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
Labels: S: Untriaged, Changes: No C#

#836 Makes reptiloids able to eat chili
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: S: Untriaged, Changes: No C#

#841 Thaven blood doesn't affect Thaven
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_Impstation/Reagents/biological.yml
Labels: S: Untriaged, Changes: No C#

#850 Add eyes tag to animal eyes
  Resources/Prototypes/_Shitmed/Body/Organs/Animal/animal.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#832 Remove Uplink Ammo Sale
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: S: Untriaged, Changes: No C#, size/S

#855 Adds Velociraptor Cube to emagged biocube fabricators
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Funkystation/Recipes/Lathes/rehydrateable.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#864 breathing hotfix
  Content.Server/Body/Components/LungComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: S: Untriaged, size/S

#845 Organ content consistency, mystery meat, and mystery meat products
  Resources/Locale/en-US/_Funkystation/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/Animal/ruminant.yml
  Resources/Prototypes/Body/Organs/Animal/slimes.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/dwarf.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/rat.yml
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/_DV/Body/Organs/harpy.yml
  Resources/Prototypes/_DV/Body/Organs/vulpkanin.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Consumable/Foods/burger.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Consumable/Foods/meat.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Consumable/Foods/soup.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/Graphs/food/steak.yml
  Resources/Prototypes/_Funkystation/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/food.yml
  Resources/Prototypes/_Impstation/Body/Organs/thaven.yml
  Resources/Prototypes/_Shitmed/Body/Organs/Animal/animal.yml
  Resources/Textures/_Funkystation/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Consumable/Food/bowl.rsi/mysterystew.png
  Resources/Textures/_Funkystation/Objects/Consumable/Food/burger.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Consumable/Food/burger.rsi/sloppyjoe.png
  Resources/Textures/_Funkystation/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Consumable/Food/meat.rsi/mysterycutlet-cooked.png
  Resources/Textures/_Funkystation/Objects/Consumable/Food/meat.rsi/mysterycutlet.png
  Resources/Textures/_Funkystation/Objects/Consumable/Food/meat.rsi/mysterymeat-cooked.png
  Resources/Textures/_Funkystation/Objects/Consumable/Food/meat.rsi/mysterymeat.png
Labels: Changes: Sprites, Changes: No C#, size/M

#859 Changeling/Antag weight Update
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Shared/_Goobstation/Changeling/AbsorbedSystem.cs
  Content.Shared/_Goobstation/Changeling/ChangelingComponent.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Targeting.cs
  Resources/Locale/en-US/_Goobstation/changeling/abilities/changeling.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/secret_weights.yml
  Resources/ServerInfo/Guidebook/ServerRules/Metashield.xml
Labels: S: Untriaged, Changes: No C#, size/M

#867 Make smoke implant removable
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#876 Deimplant fix 2: Radio & Fake Mindshield
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#879 Crystallizer Rebalance
  Resources/Prototypes/_Funkystation/Atmospherics/crystallizer.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#870 Shuttleloop hotfix
  Content.Server/_Goobstation/GameTicking/Rules/BlobRuleSystem.cs
  Resources/Locale/en-US/_Goobstation/blob/blob.ftl
Labels: S: Untriaged, size/S

#851 Medical patch tweaks
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Medical/Medicalpatches.xml
Labels: Changes: No C#, size/M, S: Needs Review

#873 Add duration to narcolepsy reset description
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
Labels: S: Untriaged, Changes: No C#, size/XS

#844 Bounty tweaks and fixing the bounty console ui
  Content.Client/Cargo/UI/BountyEntry.xaml
  Resources/Prototypes/_Funkystation/Catalog/Bounties/bountyCategories.yml
Labels: Changes: UI, S: Untriaged, Changes: No C#, size/M

#857 Custom Names in Loadouts for non-Silicons
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: S: Untriaged, size/S

#869 Pioneer updates
  Resources/Maps/_Harmony/barratry.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#878 Random Spawns
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/general.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/maints.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/spawnertables.yml
  Resources/Textures/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/Structures/Furniture/chairs.rsi/rainbow_chair.png
  Resources/Textures/Structures/Storage/canister.rsi/can-rainbow.png
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/rainbow_locker.png
  Resources/Textures/Structures/Storage/tanks.rsi/meta.json
  Resources/Textures/Structures/Storage/tanks.rsi/rainbow_tank.png
  Resources/Textures/_Funkystation/Objects/Tools/rainbow_toolbox.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Tools/rainbow_toolbox.rsi/rainbow_toolbox.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#882 Added admin glasses to NTR locker
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#883 Remove EOC guidelines
  Resources/Prototypes/_Funkystation/Guidebook/sop.yml
  Resources/ServerInfo/Funkystation/Guidebook/Security/EnemiesOfTheCorporation.xml
Labels: S: Untriaged, Changes: No C#

#884 Bagel Water Vapor Miner
  Resources/Maps/_Funkystation/bagel.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#886 Fix incredibly important typo in the species guidebook page
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: S: Untriaged, Changes: No C#, size/XS

#891 Change IAA sign to IA
  Resources/Textures/Structures/Wallmounts/signs.rsi/iaa.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#892 Rule 1 Changes
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC1DBAA.xml
Labels: S: Untriaged, Changes: No C#, size/S

#903 Fix protectionTime from Jamgoggles
  Resources/Prototypes/_Funkystation/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: No C#, size/XS

#904 [port] Added the Home Run Bat from Delta-V
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Melee/home_run_bat.yml
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/icon.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/wielded-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, size/S

#909 Prevents humanoids delimbing/gibbing from low pressure
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
Labels: S: Untriaged, size/XS

#914 X-01 file change and description change
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: S: Untriaged, Changes: No C#, size/M

#911 Reagent bounties
  Content.Client/Cargo/UI/BountyEntry.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Shared/Cargo/CargoBountyData.cs
  Content.Shared/Cargo/CargoBountyItemData.cs
  Content.Shared/Cargo/Prototypes/CargoBountyPrototype.cs
  Content.Shared/Cargo/Serialization/CargoBountyItemDataTypeSerializer.cs
  Content.Shared/Cargo/Serialization/CargoBountyItemEntryTypeSerializer.cs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
  Resources/Prototypes/_Funkystation/Catalog/Bounties/bountyCategories.yml
Labels: Changes: UI, S: Untriaged, size/M

#921 Small bugfixes
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/projectile_grenades.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/tags.yml
Labels: Changes: No C#, size/S

#920 Add Fland into the map pool for real
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#, size/XS

#919 Emotional Support Crowbar
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/maints.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/spawnertables.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Tools/cute_crowbars.yml
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/cover-equipped-BELT.png
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/cover-icon.png
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/cover-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/cover-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/equipped-BELT.png
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/pink-storage.png
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/purple-storage.png
  Resources/Textures/_Funkystation/Objects/Tools/cutecrowbar.rsi/rainbow_crowbar.png
Labels: Changes: Sprites, Changes: No C#, size/M

#881 New Chem: Sievertadone
  Resources/Locale/en-US/_Funkystation/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/medicine.yml
Labels: S: Untriaged, Changes: No C#, size/S

#896 Shiva ghost role
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: No C#, size/S

#922 Porting tape recorder from DeltaV
  Content.Client/_DV/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/_DV/TapeRecorder/UI/TapeRecorderBoundUserInterface.cs
  Content.Client/_DV/TapeRecorder/UI/TapeRecorderWindow.xaml
  Content.Client/_DV/TapeRecorder/UI/TapeRecorderWindow.xaml.cs
  Content.Server/_DV/TapeRecorder/TapeRecorderSystem.cs
  Content.Shared/_DV/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/_DV/TapeRecorder/Components/FitsInTapeRecorderComponent.cs
  Content.Shared/_DV/TapeRecorder/Components/TapeCasetteComponent.cs
  Content.Shared/_DV/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/_DV/TapeRecorder/Systems/SharedTapeRecorderSystem.cs
  Content.Shared/_DV/TapeRecorder/TapeCasetteRecordedMessage.cs
  Content.Shared/_DV/TapeRecorder/TapeRecorderUI.cs
  Resources/Audio/_DV/Items/TapeRecorder/attributions.yml
  Resources/Audio/_DV/Items/TapeRecorder/play.ogg
  Resources/Audio/_DV/Items/TapeRecorder/rewind.ogg
  Resources/Audio/_DV/Items/TapeRecorder/stop.ogg
  Resources/Locale/en-US/_DV/taperecorder/taperecorder.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_DV/Recipes/Lathes/misc.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/tape_recorder.yml
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/empty.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/idle.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/playing.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/recording.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/rewinding.png
  Resources/Textures/_DV/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_DV/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: Sprites, Changes: UI, size/L, Changes: Audio

#847 Changes to Cluster's Atmos and Engineering
  Resources/Maps/_Funkystation/cluster.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#957 merging
  Resources/Prototypes/Recipes/Construction/lighting.yml
  Resources/Prototypes/Recipes/Construction/materials.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/_Funkystation/BloodCult/Recipes/Construction/constructs.yml
  Resources/Prototypes/_Funkystation/BloodCult/Recipes/Construction/structures.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/Graphs/Structures/structures.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/Graphs/utilities.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Crafting/chemical_mixer.yml
  Resources/Prototypes/_NF/Recipes/Construction/furniture.yml
Labels: S: Untriaged, Changes: No C#, size/M

#928 Thavens are fixed now, everyone clap
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: S: Untriaged, Changes: No C#

#933 New wehnade fun item
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/Objects/Weapons/Grenades/wehnade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/wehnade.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Grenades/wehnade.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Grenades/wehnade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/wehnade.rsi/primed.png
Labels: Changes: Sprites, Changes: No C#, size/S

#940 Pride mantle port and adjustments
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Harmony/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/_Harmony/tags.yml
  Resources/Textures/_Harmony/Clothing/Neck/mantles/acemantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/acemantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/acemantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aroacemantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aroacemantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aroacemantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aromantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aromantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/aromantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/bisexualmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/bisexualmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/bisexualmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/enbymantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/enbymantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/enbymantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/gaymantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/gaymantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/gaymantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/genderfluidmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/genderfluidmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/genderfluidmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/intersexmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/intersexmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/intersexmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/lesbianmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/lesbianmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/lesbianmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/pansexualmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/pansexualmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/pansexualmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/rainbowmantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/rainbowmantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/rainbowmantle.rsi/meta.json
  Resources/Textures/_Harmony/Clothing/Neck/mantles/transgendermantle.rsi/equipped-NECK.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/transgendermantle.rsi/icon.png
  Resources/Textures/_Harmony/Clothing/Neck/mantles/transgendermantle.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#950 Organic shield fix
  Content.Server/Destructible/Thresholds/Behaviors/RemoveOrganicShield.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Changeling/ChangelingSystem.cs
  Content.Shared/_Goobstation/Changeling/ChangelingComponent.cs
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Shields/shields.yml
Labels: S: Untriaged, size/S

#927 [port] Vox sounds from Impstation (and a few from Goob)
  Resources/Audio/_Goobstation/Voice/Vox/attributions.yml
  Resources/Audio/_Goobstation/Voice/Vox/vox_cough.ogg
  Resources/Audio/_Goobstation/Voice/Vox/vox_deathgasp.ogg
  Resources/Audio/_Goobstation/Voice/Vox/vox_sneeze.ogg
  Resources/Audio/_Impstation/Voice/Vox/attributions.yml
  Resources/Audio/_Impstation/Voice/Vox/voxchitter1.ogg
  Resources/Audio/_Impstation/Voice/Vox/voxchitter2.ogg
  Resources/Audio/_Impstation/Voice/Vox/voxcoo1.ogg
  Resources/Audio/_Impstation/Voice/Vox/voxcoo2.ogg
  Resources/Audio/_Impstation/Voice/Vox/voxcry.ogg
  Resources/Audio/_Impstation/Voice/Vox/voxgasp1.ogg
  Resources/Audio/_Impstation/Voice/Vox/voxgasp2.ogg
  Resources/Audio/_Impstation/Voice/Vox/voxgasp3.ogg
  Resources/Audio/_Impstation/Voice/Vox/voxhiss.ogg
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/SoundCollections/harpy.yml
  Resources/Prototypes/SoundCollections/screams.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Voice/speech_emotes.yml
  Resources/Prototypes/_Funkystation/tags.yml
  Resources/Textures/_Impstation/Interface/Emotes/attributions.yml
  Resources/Textures/_Impstation/Interface/Emotes/coo.png
Labels: S: Untriaged, Changes: No C#, size/M, Changes: Audio

#960 [port] Adding RMC's pump action feature
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_RMC14/Weapons/Ranged/PumpActionSystem.cs
  Content.Server/_RMC14/Weapons/Ranged/PumpActionSystem.cs
  Content.Shared/_RMC14/Input/CMKeyFunctions.cs
  Content.Shared/_RMC14/Weapons/Common/UniqueActionComponent.cs
  Content.Shared/_RMC14/Weapons/Common/UniqueActionEvent.cs
  Content.Shared/_RMC14/Weapons/Common/UniqueActionSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/PumpActionComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/SharedPumpActionSystem.cs
  Resources/Audio/_RMC14/Weapons/Guns/Pump/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Pump/shotgunpump1.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Pump/shotgunpump2.ogg
  Resources/Locale/en-US/_RMC14/weapons/guns.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_RMC14/Audio/gun_sound_collections.yml
  Resources/keybinds.yml
Labels: Changes: UI, S: Untriaged, size/M, Changes: Audio

#946 New boot sounds for combat/jackboots
  Resources/Audio/_Funkystation/Effects/Footsteps/attributions.yml
  Resources/Audio/_Funkystation/Effects/Footsteps/bootstep1.ogg
  Resources/Audio/_Funkystation/Effects/Footsteps/bootstep2.ogg
  Resources/Audio/_Funkystation/Effects/Footsteps/bootstep3.ogg
  Resources/Audio/_Funkystation/Effects/Footsteps/bootstep4.ogg
  Resources/Audio/_Funkystation/Effects/Footsteps/bootstep5.ogg
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/_Funkystation/SoundCollections/footsteps.yml
Labels: S: Untriaged, Changes: No C#, Changes: Audio

#942 removed the smuggler satchel from the salvage shuttle
  Resources/Maps/Shuttles/mining.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#962 Added bounty weighting and entry step sizes
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Shared/Cargo/Prototypes/CargoBountyPrototype.cs
Labels: S: Untriaged, size/S

#967 Fix/tweak item toggling for slime people and in pockets
  Content.Shared/Item/SharedItemSystem.cs
Labels: S: Untriaged, size/S

#949 Bricktoss.gif
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/brick.yml
  Resources/Textures/_Funkystation/Objects/Misc/brick.rsi/brick.png
  Resources/Textures/_Funkystation/Objects/Misc/brick.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Misc/brick.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Misc/brick.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#945 Update Changelog (#929)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#

#965 Adding new noises for lizards
  Resources/Audio/_Funkystation/Voice/Reptilian/attributions.yml
  Resources/Audio/_Funkystation/Voice/Reptilian/lizardchirp1.ogg
  Resources/Audio/_Funkystation/Voice/Reptilian/lizardchirp2.ogg
  Resources/Audio/_Funkystation/Voice/Reptilian/lizardchirp3.ogg
  Resources/Audio/_Funkystation/Voice/Reptilian/lizardgurgle1.ogg
  Resources/Audio/_Funkystation/Voice/Reptilian/lizardgurgle2.ogg
  Resources/Audio/_Funkystation/Voice/Reptilian/lizardgurgle3.ogg
  Resources/Audio/_Impstation/Voice/Reptilian/attributions.yml
  Resources/Audio/_Impstation/Voice/Reptilian/reptillian_hiss1.ogg
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Funkystation/SoundCollections/emotes.yml
  Resources/Prototypes/_Funkystation/Voice/speech_emotes.yml
  Resources/Prototypes/_Funkystation/tags.yml
Labels: S: Merge Conflict, Changes: No C#, size/S, Changes: Audio

#969 1984 (Rule changes)
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6Metagaming.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC8Names.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC9UseProperEscalation.xml
  Resources/ServerInfo/Guidebook/ServerRules/Metashield.xml
  Resources/ServerInfo/Guidebook/ServerRules/NamingScheme.xml
Labels: S: Untriaged, Changes: No C#, size/M

#935 maildrobe additions
  Resources/Prototypes/_Goobstation/Catalog/Fills/VendingMachines/Inventories/maildrobe.yml
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#947 Bagel HFR
  Resources/Maps/_Funkystation/bagel.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#952 Box Update
  Resources/Maps/_Funkystation/box.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#973 Readds Self-Insert Plushies
  Content.Shared/Zombies/PendingZombieComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/secret_weights.yml
Labels: S: Untriaged, size/S

#974 Fixing a small oversight from my lizard noises pr
  Resources/Prototypes/SoundCollections/harpy.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
Labels: S: Untriaged, Changes: No C#, size/S

#975 Box Fixes because I am dumb
  Resources/Maps/_Funkystation/box.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/S

#981 Money transfer fixes for withdrawing cash or transferring between departments.
  Content.Server/Cargo/Systems/CargoSystem.Funds.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
Labels: S: Untriaged, size/S

#982 Multiplies cold temperature damage by 5
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
Labels: S: Untriaged, Changes: No C#, size/S

#985 Magistrate job icon fix
  Resources/Textures/_Funkystation/Interface/Misc/job_icons.rsi/Magistrate.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#984 Void path heretic buffs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Void.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/AristocratSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticBladeSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Server/_Goobstation/Magic/ImmovableVoidRodSystem.cs
  Resources/Audio/_Funkystation/Effects/Heretic/attributions.yml
  Resources/Audio/_Funkystation/Effects/Heretic/mansusgrasp.ogg
  Resources/Audio/_Funkystation/Effects/Heretic/voidblink.ogg
Labels: S: Untriaged, size/M, S: Needs Review, Changes: Audio

#986 Cherrypicking a PR from wizden, and sneaking in a tiny change
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/equipped-OUTERCLOTHING-monkey.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#948 Mechanical oil for IPCs
  Resources/Locale/en-US/_Funkystation/reagents/meta/biological.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_Funkystation/Reagents/biological.yml
Labels: S: Untriaged, Changes: No C#, size/S

#989 Cherrypicking three artifact prs from Wizden
  Content.Server/Spawners/EntitySystems/ConditionalSpawnerSystem.cs
  Content.Shared/Xenoarchaeology/Artifact/Components/XenoArtifactComponent.cs
  Content.Shared/Xenoarchaeology/Artifact/Components/XenoArtifactNodeComponent.cs
  Content.Shared/Xenoarchaeology/Artifact/SharedXenoArtifactSystem.Node.cs
  Content.Shared/Xenoarchaeology/Artifact/SharedXenoArtifactSystem.Unlock.cs
  Content.Shared/Xenoarchaeology/Artifact/SharedXenoArtifactSystem.XAE.cs
  Content.Shared/Xenoarchaeology/Artifact/SharedXenoArtifactSystem.cs
  Resources/Maps/Shuttles/ShuttleEvent/incorporation.yml
  Resources/Maps/_Funkystation/divide.yml
  Resources/Maps/_Funkystation/elkridge.yml
  Resources/Maps/_Funkystation/roid_outpost.yml
  Resources/Maps/elkridge.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_xenoartifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_xenoartifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/xenoartifacts.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/artifact.yml
  Resources/Prototypes/XenoArch/effects.yml
  Resources/ServerInfo/Guidebook/Science/Xenoarchaeology.xml
  Resources/migration.yml
Labels: Changes: Map, S: Untriaged, size/M
