Repository funky-station/funky-station, pull requests merged in 2025-10, with the labels that each got.

#1601 Senior Cargo Technician, without messing up
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/OuterClothing/seniorcoats.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Funkystation/Clothing/OuterClothing/WinterCoats/senior_cargo_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/WinterCoats/senior_cargo_winter_coat.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/WinterCoats/senior_cargo_winter_coat.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/WinterCoats/senior_cargo_winter_coat.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/WinterCoats/senior_cargo_winter_coat.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/senior_cargo.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/senior_cargo.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/senior_cargo.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/senior_cargo.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/senior_cargo.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/senior_cargo.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/senior_cargo.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/senior_cargo.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/senior_cargo.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/senior_cargo.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/senior_cargo.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/senior_cargo.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1604 New IAA Suit and Winter Coat
  Resources/Locale/en-US/_Funkystation/preferences/loadout-groups.ftl
  Resources/Prototypes/_Funkystation/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Uniforms/turtleneck.yml
  Resources/Prototypes/_Funkystation/Loadouts/Jobs/Command/internal_affairs_agent.yml
  Resources/Prototypes/_Funkystation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Funkystation/Loadouts/role_loadouts.yml
  Resources/Textures/_Funkystation/Clothing/OuterClothing/WinterCoats/iaa_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/WinterCoats/iaa_winter_coat.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/WinterCoats/iaa_winter_coat.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/WinterCoats/iaa_winter_coat.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/WinterCoats/iaa_winter_coat.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneck.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneck.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneck.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneck.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneck.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckblack.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckblack.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckblack.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckblack.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckblack.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckblue.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckblue.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckblue.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckblue.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckred.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckred.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckred.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckred.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/iaaturtleneckred.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1624 The catchup (Finished first set of school work)
  Resources/Maps/_Funkystation/amber.yml
  Resources/Maps/_Funkystation/box.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M

#1623 NTVS Gax: minor post-playtest fixes
  Resources/Maps/_Andromeda/gax.yml
  Resources/Prototypes/_Andromeda/Maps/gax.yml
Labels: Changes: Map, size/L, Changes: No C#

#1628 Updated large_stamp-borg
  Resources/Textures/_Impstation/Interface/Paper/Stamps/large_stamp-borg.png
Labels: S: Untriaged, Changes: No C#, size/XS

#1620 Buff HEV
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/helmets.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1632 Adding Some OOC rules to command roles as a trial run of the concept.…
  Resources/ServerInfo/Funkystation/Guidebook/Command/CommandStandardOperatingProcedure.xml
  Resources/ServerInfo/Funkystation/Guidebook/Legal/LegalSOP.xml
Labels: Changes: No C#, size/M

#1625 fix: Prayable Phones are now usable by atheists
  Content.Server/Prayer/PrayerSystem.cs
  Content.Shared/Prayer/PrayableComponent.cs
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
Labels: S: Untriaged, size/S

#1630 Cargo Cart + Box Update
  Resources/Locale/en-US/_Funkystation/job/specific/cargo.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/fun.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Cargo/carboardbox_gridinv.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Cargo/cargo_food.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Cargo/cargo_medical.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Cargo/cargo_service.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Cargo/cargocart.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/Graphs/Storage/cardboardbox.yml
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/cardboard_box.rsi/bigbox.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/cardboard_box.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/cardboard_box.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/cardboard_box.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/cargocart.rsi/big1.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/cargocart.rsi/big2.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/cargocart.rsi/big3.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/cargocart.rsi/big4.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/cargocart.rsi/cart.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/cargocart.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1615 Service module split up from Impstation
  Resources/Prototypes/_Funkystation/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Robotics/Borg/borg_modules.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-beer.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
  Resources/Textures/_Impstation/Interface/Actions/actions_borg.rsi/bartender-module.png
  Resources/Textures/_Impstation/Interface/Actions/actions_borg.rsi/bureaucracy-module.png
  Resources/Textures/_Impstation/Interface/Actions/actions_borg.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1618 canAlert - adjust whether or not comms consoles can set alert levels
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: S: Untriaged, size/S

#1633 Bigger Pinktext (I fucking hate gitbash)
  Content.Client/_DV/CustomObjectiveSummary/CustomObjectiveSummaryWindow.xaml.cs
Labels: Changes: UI, S: Untriaged, size/XS

#1634 Cargo Technician PDA fix
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
Labels: S: Untriaged, Changes: No C#, size/XS
