Repository funky-station/funky-station, pull requests merged in 2025-01, with the labels that each got.

#250 Upstream Merge (new years eve edition)
  Content.Client/Holopad/HolopadWindow.xaml
  Content.Client/Holopad/HolopadWindow.xaml.cs
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Telephone/SharedTelephoneSystem.cs
  Content.Shared/Telephone/TelephoneComponent.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Locale/en-US/holopad/holopad.ftl
  Resources/Locale/en-US/telephone/telephone.ftl
  Resources/Maps/bagel.yml
  Resources/Maps/loop.yml
  Resources/Prototypes/Actions/borgs.yml
  Resources/Prototypes/Actions/station_ai.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/cryogenic_sleep_unit.yml
  Resources/Prototypes/Entities/Structures/cryopod.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Wires/layouts.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/pulato.png
  Resources/Textures/Structures/Piping/disposal.rsi/meta.json
  Resources/Textures/Structures/Piping/disposal.rsi/signal-router-flipped-free.png
  Resources/Textures/Structures/Piping/disposal.rsi/signal-router-flipped.png
Labels: Changes: Map, Changes: Sprites, Changes: UI, size/XL, S: Untriaged

#251 Not So Self Insert
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
Labels: S: Untriaged, Changes: No C#, size/S

#259 Fix absurd amount of midround antags (#1010)
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, Changes: No C#, size/S

#258 REVAMPED SM FOR GLACIER STATION
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Maps/_Funkystation/glacier.yml
  Resources/Prototypes/Atmospherics/gases.yml
Labels: Changes: Map, S: Untriaged, size/L

#262 Roboticist tweaks
  Resources/Locale/en-US/job/job-description.ftl
Labels: Status: Needs Review, S: Untriaged, Changes: No C#, size/XS

#263 Roll antags before job
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Antag/Components/AntagSelectionComponent.cs
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Content.Server/_Goobstation/PendingAntag/PendingAntagSystem.cs
  Content.Shared/Antag/AntagAcceptability.cs
  Resources/Locale/en-US/_Goobstation/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
Labels: Changes: UI, S: Untriaged, size/M

#266 ATMOS Resin changes
  Content.Server/Atmos/Components/AtmosResinDespawnComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosResinDespawnSystem.cs
  Content.Server/Explosion/EntitySystems/SmokeOnTriggerSystem.cs
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Shared/Chemistry/Components/SmokeComponent.cs
  Content.Shared/Explosion/Components/OnTrigger/SmokeOnTriggerComponent.cs
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Objects/Tools/firefightingnozzle.yml
Labels: S: Untriaged, size/M

#261 added station beacons to kettle
  Resources/Maps/_Funkystation/kettle.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M

#267 The Based Update
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: S: Untriaged, Changes: No C#, size/S

#268 Added silver rifle ammo
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/_Funkystation/Entities/Weapons/annabelle.yml
Labels: S: Untriaged, Changes: No C#

#269 Adds holy to damage modifiers, buffs zombies, nerfs skeletons
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
Labels: S: Untriaged, Changes: No C#, size/S

#270 Minor blob changes
  Content.Shared/_Goobstation/Blob/Components/BlobCoreComponent.cs
  Resources/Prototypes/_Goobstation/Blob/blob_mobs.yml
  Resources/Prototypes/_Goobstation/Blob/misc_blob.yml
Labels: S: Untriaged, size/S

#272 From Cryosleep, 129 Years Later...
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_Funkystation/Ruins/oldstation.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Structures/cryogenic_sleep_unit.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/charlie.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/default-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/default-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/retro.png
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/retro_engineering.png
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/retro_medical.png
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/retro_nanotrasen.png
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/retro_research.png
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/retro_security.png
  Resources/Textures/_Funkystation/Structures/oldcryo.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/oldcryo.rsi/sleeper_0.png
  Resources/Textures/_Funkystation/Structures/oldcryo.rsi/sleeper_1.png
Labels: Changes: Map, Changes: Sprites, size/XL, Changes: No C#

#273 Asimoving
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/silicon-laws.yml
Labels: S: Untriaged, Changes: No C#, size/S

#275 More Engineering / Atmospherics, QOL.
  Resources/Maps/_Funkystation/kettle.yml
  Resources/Maps/_Funkystation/train.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#276 Rat kings are antagonists now
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Changes: No C#

#277 Event rebalancing
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, Changes: No C#, size/S

#278 [port] minor harpy fixes
  Content.Server/_EinsteinEngines/Flight/FlightSystem.cs
  Resources/ServerInfo/Guidebook/Mobs/Harpy.xml
Labels: S: Untriaged, size/S

#279 Fixed Mapping Errors For #275
  Resources/Maps/_Funkystation/train.yml
Labels: Changes: Map, size/XL, Changes: No C#

#281 Roid beta release candidate
  Resources/Maps/_Funkystation/roid_outpost.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#283 fixes dungeon master lawset
  Resources/Locale/en-US/station-laws/laws.ftl
Labels: S: Untriaged, Changes: No C#

#284 The yapper and gekker
  Resources/Audio/DeltaV/Voice/Vulpkanin/gekker.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/yap.ogg
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/DeltaV/SoundCollections/vulpkanin.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: S: Untriaged, Changes: No C#, size/S, Changes: Audio

#280 MAKE THIEVES GREAT AGAIN
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Content.Shared/Strip/Components/ThievingComponent.cs
  Content.Shared/Strip/ThievingSystem.cs
  Resources/Locale/en-US/_Funkystation/Alerts/thieving.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/ServerInfo/Guidebook/Antagonist/Thieves.xml
  Resources/Textures/_Funkystation/Interface/Alerts/thieving.rsi/meta.json
  Resources/Textures/_Funkystation/Interface/Alerts/thieving.rsi/thieving_OFF.png
  Resources/Textures/_Funkystation/Interface/Alerts/thieving.rsi/thieving_ON.png
Labels: Changes: Sprites, S: Untriaged, size/M

#287 DINO WARS!!!
  Resources/Audio/Misc/amber.ogg
  Resources/Audio/_Impstation/Misc/amber.ogg
  Resources/Audio/_Impstation/Misc/attributions.yml
  Resources/Audio/_Impstation/Misc/dino-rift.ogg
  Resources/Audio/_Impstation/Voice/Dino/attributions.yml
  Resources/Audio/_Impstation/Voice/Dino/dino1.ogg
  Resources/Audio/_Impstation/Voice/Dino/dino2.ogg
  Resources/Audio/_Impstation/Voice/Dino/dino_gasp.ogg
  Resources/Locale/en-US/_Impstation/accent/dinosaur.ftl
  Resources/Locale/en-US/_Impstation/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-dino.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/biological.ftl
  Resources/Locale/en-US/_Impstation/rifts/rifts.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/_Impstation/Accents/dino_replacements.yml
  Resources/Prototypes/_Impstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Impstation/Entities/Markers/Spawners/dino.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/dino.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Specific/dino.yml
  Resources/Prototypes/_Impstation/Reagents/biological.yml
  Resources/Prototypes/_Impstation/SoundCollections/dino.yml
  Resources/Prototypes/_Impstation/Voice/dino.yml
  Resources/Prototypes/_Impstation/ai_factions.yml
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/anky.rsi/anki.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/anky.rsi/anki_dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/anky.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/compy.rsi/compy.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/compy.rsi/compy_dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/compy.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/dilo.rsi/dilo.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/dilo.rsi/dilo_dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/dilo.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/kentro.rsi/kentro.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/kentro.rsi/kentro_dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/kentro.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/para.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/para.rsi/para.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/para.rsi/para_dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/raptor.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/raptor.rsi/raptor.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/raptor.rsi/raptor_dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/spino.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/spino.rsi/spino.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/spino.rsi/spino_dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/stego.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/stego.rsi/stego.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/stego.rsi/stego_dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/trex.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/trex.rsi/trex.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/trex.rsi/trex_dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/trike.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/trike.rsi/trike.png
  Resources/Textures/_Impstation/Mobs/Aliens/Dinos/trike.rsi/trike_dead.png
Labels: Changes: Sprites, S: Untriaged, size/L, Changes: No C#, S: Needs Review, Changes: Audio

#290 Cargo Harpy plushie will now caw
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
Labels: S: Untriaged, Changes: No C#, size/S

#289 Roid Full Launch
  Resources/Maps/_Funkystation/roid_outpost.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#288 Needs More Mouse Bites
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/ai_factions.yml
Labels: S: Untriaged, size/S

#291 Port plant analyzer from frontier
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerBoundUserInterface.cs
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml.cs
  Content.Server/_NF/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/_NF/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Shared/_NF/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/_NF/PlantAnalyzer/PlantAnalyzerScannedSeedPlantInformation.cs
  Content.Shared/_NF/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/_NF/botany/components/plantanalyzer.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/plant_analyzer.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/icon.png
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/plantanalyzer.png
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/unlit.png
Labels: Changes: Sprites, Changes: UI, S: Untriaged, size/M

#292 harpi yap & gekker
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
Labels: Changes: No C#, size/XS

#295 Glacier Outpost Map Update
  Resources/Maps/_Funkystation/glacier.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#296 Fixes monkey not having a species name
  Resources/Locale/en-US/species/species.ftl
Labels: Changes: No C#, size/XS

#297 [port] make limb severing bleed instead of bloodloss damage
  Content.Server/Body/Systems/BodySystem.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
Labels: S: Untriaged, size/S

#294 Adds a Syndicate Dino Cube Box
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
Labels: S: Untriaged, Changes: No C#, size/M

#298 Changed sink capacity from 500 to 9999999
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#299 [port] card fixes & variants
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Client/_EstacaoPirata/Cards/Card/CardSystem.cs
  Content.Client/_EstacaoPirata/Cards/CardSpriteSystem.cs
  Content.Client/_EstacaoPirata/Cards/Deck/CardDeckSystem.cs
  Content.Client/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.Server/_EstacaoPirata/OpenTriggeredStorageFill/OpenTriggeredStorageFillSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Card/CardComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Card/CardSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackSystem.cs
  Resources/Locale/en-US/estacao-pirata/cards/cards.ftl
  Resources/Locale/en-US/estacao-pirata/store/uplink-catalog.ftl
  Resources/Prototypes/EstacaoPirata/Catalog/uplink_catalog.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/black_cards.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/nt_cards.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/syndicate_cards.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: S: Untriaged, size/L

#301 Add JobDistrobutionError game rule
  Content.Server/_Funkystation/StationEvents/Components/JobDistributionErrorRuleComponent.cs
  Content.Server/_Funkystation/StationEvents/Events/JobDistributionErrorRule.cs
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Locale/en-US/station-events/events/bureaucratic-error.ftl
  Resources/Prototypes/Entities/Clothing/Ears/specific.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/command_maid.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/party_maker.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/security_clown.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/CommandMaid.png
  Resources/Textures/Interface/Misc/job_icons.rsi/PartyMaker.png
  Resources/Textures/Interface/Misc/job_icons.rsi/SecurityClown.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/idcommandmaid.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idpartymaker.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idsecurityclown.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#303 Added better SM room
  Resources/Maps/_Funkystation/roid_outpost.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#306 Roid SM Rethemeing and bug fixes
  Resources/Maps/_Funkystation/roid_outpost.yml
  Resources/Prototypes/_Funkystation/Maps/roid_outpost.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#304 DMV Station
  Content.Benchmarks/MapLoadBenchmark.cs
  Resources/Maps/_Funkystation/DMVStation.yml
  Resources/Prototypes/_Funkystation/Maps/DMV.yml
Labels: Changes: Map, size/XL, S: Untriaged

#307 Blob tweak
  Content.Server/_Goobstation/Blob/Components/StationBlobConfigComponent.cs
  Content.Shared/_Goobstation/Blob/Components/BlobCoreComponent.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: S: Untriaged, size/S

#264 smartfridge redesign
  Content.Client/_Funkystation/Medical/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeItem.xaml
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeItem.xaml.cs
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeMenu.xaml
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeMenu.xaml.cs
  Content.Server/_Funkystation/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Shared/_Funkystation/Medical/SmartFridge/SmartFridgeComponent.cs
  Resources/Locale/en-US/_Funkystation/smartfridge.ftl
Labels: Changes: UI, S: Untriaged, size/M

#310 Rules Update 2
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC0.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13MRPRoleplay.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13NoEORG.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6Metagaming.xml
Labels: S: Untriaged, Changes: No C#, size/S

#309 Players can no longer crawl over tables
  Content.Shared/Physics/CollisionGroup.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: S: Untriaged, size/XS

#315 Nerfed the Medical Multitool's doAfter Speed
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: S: Untriaged, Changes: No C#, size/S

#314 Added Pielovene
  Resources/Locale/en-US/_Funkystation/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/medicine.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/_Funkystation/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/medicine.yml
Labels: S: Untriaged, Changes: No C#, size/M

#316 Removes Antag scheduler from Blob gamemode
  Resources/Prototypes/_Goobstation/game_presets.yml
Labels: Changes: No C#, size/XS

#317 fixes spelling in heretic thingy
  Resources/Locale/en-US/_Goobstation/Heretic/abilities/heretic.ftl
Labels: S: Untriaged, Changes: No C#, size/XS

#319 Moves Dino Cube Stuff To Proper Folders
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_Funkystation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/rehydrateable.yml
Labels: Changes: No C#, size/M

#322 Add exact Blob Resource display on alert
  Content.Server/_Goobstation/Blob/BlobCoreSystem.cs
Labels: S: Untriaged, size/XS

#312 Add Funky Accent
  Content.Server/_Funkystation/Speech/Components/FunkyAccentComponent.cs
  Content.Server/_Funkystation/Speech/EntitySystems/FunkyAccentSystem.cs
  Resources/Locale/en-US/_Funkystation/traits/traits.ftl
  Resources/Prototypes/_Funkystation/Traits/speech.yml
Labels: S: Untriaged, size/S

#324 Revs: Evac shuttle doesn't arrive when HRevs are alive
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Resources/Locale/en-US/_Funkystation/shuttle/fail_reasons.ftl
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/presets-revolutionaries.ftl
Labels: S: Untriaged, size/S

#325 Oldstation / Charlie Station Quality Control
  Resources/Maps/_Funkystation/Ruins/oldstation.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/charlie.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_doc.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_doc.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_doc.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_doc.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_doc.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_eng.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_eng.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_eng.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_eng.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_eng.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_sci.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_sci.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_sci.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_sci.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_sci.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_sec.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_sec.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_sec.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_sec.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpsuit/ancient_sec.rsi/meta.json
Labels: Changes: Map, Changes: Sprites, size/XL, S: Untriaged, Changes: No C#

#327 Fixing the DMV
  Resources/Maps/_Funkystation/DMVStation.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#326 Sprite Revamps Part 1
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/meta.json
  Resources/Textures/Interface/Alerts/Pull/credit.txt
  Resources/Textures/Interface/Alerts/Pull/pulled.png
  Resources/Textures/Interface/Alerts/Pull/pulling.png
  Resources/Textures/Interface/Alerts/breathing.rsi/meta.json
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_co2.png
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_nitro.png
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_oxy.png
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_tox.png
  Resources/Textures/Interface/Alerts/breathing.rsi/too_much_co2.png
  Resources/Textures/Interface/Alerts/breathing.rsi/too_much_nitro.png
  Resources/Textures/Interface/Alerts/breathing.rsi/too_much_oxy.png
  Resources/Textures/Interface/Alerts/breathing.rsi/too_much_tox.png
  Resources/Textures/Interface/Alerts/stamina.rsi/meta.json
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina0.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina1.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina2.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina3.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina4.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina5.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina6.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#329 The Salv Shuttle Computer Strikes Back
  Resources/Locale/en-US/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
  Resources/migration.yml
Labels: Changes: No C#, size/S, S: Needs Review

#321 Head of Personnel Unique Weapon
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Funkystation/Entities/Weapons/miniaturelaserpistol.yml
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/base.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/equipped-BELT.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/mag-unshaded-0.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/mag-unshaded-1.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/mag-unshaded-2.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/mag-unshaded-3.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/mag-unshaded-4.png
  Resources/Textures/_Funkystation/Objects/Weapons/disablerplus.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/base-on.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/base-overlay.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/base.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/equipped-BELT.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/icon-on.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/mag-unshaded-0.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/mag-unshaded-1.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/mag-unshaded-2.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/mag-unshaded-3.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/mag-unshaded-4.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/mode-disabler.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/mode-ion.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol.rsi/mode-lethal.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol_inhands_64x.rsi/disabler-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol_inhands_64x.rsi/disabler-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol_inhands_64x.rsi/lethal-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol_inhands_64x.rsi/lethal-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol_inhands_64x.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol_inhands_64x.rsi/special-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Weapons/miniature_laser_pistol_inhands_64x.rsi/special-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, size/M

#330 Revs: Revolution fails if HRevs abandon station for >1 minute.
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
Labels: S: Untriaged, size/M

#331 Pride cloak renames.
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
Labels: S: Untriaged, Changes: No C#, size/S

#328 Added Neanderthal
  Content.Server/Humanoid/Components/RandomHumanoidAppearanceComponent.cs
  Content.Server/Humanoid/Systems/RandomHumanoidAppearanceSystem.cs
  Content.Server/_Funkystation/Speech/Components/NeanderthalAccentComponent.cs
  Content.Server/_Funkystation/Speech/EntitySystems/NeanderthalAccentSystem.cs
  Resources/Audio/_Funkystation/Voice/Neanderthal/grunt.ogg
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_Funkystation/Datasets/Names/neanderthal.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_Funkystation/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_Funkystation/Roles/GhostRoles/Antags/oog.yml
Labels: size/M, Changes: Audio

#334 Roid Emergency Atmos Fixes
  Resources/Maps/_Funkystation/roid_outpost.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#337 [port] [goob #1057] disables ashing
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: S: Untriaged, Changes: No C#, size/S

#338 Fixed spelling for disabler plus
  Resources/Prototypes/_Funkystation/Entities/Weapons/miniaturelaserpistol.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#340 Fixed Disabler Plus Light Vanishing After Firing
  Resources/Prototypes/_Funkystation/Entities/Weapons/miniaturelaserpistol.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#342 big saltern engi update
  Resources/Maps/_Funkystation/saltern.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#336 Revs: Adds the HRev uplink
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Resources/Locale/en-US/_Funkystation/store/currency.ftl
  Resources/Locale/en-US/_Funkystation/store/revolutionary_uplink.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Funkystation/Catalog/revolutionary_catalog.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/revolutionary.yml
  Resources/Prototypes/_Funkystation/Store/currency.yml
  Resources/Prototypes/_Funkystation/Store/revolutionary_categories.yml
  Resources/Prototypes/_Funkystation/Store/revolutionary_uplink.yml
  Resources/Textures/_Funkystation/Objects/Specific/Revolutionary/revcoin.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Specific/Revolutionary/revcoin.rsi/revcoin.png
Labels: Changes: Sprites, S: Untriaged, size/M
