Repository funky-station/funky-station, pull requests merged in 2025-09, with the labels that each got.

#1473 Core updates: kill BSO etc
  Resources/Maps/_Funkystation/core.yml
  Resources/Prototypes/Maps/core.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1029 Silo port
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Materials/MaterialSiloSystem.cs
  Content.Client/Materials/UI/MaterialSiloBoundUserInterface.cs
  Content.Client/Materials/UI/MaterialSiloMenu.xaml
  Content.Client/Materials/UI/MaterialSiloMenu.xaml.cs
  Content.Client/Materials/UI/MaterialStorageControl.xaml
  Content.Client/Materials/UI/MaterialStorageControl.xaml.cs
  Content.Client/_Funkystation/Silo/UI/SiloRelayBoundUserInterface.cs
  Content.Client/_Funkystation/Silo/UI/SiloRelayMenu.xaml
  Content.Client/_Funkystation/Silo/UI/SiloRelayMenu.xaml.cs
  Content.Client/_Goobstation/Silo/SiloSystem.cs
  Content.Server/Materials/MaterialSiloSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Server/Pinpointer/NavMapSystem.cs
  Content.Server/_Goobstation/Silo/SiloSystem.cs
  Content.Shared/Materials/MaterialSilo/MaterialSiloClientComponent.cs
  Content.Shared/Materials/MaterialSilo/MaterialSiloComponent.cs
  Content.Shared/Materials/MaterialSilo/SharedMaterialSiloSystem.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Content.Shared/_Funkystation/Silo/SiloMessages.cs
  Content.Shared/_Goobstation/Silo/SharedSiloSystem.cs
  Content.Shared/_Goobstation/Silo/SiloComponent.cs
  Content.Shared/_Goobstation/Silo/SiloUtilizerComponent.cs
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/materials/silo.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Devices/Circutboards/machine.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/silo_relay.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Circuitboards/machine.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Machines/material_silo.yml
  Resources/Textures/Structures/Machines/silo.rsi/meta.json
  Resources/Textures/Structures/Machines/silo.rsi/overlay_active.png
  Resources/Textures/Structures/Machines/silo.rsi/silo.png
  Resources/Textures/Structures/Machines/silo.rsi/silo_active.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: UI, S: Untriaged, size/L

#1490 Elkridge updates and fixes for the Week of Sep. 4
  Resources/Maps/_Funkystation/elkridge.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M

#1487 Adding some simple ERT shuttles so I can be lazy when I need to summo…
  Content.Server/_Impstation/CartridgeLoader/Cartridges/SOSCartridgeComponent.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_Funkystation/Shuttles/ERTShuttles/ERTChaplain1.yml
  Resources/Maps/_Funkystation/Shuttles/ERTShuttles/ERTEngineer1.yml
  Resources/Maps/_Funkystation/Shuttles/ERTShuttles/ERTJanitor1.yml
  Resources/Maps/_Funkystation/Shuttles/ERTShuttles/ERTMedical1.yml
  Resources/Maps/_Funkystation/Shuttles/ERTShuttles/ERTSecurity1.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/jobs.yml
Labels: Changes: Map, S: Untriaged, size/L

#1459 forever weed brownie
  Resources/Locale/en-US/reagents/foreverweed.ftl
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: S: Untriaged, Changes: No C#, size/M

#1507 Box kill BSO
  Resources/Maps/_Funkystation/box.yml
  Resources/Prototypes/Maps/box.yml
Labels: Changes: Map, Changes: No C#, size/M

#1520 Add white hardhat to research Loadouts
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1511 Cargo Bees are now individually wrapped
  Content.Shared/Jittering/JitteringComponent.cs
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/misc.yml
  Resources/Textures/_Funkystation/Objects/Misc/wrappedbee.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Misc/wrappedbee.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Misc/wrappedbee.rsi/trash.png
Labels: Changes: Sprites, S: Untriaged, size/S, S: Needs Review

#1450 Craftable Medical and Diagnostic Glasses
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Funkystation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/Graphs/Clothing/funky_glasses.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Funkystation/tags.yml
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/medglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/medglasses.rsi/equipped-EYES.png
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/medglasses.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/medglasses.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/medglasses.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/medglasses.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/robotglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/robotglasses.rsi/equipped-EYES.png
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/robotglasses.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/robotglasses.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/robotglasses.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Eyes/Glasses/robotglasses.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1471 APC decontruction requires wires cut now
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/APC.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1512 Core silo and comms update
  Resources/Maps/_Funkystation/core.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#1514 SOS now properly pings the warden and paramedic
  Content.Server/_Impstation/CartridgeLoader/Cartridges/SOSCartridgeComponent.cs
Labels: S: Untriaged, size/XS

#1513 IntercomOnlyBypass
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/Components/IntercomOnlyBypassComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DV/Entities/Structures/Power/Generation/Supermatter/supermatter.yml
Labels: S: Untriaged, size/S

#1447 Admin Bluespace Smite
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Resources/Locale/en-US/_Funkystation/administration/smites.ftl
Labels: S: Untriaged, S: Merge Conflict, size/S

#1492 Increased PineappleMargherita pineapple juice to 2u
  Resources/Prototypes/_Funkystation/Recipes/Reactions/alcohol.yml
Labels: Changes: No C#, size/XS

#1491 Removed IPC torso from exosuit fabricator
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1371 Borg not standing on repair fix
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
Labels: S: Untriaged, size/S

#1522 Redesigned IAA icon to be consistent with other Central Command icons…
  Resources/Textures/_Funkystation/Interface/Misc/job_icons.rsi/InternalAffairsAgent.png
  Resources/Textures/_Funkystation/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#1549 I want to lathe pens it makes sense
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1543 Roid the wardening
  Resources/Maps/_Funkystation/roid_outpost.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M

#1551 Striped command icons
  Resources/Textures/Interface/Misc/job_icons.rsi/ChiefEngineer.png
  Resources/Textures/Interface/Misc/job_icons.rsi/ChiefMedicalOfficer.png
  Resources/Textures/Interface/Misc/job_icons.rsi/HeadOfPersonnel.png
  Resources/Textures/Interface/Misc/job_icons.rsi/HeadOfSecurity.png
  Resources/Textures/Interface/Misc/job_icons.rsi/QuarterMaster.png
  Resources/Textures/Interface/Misc/job_icons.rsi/ResearchDirector.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#1552 Magistrate playtime requirement is now 100 sec hours
  Resources/Prototypes/_Funkystation/Roles/Jobs/CentComm/magistrate.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1537 Rolling and slicing artifact triggers
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/XenoArch/artifact_triggers.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1528 Makes AI an ion storm target
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1538 Time display for Tape Recorder UI
  Content.Client/_DV/TapeRecorder/UI/TapeRecorderWindow.xaml
  Content.Client/_DV/TapeRecorder/UI/TapeRecorderWindow.xaml.cs
Labels: Changes: UI, S: Untriaged, size/XS

#1455 Mining Rework and salvage tweaks vol. 2
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Resources/Maps/Dungeon/experiment.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Procedural/Magnet/asteroid_ore_gens.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Procedural/vgroid.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/Graphs/Clothing/sharkminnow_shoes.yml
  Resources/Prototypes/_Funkystation/Recipes/Lathes/sheet.yml
  Resources/Prototypes/_Funkystation/Stacks/Materials/materials.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Melee/combat.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/_Funkystation/Objects/Materials/Mob/carpscale.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Materials/Mob/carpscale.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Materials/Mob/carpscale.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Materials/Mob/carpscale.rsi/scale.png
  Resources/Textures/_Funkystation/Objects/Materials/Mob/carpscale.rsi/scale_2.png
  Resources/Textures/_Funkystation/Objects/Materials/Mob/carpscale.rsi/scale_3.png
Labels: Changes: Map, Changes: Sprites, size/M

#1530 ForeverWeed is now 2x stronger than regular THC
  Resources/Prototypes/Reagents/narcotics.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1557 Hotfix Ore Processor
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1563 Porting hops from Impstation
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/hoptart.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_Impstation/Objects/Consumable/Food/idtart.rsi/default-inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/idtart.rsi/default-inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/idtart.rsi/default.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/idtart.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/hops.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/stage-3.png
Labels: Changes: Sprites, S: Untriaged, size/L, Changes: No C#

#1559 Omega and Fland Hotfix(es)
  Resources/Maps/_Funkystation/omega.yml
  Resources/Prototypes/Maps/fland.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#1562 Arachnids Now Use Their Own Metabolizer Type
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Changes: No C#, size/S

#1561 Remove Oldstation
  Resources/Maps/_Funkystation/Ruins/oldstation.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1550 Pie Cook Book
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Entities/Objects/Misc/books_author.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Library/Books/cookbooks.yml
Labels: S: Untriaged, Changes: No C#, size/M

#1558 vodka heals rads now
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1568 Midi improvements
  Content.Client/Instruments/InstrumentSystem.MidiParsing.cs
  Content.Client/Instruments/InstrumentSystem.cs
  Content.Client/Instruments/MidiParser/MidiInstrument.cs
  Content.Client/Instruments/MidiParser/MidiParser.cs
  Content.Client/Instruments/MidiParser/MidiStreamWrapper.cs
  Content.Client/Instruments/UI/ChannelsMenu.xaml
  Content.Client/Instruments/UI/ChannelsMenu.xaml.cs
  Content.Client/Instruments/UI/InstrumentBoundUserInterface.cs
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/CCVar/CCVars.Midi.cs
  Content.Shared/Instruments/SharedInstrumentComponent.cs
  Resources/Locale/en-US/instruments/instruments-component.ftl
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/equipped-TANKSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, S: Untriaged, size/M

#1569 Reporter Headset (and Common access)
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Ears/headsets.yml
  Resources/Textures/_Funkystation/Clothing/Ears/Headsets/reporter.rsi/equipped-EARS.png
  Resources/Textures/_Funkystation/Clothing/Ears/Headsets/reporter.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Ears/Headsets/reporter.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#1571 Greened Janitor. Greyed Reporter.
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Janitor.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Reporter.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#1572 make microphones work in your offhand
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1592 We want More Interns
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1590 Roid the continuing
  Resources/Maps/_Funkystation/roid_outpost.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#1581 for rplamsa.yml , changed WallLayer to GlassLayer , fixing laser effects so they pass through instead of colliding
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1579 [PORT] IconSmooth additional smoothing keys (spacewizards#35790)
  Content.Client/IconSmoothing/IconSmoothComponent.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Tiles/chasm.yml
  Resources/Prototypes/Entities/Tiles/lava.yml
Labels: S: Untriaged, size/S

#1578 Add base Mime and Clown Masks to the Autodrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1602 Lawyers now have Service Comms
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Labels: S: Untriaged, Changes: No C#, size/XS
