Repository funky-station/funky-station, pull requests merged in 2025-03, with the labels that each got.

#464 scalpel texture
  Resources/Textures/_Shitmed/Objects/Specific/Medical/Surgery/scalpel.rsi/scalpel.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#468 Standardize mantle time requirements for BSO/NTR
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Loadouts/Jobs/Command/nanotrasen_representative.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#477 Reverts the 'Reversion' done to the rebalance to disablers
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: No C#, size/S

#481 Adds 7 new drinks
  Resources/Locale/en-US/_Funkystation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Funkystation/Flavors/flavors.yml
  Resources/Prototypes/_Funkystation/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_Funkystation/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/alcohol.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/drinks.yml
  Resources/Textures/_Funkystation/Objects/Consumable/Drinks/tayquila.rsi/fill-1.png
  Resources/Textures/_Funkystation/Objects/Consumable/Drinks/tayquila.rsi/fill-2.png
  Resources/Textures/_Funkystation/Objects/Consumable/Drinks/tayquila.rsi/fill-3.png
  Resources/Textures/_Funkystation/Objects/Consumable/Drinks/tayquila.rsi/fill-4.png
  Resources/Textures/_Funkystation/Objects/Consumable/Drinks/tayquila.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Consumable/Drinks/tayquila.rsi/icon_empty.png
  Resources/Textures/_Funkystation/Objects/Consumable/Drinks/tayquila.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#483 Role timer updates
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Funkystation/Roles/Jobs/Command/internal_affairs_agent.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: S: Untriaged, Changes: No C#, size/M

#488 Heretic multi-patch and dejankification
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticMagicItemSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/basic.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/magic_contraband.yml
Labels: S: Untriaged, size/S, S: Needs Review

#473 Centcom towel added to trinkets
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: No C#, size/S

#455 more shrimps, please!
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/shrimp.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/meat.rsi/shrimpfried.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/shrimpraw.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#492 move annabelle to the null rod
  Resources/Locale/en-US/_Impstation/chaplain/gearmenu.ftl
  Resources/Prototypes/Loadouts/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/_Impstation/Catalog/chaplain_gear.yml
  Resources/Prototypes/_Impstation/Objects/Misc/nullrod.yml
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle_icons_32x.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Weapons/annabelle_icons_32x.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#495 Rewrite of the Blob.
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Blob.xml
Labels: S: Untriaged, Changes: No C#, size/M

#500 New Funky Lobby Art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/typicalDay.webp
  Resources/Textures/LobbyScreens/typicalDay.webp.yml
Labels: S: Untriaged, Changes: No C#, size/S

#498 Red Performer's outfit (again)
  Resources/Prototypes/_Funkystation/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/_Funkystation/Clothing/Shoes/Boots/redperformer.rsi/equipped-FEET.png
  Resources/Textures/_Funkystation/Clothing/Shoes/Boots/redperformer.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Shoes/Boots/redperformer.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/redperformer.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/redperformer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/redperformer.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/redperformer.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/redperformer.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Uniforms/Jumpskirt/redperformer.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#460 Updated Disabler Plus and Mini Laser Pistol Capacity
  Resources/Prototypes/_Funkystation/Entities/Weapons/miniaturelaserpistol.yml
Labels: Changes: No C#, size/S

#502 missing lang file fixed
  Resources/Locale/en-US/_Shitmed/surgery/surgery-popup.ftl
Labels: S: Untriaged, Changes: No C#, size/XS

#503 Manually fixed the funkylog, made it first
  Resources/Changelog/Funkylog.yml
Labels: S: Untriaged, Changes: No C#, size/M

#506 [port] grabbag of dv surg changes
  Content.Client/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Client/_DV/Surgery/SurgeryDirtinessItemStatus.cs
  Content.Server/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Server/_DV/Surgery/SurgeryCrossContaminationComponent.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/CCVar/CCVars.Surgery.cs
  Content.Shared/_DV/Surgery/AnesthesiaComponent.cs
  Content.Shared/_DV/Surgery/SharedSurgeryCleanSystem.cs
  Content.Shared/_DV/Surgery/SurgeryCleanDirtDoAfterEvent.cs
  Content.Shared/_DV/Surgery/SurgeryCleanedEvent.cs
  Content.Shared/_DV/Surgery/SurgeryCleansDirt.cs
  Content.Shared/_DV/Surgery/SurgeryContaminableComponent.cs
  Content.Shared/_DV/Surgery/SurgeryDirtinessComponent.cs
  Content.Shared/_DV/Surgery/SurgeryDirtinessEvent.cs
  Content.Shared/_DV/Surgery/SurgerySelfDirtyComponent.cs
  Content.Shared/_DV/Surgery/SurgeryStepDirtinessComponent.cs
  Content.Shared/_Shitmed/Autodoc/Systems/SharedAutodocSystem.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Resources/Locale/en-US/_DV/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/en-US/_DV/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_DV/surgery/cleanliness.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_DV/Reagents/medicine.yml
  Resources/Prototypes/_DV/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_DV/status_effects.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Prototypes/_Goobstation/Damage/containers.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
Labels: S: Untriaged, size/M

#507 Singing Speed Snails
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Labels: S: Untriaged, Changes: No C#, size/S

#505 Psych Clothes For Real
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
Labels: Changes: No C#, size/XS

#514 Grammar station 1.0
  Resources/Locale/en-US/_Funkystation/sacrificed.ftl
  Resources/Locale/en-US/_Funkystation/traits/traits.ftl
  Resources/Locale/en-US/_Goobstation/species/gingerbread.ftl
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-dino.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/biological.ftl
  Resources/Locale/en-US/_Mono/Traits/traits.ftl
  Resources/Locale/en-US/_NF/mail/mail.ftl
Labels: S: Untriaged, Changes: No C#, size/S

#511 Rev flash popup on conversion
  Content.Server/Flash/FlashSystem.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
Labels: bug, S: Untriaged, size/XS

#509 Map Updates 10 03 2025
  Resources/Maps/_Funkystation/elkridge.yml
  Resources/Maps/_Funkystation/oasis.yml
  Resources/Prototypes/Maps/elkridge.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#512 Deletes random Medidrobe file from the file system
  medidrobe.yml
Labels: S: Untriaged, Changes: No C#, size/S

#519 sterile system fixes
  Content.Client/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Client/_DV/Surgery/SurgeryDirtinessItemStatus.cs
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/Surgery.xml
Labels: S: Untriaged, size/S

#521 sharkminnow shoes and chitin
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Shoes/sharkminnow.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/Graphs/Clothing/sharkminnow_shoes.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Funkystation/Stacks/Materials/materials.yml
  Resources/Prototypes/_Funkystation/tags.yml
  Resources/Textures/_Funkystation/Clothing/Shoes/Misc/sharkminnow.rsi/equipped-FEET.png
  Resources/Textures/_Funkystation/Clothing/Shoes/Misc/sharkminnow.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Shoes/Misc/sharkminnow.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Shoes/Misc/sharkminnow.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Shoes/Misc/sharkminnow.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Materials/Mob/sharkchitin.rsi/chitin.png
  Resources/Textures/_Funkystation/Objects/Materials/Mob/sharkchitin.rsi/chitin_2.png
  Resources/Textures/_Funkystation/Objects/Materials/Mob/sharkchitin.rsi/chitin_3.png
  Resources/Textures/_Funkystation/Objects/Materials/Mob/sharkchitin.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Materials/Mob/sharkchitin.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Materials/Mob/sharkchitin.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#523 fix senior bartender jumpsuit
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/bartender.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#515 Porting story directors from recent goob changes
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/StationEvents/Events/GasLeakRule.cs
  Content.Server/_Goobstation/StationEvents/Components/GameDirectorComponent.cs
  Content.Server/_Goobstation/StationEvents/Components/SelectedGameRulesComponent.cs
  Content.Server/_Goobstation/StationEvents/GameDirectorSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/AnomalyMetric.cs
  Content.Server/_Goobstation/StationEvents/Metric/ChaosMetricSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/ChaosMetrics.cs
  Content.Server/_Goobstation/StationEvents/Metric/CombatMetricSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/AnomalyMetricComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/CombatMetricComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/CombatPowerComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/DoorMetricComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/FoodMetricComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/PuddleMetricComponent.cs
  Content.Server/_Goobstation/StationEvents/Metric/DoorMetricSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/FoodMetricSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/PuddleMetricSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/_Goobstation/CCVars/CCVars.Goob.cs
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/preset-calm.ftl
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/preset-combat.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Tools/access_breaker.yml
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
  Resources/Prototypes/_Goobstation/GameRules/game_director.yml
  Resources/Prototypes/_Goobstation/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, size/L

#528 make surgery easier (again)
  Content.Shared/_DV/Surgery/SurgeryContaminableComponent.cs
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: S: Untriaged, size/XS

#513 Syndicard throwables update
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Misc/business_card.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/syndicate_cards.yml
  Resources/Prototypes/_Funkystation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Head/hats.yml
Labels: Changes: No C#, size/S

#532 Departmental Communications Consoles
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Prototypes/_Funkystation/Entities/Objects/Devices/Circutboards/computer.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/Computers/computers.yml
  Resources/Textures/Structures/Machines/computers.rsi/comm_cargo.png
  Resources/Textures/Structures/Machines/computers.rsi/comm_engi.png
  Resources/Textures/Structures/Machines/computers.rsi/comm_medical.png
  Resources/Textures/Structures/Machines/computers.rsi/comm_science.png
  Resources/Textures/Structures/Machines/computers.rsi/comm_security.png
  Resources/Textures/Structures/Machines/computers.rsi/comm_service.png
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#533 Shrimp was lacking flavor profile!
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Flavors/flavors.yml
Labels: S: Untriaged, Changes: No C#

#535 Director tweaks
  Content.Server/_Goobstation/StationEvents/Metric/CombatMetricSystem.cs
  Content.Server/_Goobstation/StationEvents/Metric/Components/CombatMetricComponent.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Funkystation/tags.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: S: Untriaged, size/M

#526 Boombox Time
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Resources/Locale/en-US/_Funkystation/boombox.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/boombox.yml
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/blueboombox.rsi/boombox-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/blueboombox.rsi/boombox-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/blueboombox.rsi/boombox.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/blueboombox.rsi/equipped-BACKPACK.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/blueboombox.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/blueboombox.rsi/light.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/blueboombox.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/boombox.rsi/boombox-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/boombox.rsi/boombox-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/boombox.rsi/boombox.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/boombox.rsi/equipped-BACKPACK.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/boombox.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/boombox.rsi/light.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/boombox.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/greenboombox.rsi/boombox-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/greenboombox.rsi/boombox-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/greenboombox.rsi/boombox.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/greenboombox.rsi/equipped-BACKPACK.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/greenboombox.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/greenboombox.rsi/light.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/greenboombox.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/pinkboombox.rsi/boombox-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/pinkboombox.rsi/boombox-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/pinkboombox.rsi/boombox.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/pinkboombox.rsi/equipped-BACKPACK.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/pinkboombox.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/pinkboombox.rsi/light.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/pinkboombox.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/purpleboombox.rsi/boombox-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/purpleboombox.rsi/boombox-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/purpleboombox.rsi/boombox.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/purpleboombox.rsi/equipped-BACKPACK.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/purpleboombox.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/purpleboombox.rsi/light.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/purpleboombox.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/redboombox.rsi/boombox-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/redboombox.rsi/boombox-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/redboombox.rsi/boombox.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/redboombox.rsi/equipped-BACKPACK.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/redboombox.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/redboombox.rsi/light.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/redboombox.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/slavboombox.rsi/boombox-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/slavboombox.rsi/boombox-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/slavboombox.rsi/boombox.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/slavboombox.rsi/equipped-BACKPACK.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/slavboombox.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/slavboombox.rsi/light.png
  Resources/Textures/_Funkystation/Objects/Fun/Boomboxes/slavboombox.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#525 Added 6 New Midround Ghostrole shuttles - added to shuttlevent spawnpool as well
  Resources/Maps/_Funkystation/Shuttles/ShuttleEvent/clownpatrol.yml
  Resources/Maps/_Funkystation/Shuttles/ShuttleEvent/foamroid.yml
  Resources/Maps/_Funkystation/Shuttles/ShuttleEvent/loneroboticist.yml
  Resources/Maps/_Funkystation/Shuttles/ShuttleEvent/mouseJumpscare.yml
  Resources/Maps/_Funkystation/Shuttles/ShuttleEvent/skeletonMafia.yml
  Resources/Maps/_Funkystation/Shuttles/ShuttleEvent/wanderingNomad.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_Funkystation/Entities/Mobs/Player/ShuttleRoles/roles.yml
  Resources/Prototypes/_Funkystation/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/_Funkystation/Entities/Mobs/Player/ShuttleRoles/spawners.yml
  Resources/Prototypes/_Funkystation/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_Funkystation/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/_Funkystation/Shuttles/shuttle_incoming_event.yml
Labels: Changes: Map, size/XL, Changes: No C#

#537 MAKE RODENTIA GREAT AGAIN
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
Labels: S: Untriaged, Changes: No C#, size/S

#540 Ace Pride cloaks in the pride-o-mat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#542 cosmic cult hotfix
  Resources/Prototypes/_Impstation/CosmicCult/Tileset/monument.yml
Labels: S: Untriaged, Changes: No C#, size/M

#541 Roid the continuing
  Resources/Maps/_Funkystation/roid_outpost.yml
  Resources/Prototypes/_Funkystation/Maps/roid_outpost.yml
Labels: Changes: Map, Changes: No C#

#551 Sec Guidebook
  Resources/ServerInfo/Guidebook/Security/Security.xml
Labels: S: Untriaged, Changes: No C#, size/XS

#548 Minor shuttle tweaks and spawnweight changes
  Resources/Maps/_Funkystation/Shuttles/ShuttleEvent/clownpatrol.yml
  Resources/Maps/_Funkystation/Shuttles/ShuttleEvent/loneroboticist.yml
  Resources/Maps/_Funkystation/Shuttles/ShuttleEvent/mouseJumpscare.yml
  Resources/Prototypes/_Funkystation/GameRules/unknown_shuttles.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#555 Ports No EORG Popup from Delta-V
  Content.Client/DeltaV/RoundEnd/NoEorgPopup.xaml
  Content.Client/DeltaV/RoundEnd/NoEorgPopup.xaml.cs
  Content.Client/DeltaV/RoundEnd/NoEorgPopupSystem.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Resources/Locale/en-US/deltav/roundend/no-eorg-popup.ftl
Labels: Changes: UI

#559 Marking Changes.
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
Labels: S: Untriaged, Changes: No C#, size/S

#560 [port] heretic fixy fix
  Content.Server/_Goobstation/Store/Conditions/HereticPathCondition.cs
Labels: S: Untriaged, size/XS

#558 Phase 1 of funky-maints for Box
  Resources/Maps/_Funkystation/box.yml
Labels: Changes: Map, size/L, Changes: No C#

#546 Bagel Maints Expansion pt1
  Resources/Maps/_Funkystation/bagel.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#566 Align items in job selector
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI, S: Untriaged

#557 Revs: Converting all of command is now considered a Major Victory
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
Labels: S: Untriaged, size/S

#565 Blob Factories now actually produce more Pods when the originals die
  Content.Server/_Goobstation/Blob/BlobFactorySystem.cs
  Content.Server/_Goobstation/Blob/NPC/BlobPod/BlobPodSystem.cs
  Content.Server/_Goobstation/Blob/ZombieBlobSystem.cs
  Content.Shared/_Goobstation/Blob/Components/BlobPodComponent.cs
Labels: S: Untriaged, size/S

#567 Increase potency of Ethylredoxrazine
  Resources/Prototypes/Reagents/medicine.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#570 [port] more cosmic cult updates
  Content.Client/_Impstation/CosmicCult/ClientCosmicCultSystem.cs
  Content.Client/_Impstation/CosmicCult/UI/Monument/MonumentMenu.xaml.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultSystem.Abilities.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultSystem.cs
  Content.Server/_Impstation/CosmicCult/EntitySystems/RogueAscendedSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/_Impstation/CosmicCult/Components/CosmicCultComponent.cs
  Content.Shared/_Impstation/CosmicCult/Components/RogueAscendedDendriteComponent.cs
  Content.Shared/_Impstation/CosmicCult/RogueAscendedDendriteSystem.cs
  Resources/Locale/en-US/_Impstation/cosmiccult/abilities.ftl
  Resources/Locale/en-US/_Impstation/cosmiccult/alerts.ftl
  Resources/Locale/en-US/_Impstation/cosmiccult/preset-cosmiccult.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/_Impstation/CosmicCult/Alerts/entropy.yml
  Resources/Prototypes/_Impstation/CosmicCult/Mobs/astralforms.yml
  Resources/Prototypes/_Impstation/CosmicCult/Objects/entropymote.yml
  Resources/Prototypes/_Impstation/CosmicCult/Objects/misc.yml
  Resources/ServerInfo/_Impstation/Guidebook/Antagonist/CosmicCult.xml
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base0.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base1.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base10.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base11.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base12.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base13.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base14.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base2.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base3.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base4.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base5.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base6.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base7.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base8.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base9.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/meta.json
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num0.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num1.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num10.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num11.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num12.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num13.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num14.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num2.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num3.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num4.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num5.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num6.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num7.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num8.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num9.png
  cosmicCultLicense.txt
Labels: Changes: Sprites, Changes: UI, S: Untriaged, size/M

#556 Director tweaks
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/_Funkystation/GameDirectors/SecretDirectorComponent.cs
  Content.Server/_Funkystation/GameDirectors/SecretDirectorSystem.cs
  Content.Server/_Goobstation/StationEvents/Components/GameDirectorComponent.cs
  Content.Server/_Goobstation/StationEvents/GameDirectorSystem.cs
  Content.Shared/_Funkystation/CCVars/CCVars.Funky.cs
  Resources/Locale/en-US/_Funkystation/game-ticking/game-presets/preset-apocalypse.ftl
  Resources/Locale/en-US/_Funkystation/game-ticking/game-presets/preset-drunk.ftl
  Resources/Locale/en-US/_Funkystation/game-ticking/game-presets/preset-secret-director.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Funkystation/GameRules/game_director.yml
  Resources/Prototypes/_Funkystation/GameRules/roundstart.yml
  Resources/Prototypes/_Funkystation/director_weights.yml
  Resources/Prototypes/_Funkystation/game_presets.yml
  Resources/Prototypes/_Goobstation/GameRules/game_director.yml
  Resources/Prototypes/_Goobstation/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_Impstation/CosmicCult/events.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, size/M, S: Needs Review

#572 Added Chemical Reactions tab to Chemistry guidebook
  Resources/Locale/en-US/_Funkystation/guidebook.ftl
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/ServerInfo/Funkystation/Guidebook/ChemicalTabs/Reactions.xml
Labels: S: Untriaged, Changes: No C#, size/M

#568 Atmos Borg Module
  Resources/Prototypes/Entities/Markers/Spawners/Random/Department/science.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Interface/Actions/actions_borg.rsi/atmos-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-atmos.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#574 firefigher nozzle and backpack updates
  Content.Shared/Tools/Components/FirefightingNozzleComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.FirefightingNozzle.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
  Resources/Locale/en-US/tools/components/firefighter-nozzle-component.ftl
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Objects/Tools/firefightingnozzle.yml
Labels: S: Untriaged, size/M

#575 nitrium healium and bz buffs
  Content.Server/Atmos/Reactions/NitriumProductionReaction.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Reagents/gases.yml
Labels: S: Untriaged, size/S

#573 Allow Flatpacker to be linked to the Material Silo
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
Labels: S: Untriaged, Changes: No C#

#581 New revolutionary convert sound.
  Resources/Audio/Ambience/Antag/attributions.yml
  Resources/Audio/Ambience/Antag/headrev_start.ogg
  Resources/Audio/_Goobstation/Ambience/Antag/attributions.yml
  Resources/Audio/_Goobstation/Ambience/Antag/rev_start.ogg
Labels: S: Untriaged, Changes: No C#, size/S, Changes: Audio

#577 add hydrogen
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/EntitySystems/AtmosResinDespawnSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/Portable/ElectrolyzerComponent.cs
  Content.Server/Atmos/Portable/ElectrolyzerSystem.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Reactions/HydrogenFireReaction.cs
  Content.Server/Atmos/Reactions/MetalHydrogenReaction.cs
  Content.Server/Atmos/Reactions/NitriumDecompositionReaction.cs
  Content.Server/Atmos/Reactions/PluoxiumProductionReaction.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Content.Shared/Atmos/Visuals/ElectrolyzerVisuals.cs
  Content.Shared/_EE/Supermatter/Components/SupermatterComponent.cs
  Resources/Locale/en-US/atmos/gases.ftl
  Resources/Locale/en-US/gases/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Structures/Machines/electrolyzer.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Stacks/Materials/Sheets/metal.yml
  Resources/Textures/Structures/Piping/Atmospherics/electrolyzer.rsi/electrolyzerOff.png
  Resources/Textures/Structures/Piping/Atmospherics/electrolyzer.rsi/electrolyzerOn.png
  Resources/Textures/Structures/Piping/Atmospherics/electrolyzer.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/brown.png
  Resources/Textures/Structures/Storage/canister.rsi/frezon.png
  Resources/Textures/Structures/Storage/canister.rsi/healium.png
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/purple.png
  Resources/Textures/Structures/Storage/canister.rsi/white-1.png
  Resources/Textures/Structures/Storage/canister.rsi/white.png
Labels: Changes: Sprites, Changes: UI, S: Untriaged, size/M

#582 disable changeling transform sting
  Resources/Prototypes/_Goobstation/Changeling/Catalog/changeling_catalog.yml
Labels: S: Untriaged, Changes: No C#

#583 Add metal hydrogen armor and metal hydrogen axe
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/armor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/metal_hydrogen_axe.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/metal_hydrogen_helmet.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/atmosian_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/atmosian_armor.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/atmosian_armor.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/atmosian_armor.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/atmosian_armor.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/metal_hydrogen_armor.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/metal_hydrogen_axe.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#585 Fix an infinite water vapor bug
  Content.Server/Atmos/Portable/ElectrolyzerSystem.cs
  Content.Server/Atmos/Reactions/HydrogenFireReaction.cs
Labels: S: Untriaged, size/XS

#587 Cap drunk time to end permanent drunkeness
  Content.Shared/Drunk/DrunkSystem.cs
Labels: S: Untriaged, size/S

#588 Nukies fixes + accidental heretic fix????????
  Resources/Prototypes/GameRules/roundstart.yml
Labels: S: Untriaged, Changes: No C#

#591 Nitrium move speed modifier minor fix
  Content.Server/EntityEffects/Effects/NitriumMoveSpeedModifier.cs
Labels: S: Untriaged, size/XS
