Repository funky-station/funky-station, pull requests merged in 2025-08, with the labels that each got.

#1261 Glacier changes and fixes for the week of Aug. 1
  Resources/Maps/_Funkystation/glacier.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/S

#1237 VendingMachineAdditions
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_snacks.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/trash.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/vending.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_Goobstation/Catalog/VendingMachines/Inventories/solsnack.yml
  Resources/Prototypes/_Goobstation/Catalog/VendingMachines/Inventories/weebvend.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Consumable/Food/snacks.yml
Labels: S: Untriaged, Changes: No C#, size/M

#1263 Resprited Encryption Keys
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/encryption_keys.yml
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/cc.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/default.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/freelance.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/future.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/gold.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-binary.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-cargo.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-cc.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-command.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-common.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-engineering.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-freelance.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-future.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-master.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-medical.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-medsci.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-nt.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-robotics.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-science.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-security.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-service.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-sinary.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/label-syndicate.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/nt.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/silver.png
  Resources/Textures/_Funkystation/Objects/Devices/encryption_keys.rsi/syndicate.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1238 Warmer Clothes
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
Labels: Changes: No C#, size/S

#1258 Rule tweaks.
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC12Antag.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13NoEORG.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6Metagaming.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC8Names.xml
Labels: S: Untriaged, Changes: No C#, size/S

#1246 Suit updates
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Shared/Armor/AllowBackStorageComponent.cs
  Content.Shared/Armor/AllowTankStorageComponent.cs
  Content.Shared/Atmos/GetFireResistanceEvent.cs
  Content.Shared/Clothing/Components/FireResistanceComponent.cs
  Content.Shared/Clothing/EntitySystems/FireResistanceSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/scraparmor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Head/hardsuit_helmets.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/equipped-head-light-vox.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/equipped-head-light-vulpkanin.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/equipped-head-light.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/equipped-head-unshaded-vulpkanin.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/equipped-head-unshaded.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/equipped-head-vox.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/equipped-head-vulpkanin.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/equipped-head.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/icon-flash.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/icon-unshaded.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/light-overlay.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/off-inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Head/Helmets/helldiver.rsi/off-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, size/M

#1268 Obscenely high roundstart budget fixed
  Content.Server/_DV/Cargo/Components/StationLogisticStatsDatabaseComponent.cs
  Content.Server/_DV/Cargo/Systems/LogisticStatsSystem.cs
  Content.Shared/Cargo/SharedCargoSystem.cs
Labels: S: Untriaged, size/S

#1267 Box updates
  Resources/Maps/_Funkystation/box.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1274 Lower HFR power draw
  Content.Server/_Funkystation/HFR/Systems/HypertorusFusionReactorSystem.cs
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/Atmospherics/hfr.yml
Labels: S: Untriaged, size/XS

#1257 Craftable canisters
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/utilities/storage_canister.yml
  Resources/Prototypes/_NF/Recipes/Construction/utilities.yml
Labels: S: Untriaged, Changes: No C#, size/M

#1271 Add temperature adjusting component
  Content.Server/_Funkystation/Atmos/Effects/TemperatureAdjustingComponent.cs
  Content.Server/_Funkystation/Atmos/Effects/TemperatureAdjustingSystem.cs
Labels: S: Untriaged, size/S

#1275 Vasm lobby stuffs
  Resources/Audio/Lobby/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/funkyChem.webp
  Resources/Textures/LobbyScreens/funkyChem.webp.yml
  Resources/Textures/LobbyScreens/lowpopCrew.webp.yml
Labels: S: Untriaged, Changes: No C#, size/S, Changes: Audio

#1286 Roundstart weight tweaks
  Resources/Prototypes/secret_weights.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1291 custom stack splitting dialog (#1179)
  Content.Client/_Goobstation/Stack/StackCustomSplitBoundUserInterface.cs
  Content.Client/_Goobstation/Stack/StackCustomSplitWindow.xaml
  Content.Client/_Goobstation/Stack/StackCustomSplitWindow.xaml.cs
  Content.Server/Stack/StackSystem.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Content.Shared/_Goobstation/Stacks/StackCustomSplit.cs
  Resources/Locale/en-US/stack/stack-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/rolling_paper.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Misc/carpets.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_xenoartifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/fulton.yml
  Resources/Prototypes/Entities/Objects/Tools/inflatable_wall.yml
Labels: Changes: UI, S: Untriaged, size/M

#1287 Reenables meteors
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/_DV/CosmicCult/game_presets.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1297 Added Needed Mood Conflict
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/shared.yml
Labels: Changes: No C#, size/XS

#1296 Fix to thaven shared food mood + addition of shared drink mood
  Resources/Locale/en-US/_Impstation/thavens/shared.ftl
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/shared.yml
  Resources/Prototypes/_Impstation/datasets.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1167 Chem rework prologue
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/chemicals.yml
Labels: S: Untriaged, size/S

#1299 Saltern Map Maintenance
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1285 Grammar fix on latejoin text
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: S: Untriaged, Changes: No C#, size/XS

#1292 firesuit fixed
  Content.Shared/Clothing/Components/FireResistanceComponent.cs
  Content.Shared/Clothing/EntitySystems/FireResistanceSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: S: Untriaged, size/S

#1308 fixed bug causing desword failures
  Content.Shared/Item/SharedItemSystem.cs
Labels: S: Untriaged, size/S

#1322 Uniform Printer Additions (3 new ones)
  Resources/Maps/_Funkystation/omega.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: Changes: Map, Changes: No C#, size/M

#1331 Fix: Arachnid Web Slots
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1334 Handheld Mass Scanner Resprite
  Resources/Textures/Objects/Tools/handheld_mass_scanner.rsi/icon.png
  Resources/Textures/Objects/Tools/handheld_mass_scanner.rsi/meta.json
  Resources/Textures/Objects/Tools/handheld_mass_scanner.rsi/scanner.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#1294 reverted zombie infection dot removal
  Content.Shared/Zombies/PendingZombieComponent.cs
Labels: S: Untriaged, size/XS

#1051 i love borgs
  Content.Server/PAI/PAISystem.cs
  Content.Server/Speech/EntitySystems/DamagedSiliconAccentSystem.cs
  Content.Shared/PAI/PAIComponent.cs
  Content.Shared/PAI/SharedPAISystem.cs
  Content.Shared/Speech/Components/DamagedSiliconAccentComponent.cs
  Resources/Locale/en-US/store/currency.ftl
  Resources/Locale/en-US/store/pai-catalog.ftl
  Resources/Prototypes/Catalog/pai_catalog.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Store/categories.yml
  Resources/Prototypes/Store/currency.yml
Labels: S: Untriaged, size/M

#1338 RPD pipe layers
  Content.Client/RCD/AlignRPDAtmosPipeLayers.cs
  Content.Client/RCD/RCDConstructionGhostSystem.cs
  Content.Client/RCD/RPDMenu.xaml
  Content.Client/RCD/RPDMenu.xaml.cs
  Content.Shared/RCD/Components/RCDComponent.cs
  Content.Shared/RCD/RCDEvents.cs
  Content.Shared/RCD/RCDPrototype.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/alt_layers.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Textures/Interface/Radial/RPD/manifold.png
Labels: Changes: UI, S: Untriaged, size/M

#1337 Thief: Swap Storage for Freedom Implant
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1315 Add station pets to Roid
  Resources/Maps/_Funkystation/roid_outpost.yml
Labels: Changes: Map, Changes: No C#, size/M

#1365 Fix thermal vision
  Content.Shared/_EE/Overlays/Switchable/ThermalVisionComponent.cs
Labels: S: Untriaged, size/XS

#1361 Fix ready manifest
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/Preferences/Managers/IServerPreferencesManager.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/ReadyManifest/ReadyManifestSystem.cs
Labels: S: Untriaged, size/S

#1341 implicit radio channels
  Content.Server/Implants/RadioImplantSystem.cs
  Content.Server/Radio/Components/ActiveRadioComponent.cs
  Content.Server/Radio/Components/IntrinsicRadioTransmitterComponent.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicFragmentationSystem.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
Labels: S: Untriaged, size/S

#1343 Removes MedTek cartridge from crew PDAs, boosts health analyzer usage a bit
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/PDA_cartridge_case.yml
Labels: Changes: No C#, size/S

#1364 Svalinn tweaks
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: No C#, size/S

#1367 Lasers #2
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/crates.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/base.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/disabler-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/disabler-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/equipped-BELT.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/lethal-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/lethal-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-1.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-2.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-3.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-4.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/mode-disabler.png
  Resources/Textures/_Funkystation/Objects/Weapons/Guns/Battery/energygun.rsi/mode-lethal.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1368 Fixed spawn admin verb loop to use the correct profile instead of the…
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: S: Untriaged, size/XS

#1369 pAI shop add encryption
  Content.Server/_EinsteinEngines/Radio/IntrinsicRadioKeySystem.cs
  Content.Shared/PAI/SharedPAISystem.cs
  Resources/Locale/en-US/store/pai-catalog.ftl
  Resources/Prototypes/Catalog/pai_catalog.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: S: Untriaged, size/S

#1350 Replaces all (player-facing) instances of NanoMedPlus with NanoMed Plus
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1319 medical patch tweaks 2
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/medical_patch.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Medical/Medicalpatches.xml
Labels: S: Untriaged, Changes: No C#, size/S

#1344 Adds pipelayered distro to Roid
  Resources/Maps/_Funkystation/roid_outpost.yml
  Resources/Prototypes/_Funkystation/Maps/roid_outpost.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1253 Shitpost Station, Microstation
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/microstation.yml
  Resources/Prototypes/Maps/microstation.yml
Labels: Changes: Map, size/L, Changes: No C#

#1280 Core map update and stuff
  Resources/Maps/_Funkystation/core.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1131 Ports Golden pAIs from Wizden
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mail/mail_fun.yml
  Resources/Textures/Objects/Fun/pai.rsi/golden-icon-pai-off.png
  Resources/Textures/Objects/Fun/pai.rsi/golden-pai-base.png
  Resources/Textures/Objects/Fun/pai.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#1121 bluesec (real)
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: S: Untriaged, Changes: No C#

#1306 Cargo techfab introduction and salvage QOL tweaks
  Resources/Prototypes/Catalog/Fills/Crates/permaescape.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Devices/wristwatch.yml
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
  Resources/Prototypes/Entities/Objects/Misc/treasure.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag_holding.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Devices/Circutboards/production.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Cargo/material_bag.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Funkystation/Recipes/Lathes/cargo_techfab.yml
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/material_bag.rsi/equipped-BELT.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/material_bag.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/material_bag.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/material_bag.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Cargo/material_bag.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#1339 Rule 7 tweak
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC7PlayYourCharacter.xml
Labels: S: Untriaged, Changes: No C#, size/XS

#1377 Surgery Kits
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Items/surgerykits.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Medical/surgerykits.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Textures/_Funkystation/Objects/Specific/Medical/surgerykits.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Specific/Medical/surgerykits.rsi/surgerykit-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/surgerykits.rsi/surgerykit-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/surgerykits.rsi/surgerykit.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/surgerykits.rsi/surgerykitsyndicate-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/surgerykits.rsi/surgerykitsyndicate-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Medical/surgerykits.rsi/surgerykitsyndicate.png
  Resources/Textures/_Funkystation/Structures/Furniture/rollerbeds.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/Furniture/rollerbeds.rsi/syndicate_surgery_rollerbed-inhand-left.png
  Resources/Textures/_Funkystation/Structures/Furniture/rollerbeds.rsi/syndicate_surgery_rollerbed-inhand-right.png
  Resources/Textures/_Funkystation/Structures/Furniture/rollerbeds.rsi/syndicate_surgery_rollerbed.png
  Resources/Textures/_Funkystation/Structures/Furniture/rollerbeds.rsi/syndicate_surgery_rollerbed_buckled.png
  Resources/Textures/_Funkystation/Structures/Furniture/rollerbeds.rsi/syndicate_surgery_rollerbed_folded.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1375 Fix cosmic cult crash
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
Labels: S: Untriaged, size/S

#1380 Elkridge changes and fixes for the week of Aug. 15
  Resources/Maps/_Funkystation/elkridge.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M

#1378 Genpop fixes
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/security_clown.yml
Labels: S: Untriaged, size/S

#1382 Genpop fix for BSO access
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1317 Port reduced motion flash effect version 3 (#37824)
  Content.Client/Flash/FlashOverlay.cs
Labels: S: Untriaged, size/S

#1390 Purchaseable HEV Suit Crate and Ashing Immunity Tooltip
  Content.Shared/Armor/SharedArmorSystem.cs
  Resources/Locale/en-US/armor/armor-examine.ftl
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/specific.yml
Labels: S: Untriaged, size/S

#1396 Spawns the plant analyzer on botanist lockers roundstart.
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1385 Adds antipsychotics prescription
  Resources/Locale/en-US/_Funkystation/records/medical_info.ftl
  Resources/Prototypes/_Funkystation/Records/prescriptions.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1406 Fixing Astral Murmur on deconversion
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
Labels: S: Untriaged, size/XS

#1413 Lasers pass #3 - armor value changes
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: No C#, size/M

#1418 Fixes observer light
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1434 More app space
  Content.Shared/CartridgeLoader/CartridgeLoaderComponent.cs
Labels: S: Untriaged, size/XS

#1433 Sos app v2 wrong number
  Content.Server/_Impstation/CartridgeLoader/Cartridges/SOSCartridgeComponent.cs
  Content.Server/_Impstation/CartridgeLoader/Cartridges/SOSCartridgeSystem.cs
  Resources/Locale/en-US/_Impstation/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/cartridges.yml
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/cart-sos.png
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Devices/sos.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Devices/sos.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#1430 Nerfing Greencomms
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Resources/Prototypes/radio_channels.yml
Labels: S: Untriaged, size/S

#1431 Add a steel chair to the uplink for traitor Boxers
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: Changes: No C#, size/S

#1408 Grid inv fixes
  Content.Client/UserInterface/Systems/Storage/Controls/ItemGridPiece.cs
  Content.Shared/Item/SharedItemSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Impstation/Body/Parts/thaven.yml
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/baseball_bat_storage_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/baseball_bat_storage_64x.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/captain_sabre.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/captain_sabre_storage_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/captain_sabre_storage_64x.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/claymore_storage_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/claymore_storage_64x.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/cutlass.rsi/foam_storage.png
  Resources/Textures/Objects/Weapons/Melee/cutlass.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/cutlass.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/energykatana_storage_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/energykatana_storage_64x.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/katana_storage_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/katana_storage_64x.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/storage.png
Labels: Changes: Sprites, size/M

#1426 Dan's Soaked Rejects
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/discount.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cartons/mixedrejectscarton.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cartons/mixedrejectscarton.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cartons/mixedrejectscarton.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cartons/mixedrejectscarton.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cartons/mixedrejectscarton.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/trash.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1401 Unrevivable entities don't trigger the revive alarm in the morgue
  Content.Server/Morgue/MorgueSystem.cs
Labels: S: Untriaged, size/XS

#1416 Omega Minor Update 8/22/25
  Resources/Maps/_Funkystation/omega.yml
  Resources/Prototypes/Maps/omega.yml
Labels: Changes: Map, size/L, Changes: No C#

#1420 Shotgun Deckard
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1391 Added support code for CentCom ghost roles, and added the Central Com…
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Spawners/Components/SpawnPointComponent.cs
  Resources/Locale/en-US/_Funkystation/job/job-names.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Funkystation/Loadouts/Jobs/CentComm/intern.yml
  Resources/Prototypes/_Funkystation/Roles/Jobs/CentComm/ghost_roles.yml
  Resources/Prototypes/_Funkystation/Roles/play_time_trackers.yml
  Resources/Prototypes/_Funkystation/StatusIcon/job.yml
  Resources/migration.yml
Labels: S: Untriaged, size/M

#1423 Cluster Maintenance 8/22/25
  Resources/Maps/_Funkystation/cluster.yml
  Resources/Prototypes/_Goobstation/Maps/cluster.yml
Labels: Changes: Map, size/XL, Changes: No C#

#1421 FIX late join antag selection, add character selection integration tests, add some more admin logging
  Content.IntegrationTests/Pair/TestPair.Recycle.cs
  Content.IntegrationTests/Tests/Round/CharacterSelectionTest.cs
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: S: Untriaged, size/M, S: Needs Review

#1397 Disable BSO as a job
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/ServerInfo/Funkystation/Guidebook/Command/CommandStandardOperatingProcedure.xml
Labels: S: Untriaged, S: Merge Conflict, Changes: No C#, size/S

#1293 removed attempted murder from space law
  Resources/ServerInfo/Guidebook/Security/SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: S: Untriaged, Changes: No C#, size/S

#1412 Added stethoscopes to all of the medical doctor loadouts because I fi…
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1443 alien kids
  Resources/Audio/_Funkystation/Music/an_alien_song_alien_kids.ogg
  Resources/Audio/_Funkystation/Music/attributions.yml
  Resources/Audio/_Funkystation/Music/the_great_message_alien_kids.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Funkystation/Catalog/Jukebox/standard.yml
Labels: S: Untriaged, Changes: No C#, size/S, Changes: Audio

#1442 Fixing IPCs being able to talk on common when nobody else can
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Labels: S: Untriaged, size/XS

#1437 first aid kit slot increase, combat medkit removed from medlathe
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: No C#, size/S

#1453 Mail time
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_cargo.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_consumable.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_security.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_service.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/paper.yml
  Resources/Prototypes/_Goobstation/Mail/mailDeliveries.yml
Labels: S: Untriaged, Changes: No C#, size/M

#1436 Book Cart and other library tweaks
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
  Resources/Prototypes/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Library/bookcart.yml
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedBrown.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedGrass.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedGreen.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedOcean.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedOrange.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedPink.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedPurple.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedRed.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedSky.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedTan.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/PaperDyedYellow.png
  Resources/Textures/Structures/Furniture/bookshelf.rsi/meta.json
  Resources/Textures/Structures/Furniture/bookshelf.rsi/paper.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-0.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-1.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-10.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-11.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-12.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-13.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-14.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-15.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-2.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-3.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-4.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-5.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-6.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-7.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-8.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/book-9.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/cart.png
  Resources/Textures/_Funkystation/Objects/Specific/Library/bookcart.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#1313 Mindshields break on Cosmic Cult members
  Content.Shared/Mindshield/Components/MindShieldComponent.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Content.Shared/_DV/CosmicCult/SharedCosmicCultSystem.cs
Labels: S: Untriaged, size/S

#1464 They re-Moved Medtek?
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/PDA_cartridge_case.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1458 Port Pressure Relief Valve
  Content.Client/Atmos/EntitySystems/GasPressureRegulatorSystem.cs
  Content.Client/Atmos/UI/GasPressureRegulatorBoundUserInterface.cs
  Content.Client/Atmos/UI/GasPressureRegulatorWindow.xaml
  Content.Client/Atmos/UI/GasPressureRegulatorWindow.xaml.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressureRegulatorSystem.cs
  Content.Shared/Atmos/EntitySystems/SharedGasPressureRegulatorSystem.cs
  Content.Shared/Atmos/Piping/Binary/Components/GasPressureRegulatorComponent.cs
  Content.Shared/Atmos/Piping/Binary/Components/SharedGasPressureRegulatorComponent.cs
  Content.Shared/Atmos/Piping/EnabledAtmosDeviceVisuals.cs
  Resources/Locale/en-US/atmos/gas-pressure-regulator-system.ftl
  Resources/Locale/en-US/components/gas-pressure-regulator-component.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/alt_layers.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/ServerInfo/Guidebook/Engineering/GasManipulation.xml
  Resources/ServerInfo/Guidebook/Engineering/PressureRegulator.xml
  Resources/ServerInfo/Guidebook/Engineering/Valves.xml
  Resources/Textures/Interface/Radial/RPD/pump_pressure_regulator.png
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpPressure.png
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpPressureRegulator.png
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpPressureRegulatorOn.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt1.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt1.rsi/pumpPressure.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt1.rsi/pumpPressureRegulator.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt1.rsi/pumpPressureRegulatorOn.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt2.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt2.rsi/pumpPressure.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt2.rsi/pumpPressureRegulator.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt2.rsi/pumpPressureRegulatorOn.png
Labels: Changes: Sprites, Changes: UI, size/L

#1469 Fix Rat King C screen
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1463 Text Changes for Revs, Changelings, Thaven Mood
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Resources/Locale/en-US/_Impstation/thavens/shared.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Changelings.xml
Labels: S: Untriaged, size/S

#1465 Handheld CM is now available in para lockers
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/ServerInfo/Funkystation/Guidebook/Medical/MedicalStandardOperatingProcedure.xml
Labels: S: Untriaged, Changes: No C#, size/XS
