Repository funky-station/funky-station, pull requests merged in 2025-07, with the labels that each got.

#1013 I would like to formally apologize to all my haters. I would also lik…
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: S: Untriaged, size/S

#978 Gen pop
  Content.Client/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Client/Doors/TurnstileSystem.cs
  Content.Client/Security/GenpopSystem.cs
  Content.Client/Security/Ui/GenpopLockerBoundUserInterface.cs
  Content.Client/Security/Ui/GenpopLockerMenu.xaml
  Content.Client/Security/Ui/GenpopLockerMenu.xaml.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Doors/Systems/TurnstileSystem.cs
  Content.Server/GameTicking/Rules/Components/BloodCultRuleComponent.cs
  Content.Server/Security/GenpopSystem.cs
  Content.Shared/Access/Components/ExpireIdCardComponent.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/Doors/Components/TurnstileComponent.cs
  Content.Shared/Doors/Systems/SharedTurnstileSystem.cs
  Content.Shared/Lock/LockComponent.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Security/Components/GenpopIdCardComponent.cs
  Content.Shared/Security/Components/GenpopLockerComponent.cs
  Content.Shared/Security/Systems/SharedGenpopSystem.cs
  Content.Shared/Storage/Components/SharedEntityStorageComponent.cs
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
  Content.Shared/_Funkystation/Atmos/Components/FirefighterTankRefillableComponent.cs
  Resources/Locale/en-US/access/components/genpop.ftl
  Resources/Locale/en-US/doors/components/turnstile.ftl
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Access/security.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Structures/Doors/turnstile.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/turnstile.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Doors/turnstile.rsi/arrow.png
  Resources/Textures/Structures/Doors/turnstile.rsi/deny.png
  Resources/Textures/Structures/Doors/turnstile.rsi/meta.json
  Resources/Textures/Structures/Doors/turnstile.rsi/operate.png
  Resources/Textures/Structures/Doors/turnstile.rsi/turnstile.png
  Resources/Textures/Structures/Doors/turnstile.rsi/turnstile_map.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_1.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_2.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_3.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_4.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_5.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_6.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_7.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_door_8.png
  Resources/Textures/Structures/Storage/closet.rsi/genpop_open.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/genpop.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, S: Untriaged, size/M

#995 Buff throwing away items + slimes become ThrowInsertContainer because funny
  Content.Server/Containers/ThrowInsertContainerComponent.cs
  Content.Server/Containers/ThrowInsertContainerSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: S: Untriaged, size/S

#1005 One line Change
  Resources/Locale/en-US/reagents/meta/toxins.ftl
Labels: Changes: No C#, size/XS

#992 fuck man I'm high I'm doing this on purpose ok?
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/_Impstation/datasets.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1002 Properly update UI ammo counter when ammo is directly inserted into an in-hand weapon (primarily shotguns)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: S: Untriaged, size/XS

#1023 Glacier update
  Resources/Maps/_Funkystation/glacier.yml
  Resources/Prototypes/_Funkystation/Maps/glacier.yml
Labels: Changes: Map, size/XL, Changes: No C#

#1022 Elkridge updates
  Resources/Maps/_Funkystation/elkridge.yml
  Resources/Prototypes/Maps/elkridge.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1017 Rule Changes pt 1985
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC10SecandCommand.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13NoEORG.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC2English.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC3Age.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC5ERP.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC7PlayYourCharacter.xml
Labels: Changes: No C#, size/S

#1018 Fix rodentia screams
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#998 Allow manually setting job / hud icon of ID cards in ID card computer
  Content.Client/Access/UI/IdCardConsoleBoundUserInterface.cs
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Client/_Funkystation/Access/UI/IdCardConsoleIconSelectorWindow.xaml
  Content.Client/_Funkystation/Access/UI/IdCardConsoleIconSelectorWindow.xaml.cs
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Content.Shared/StatusIcon/StatusIconPrototype.cs
  Resources/Locale/en-US/_Funkystation/access/ui/id-card-console-component.ftl
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Prototypes/_Goobstation/StatusEffects/job.yml
Labels: Changes: UI, size/M

#1033 Cherry-picked the Propeller Hat and Swirl Lollipop items originally from upstream commit #38260 by SlamBamActionman.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/icon-on.png
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/on-equipped-HELMET.png
  Resources/Textures/Objects/Consumable/Food/candy.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/candy.rsi/swirl_lollipop-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/candy.rsi/swirl_lollipop-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/candy.rsi/swirl_lollipop.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#996 Adds a small bit of variation to boot sound effects
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1021 Remove Cloning boards from CMO Locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1038 Changes new slime emotes to mono
  Resources/Audio/Voice/Slime/slime_fizz_1.ogg
  Resources/Audio/Voice/Slime/slime_fizz_2.ogg
  Resources/Audio/Voice/Slime/slime_fizz_3.ogg
  Resources/Audio/Voice/Slime/slime_pop_1.ogg
  Resources/Audio/Voice/Slime/slime_pop_2.ogg
  Resources/Audio/Voice/Slime/slime_squish_2.ogg
Labels: Changes: No C#, size/XS, Changes: Audio

#1042 Adds HFR to cargo order console
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_atmospherics.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1046 Removes Flashbang dealing damage to Blobs
  Content.Server/_Goobstation/Blob/BlobTileSystem.cs
Labels: S: Untriaged, size/S

#1044 Syringe Rework Part 3: Return of ChemMaster Bottling
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
Labels: Changes: UI, S: Untriaged, size/M

#1010 Fixes missing FTL entry for the Pumps & Valves section of the RPD
  Resources/Locale/en-US/rcd/components/rcd-component.ftl
Labels: S: Untriaged, Changes: No C#

#1014 Changes the white shoes of the Atmospheric Technician, Reporter, and Zookeeper
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1030 Home-Run Bat Nerf
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Melee/home_run_bat.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1036 Shiva Internals Update
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/Clothing/Mask/breath.rsi/equipped-MASK-spider.png
  Resources/Textures/Clothing/Mask/breath.rsi/meta.json
  Resources/Textures/Clothing/Mask/medical.rsi/equipped-MASK-spider.png
  Resources/Textures/Clothing/Mask/medical.rsi/meta.json
  Resources/Textures/Objects/Tanks/anesthetic.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/emergency.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_double.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/emergency_double.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_double_red.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/emergency_double_red.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_extended.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/emergency_extended.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_extended_red.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/emergency_extended_red.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_yellow.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/emergency_yellow.rsi/meta.json
  Resources/Textures/Objects/Tanks/generic.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/generic.rsi/meta.json
  Resources/Textures/Objects/Tanks/oxygen.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/oxygen.rsi/meta.json
  Resources/Textures/Objects/Tanks/red.rsi/equipped-SUITSTORAGE-spider.png
  Resources/Textures/Objects/Tanks/red.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#991 Nukie and DSword Minor Rework
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: Changes: No C#, size/XS

#1049 fix some species having a lower metab limit
  Resources/Prototypes/Body/Organs/Animal/animal.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1027 Mech Changes But For Real
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
Labels: S: Untriaged, Changes: No C#, size/S

#793 Magistrate
  Resources/Audio/_Funkystation/Items/gavel.ogg
  Resources/Locale/en-US/_Funkystation/job/job-names.ftl
  Resources/Locale/en-US/_Funkystation/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Funkystation/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/gavel.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_Funkystation/Loadouts/Jobs/CentComm/magistrate.yml
  Resources/Prototypes/_Funkystation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Funkystation/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Funkystation/Roles/Jobs/CentComm/magistrate.yml
  Resources/Prototypes/_Funkystation/Roles/play_time_trackers.yml
  Resources/Prototypes/_Funkystation/SoundCollections/gavel.yml
  Resources/Prototypes/_Funkystation/StatusIcon/job.yml
  Resources/ServerInfo/Funkystation/Guidebook/Command/CommandStandardOperatingProcedure.xml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-magi.png
  Resources/Textures/_Funkystation/Clothing/Head/Hats/pwig.rsi/equipped-HELMET.png
  Resources/Textures/_Funkystation/Clothing/Head/Hats/pwig.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Head/Hats/pwig.rsi/meta.json
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Coats/legal_robe.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Coats/legal_robe.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Coats/legal_robe.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Coats/legal_robe.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Coats/legal_robe.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/OuterClothing/Coats/legal_robe.rsi/meta.json
  Resources/Textures/_Funkystation/Interface/Misc/job_icons.rsi/Magistrate.png
  Resources/Textures/_Funkystation/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Devices/pda.rsi/pda-magi.png
  Resources/Textures/_Funkystation/Objects/Fun/gavel.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Fun/gavel.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Fun/gavel.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Fun/gavel.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/idmagistrate.png
  Resources/Textures/_Funkystation/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Misc/stamps.rsi/stamp-magi.png
  Resources/Textures/_Impstation/Interface/Paper/Stamps/attributions.yml
  Resources/Textures/_Impstation/Interface/Paper/Stamps/large_stamp-magi.png
Labels: Changes: Sprites, Changes: No C#, size/M, Changes: Audio

#1062 Minor Vulpkanin Markings Changes
  Resources/Locale/en-US/_DV/markings/vulpkanin.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Textures/_DV/Mobs/Customization/Vulpkanin/ear_markings.rsi/fox-inner.png
  Resources/Textures/_DV/Mobs/Customization/Vulpkanin/ear_markings.rsi/meta.json
  Resources/Textures/_DV/Mobs/Customization/Vulpkanin/head_markings.rsi/meta.json
  Resources/Textures/_DV/Mobs/Customization/Vulpkanin/head_markings.rsi/vulpine-lines.png
  Resources/Textures/_DV/Mobs/Customization/Vulpkanin/head_markings.rsi/vulpine.png
Labels: Changes: Sprites, Changes: No C#, size/S

#1082 Heretic ascension
  Content.Client/_Goobstation/Heretic/Ritual.CustomBehaviors.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Ascension.cs
  Resources/Locale/en-US/_Goobstation/Heretic/heretic/rituals.ftl
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
Labels: S: Untriaged, size/S

#1079 Smartfridge Redux
  Content.Client/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/SmartFridge/SmartFridgeItem.xaml
  Content.Client/SmartFridge/SmartFridgeItem.xaml.cs
  Content.Client/SmartFridge/SmartFridgeMenu.xaml
  Content.Client/SmartFridge/SmartFridgeMenu.xaml.cs
  Content.Client/SmartFridge/SmartFridgeUISystem.cs
  Content.Client/_Funkystation/Medical/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/_Funkystation/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeItem.xaml
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeItem.xaml.cs
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeMenu.xaml
  Content.Client/_Funkystation/Medical/SmartFridge/UI/SmartFridgeMenu.xaml.cs
  Content.IntegrationTests/Tests/SmartFridge/SmartFridgeInteractionTest.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/_Funkystation/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Shared/Placeable/PlaceableSurfaceSystem.cs
  Content.Shared/SmartFridge/SmartFridgeComponent.cs
  Content.Shared/SmartFridge/SmartFridgeSystem.cs
  Content.Shared/Storage/Components/DumpableComponent.cs
  Content.Shared/Storage/EntitySystems/DumpableSystem.cs
  Content.Shared/_Funkystation/Medical/SmartFridge/SharedSmartFridgeSystem.cs
  Content.Shared/_Funkystation/Medical/SmartFridge/SmartFridgeComponent.cs
  Resources/Locale/en-US/_Funkystation/smartfridge.ftl
  Resources/Locale/en-US/smartfridge/smartfridge.ftl
  Resources/Locale/en-US/storage/components/dumpable-component.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/SoundCollections/machines.yml
Labels: enhancement, Changes: UI, size/L

#1063 New interaction sounds
  Resources/Audio/Items/toolbox_close.ogg
  Resources/Audio/Items/toolbox_insert.ogg
  Resources/Audio/Items/toolbox_open.ogg
  Resources/Audio/Items/toolbox_remove.ogg
  Resources/Audio/SimpleStation14/Items/Equip/toolbelt_equip.ogg
  Resources/Audio/SimpleStation14/Items/Handling/ammobox_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/ammobox_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/book_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/book_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/cardboardbox_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/cardboardbox_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/cloth_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/cloth_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/component_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/component_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/crowbar_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/crowbar_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/disk_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/disk_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/drinkglass_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/drinkglass_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/matchbox_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/matchbox_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/multitool_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/multitool_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/paper_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/paper_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/screwdriver_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/screwdriver_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/sword_sheath.ogg
  Resources/Audio/SimpleStation14/Items/Handling/sword_unsheath.ogg
  Resources/Audio/SimpleStation14/Items/Handling/toolbelt_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/toolbelt_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/toolbox_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/toolbox_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/welder_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/welder_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/wirecutter_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/wirecutter_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/wrench_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/wrench_pickup.ogg
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/candy_bowl.yml
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Tools/crowbars.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: enhancement, S: Untriaged, Changes: No C#, size/XS, Changes: Audio

#1071 IEDs made illegal to crew. Seismic charges restricted to cargo.
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pipebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1069 Adds more word/phrase replacements for the Cowboy accent
  Resources/Locale/en-US/accent/cowboy.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: No C#, size/M

#1081 Heretic rebalances
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Sacrifice.cs
Labels: S: Untriaged, size/XS

#1084 Prevent setting ID card accesses twice when spawning players in jobs
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: S: Untriaged, size/XS

#1088 Atmos updates
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Engineering/Gasses.xml
Labels: documentation, S: Untriaged, Changes: No C#, size/M

#1067 New thaven moods
  Resources/Locale/en-US/_Impstation/thavens/no-and.ftl
  Resources/Locale/en-US/_Impstation/thavens/shared.ftl
  Resources/Locale/en-US/_Impstation/thavens/wildcard.ftl
  Resources/Locale/en-US/_Impstation/thavens/yes-and.ftl
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/no_and.yml
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/shared.yml
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/wildcard.yml
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/yes_and.yml
Labels: Changes: No C#, size/M

#1107 Fixes HoP cloak colors
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/icon.png
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Needs Review

#1095 QoL slop for bartender (real)
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Funkystation/tags.yml
  Resources/Textures/Clothing/OuterClothing/Vests/vest.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Vests/vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Vests/vest.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Vests/vest.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Vests/vest.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Vests/vest.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/bartender.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/bartender.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/bartender.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/bartender.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/bartender.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/bartender.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#1113 Wizden Cleanups 1
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Eye/Blinding/Systems/EyeClosingSystem.cs
  Content.Shared/Telephone/TelephoneComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: S: Untriaged, size/S

#1104 Cherry pick commit that somehow got dropped during an upstream merge and broke polymorphing
  Content.Server/Explosion/Components/SpawnOnTriggerComponent.cs
  Content.Server/Explosion/Components/TriggerOnCollideComponent.cs
  Content.Server/Explosion/Components/TriggerOnUseComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.Trigger.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Resources/Prototypes/Polymorphs/polymorph.yml
Labels: S: Untriaged, size/M

#1074 NTRep cargo access
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1110 :boom: :cat: :boom: :bird:
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1105 Funking up Wizard
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Magic/event_spells.yml
Labels: S: Untriaged, Changes: No C#

#1096 Box Maintaining
  Resources/Maps/_Funkystation/box.yml
  Resources/Prototypes/Maps/box.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#1097 I :heart: :man_cook: :fire: :+1: :pray:
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
Labels: Changes: No C#, size/S

#1115 Fix heretic sacrificing their own body parts and organs and being able to draw runes on items in their hands/inventory.
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Content.Shared/Extensions/IEntityManagerExtensions.cs
Labels: S: Untriaged, size/S

#1035 UI Improvements
  Content.Client/Chemistry/UI/ReagentDispenserBoundUserInterface.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Power/Battery/BatteryBoundUserInterface.cs
  Content.Client/Power/Battery/BatteryMenu.xaml
  Content.Client/Power/Battery/BatteryMenu.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/BuiPreTickUpdateSystem.cs
  Content.Client/UserInterface/BuiPredictionState.cs
  Content.Client/UserInterface/Controls/FancyWindow.xaml.cs
  Content.Client/UserInterface/Controls/OnOffButton.xaml
  Content.Client/UserInterface/Controls/OnOffButton.xaml.cs
  Content.Client/UserInterface/InputCoalescer.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Server/Power/Components/BatteryInterfaceComponent.cs
  Content.Server/Power/EntitySystems/BatteryInterfaceSystem.cs
  Content.Server/Storage/EntitySystems/StorageFillVisualizerSystem.cs
  Content.Shared/Contraband/ContrabandSystem.cs
  Content.Shared/Examine/ExamineSystemShared.Group.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/Power/SharedBattery.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Resources/Locale/en-US/_lib.ftl
  Resources/Locale/en-US/power/battery.ftl
  Resources/Locale/en-US/ui/controls.ftl
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Textures/Interface/Nano/rounded_button_half_bordered.svg
  Resources/Textures/Interface/Nano/rounded_button_half_bordered.svg.96dpi.png
  Resources/Textures/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/Interface/VerbIcons/lock-red.svg
  Resources/Textures/Interface/VerbIcons/lock-red.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/lock-red.svg.192dpi.png.yml
  Resources/Textures/Interface/VerbIcons/unlock-green.svg
  Resources/Textures/Interface/VerbIcons/unlock-green.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/unlock-green.svg.192dpi.png.yml
Labels: Changes: UI, S: Untriaged, size/L

#1123 Holyfuckthiswassomuchwork
  Resources/Maps/_Funkystation/core.yml
  Resources/Prototypes/Maps/core.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1132 Core build12
  Resources/Maps/_Funkystation/core.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#1129 Map Rotations
  Resources/Prototypes/_Funkystation/Maps/Pools/cirnopool.yml
  Resources/Prototypes/_Funkystation/Maps/Pools/scarletpool.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1137 Fixes Cowboy Accent
  Resources/Locale/en-US/accent/cowboy.ftl
Labels: Changes: No C#

#1136 Fix mech grid rotation issues
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: S: Untriaged, size/M

#966 attribution type shi
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/reuse-updater.yml
  .reuse/dep5
  LEGAL.md
  LICENSE-AGPLv3.txt
  LICENSE.TXT
  LICENSES/AGPL-3.0-or-later.txt
  LICENSES/MIT.txt
  LICENSES/MPL-2.0.txt
  README.md
  REUSE.toml
  Tools/apply_reuse_headers.py
  Tools/update_pr_reuse_headers.py
Labels: S: Untriaged, size/L, Changes: No C#

#1141 Fix cluwne IPC test fails
  Content.Server/Administration/Commands/SetOutfitCommand.cs
Labels: S: Untriaged, size/XS

#1175 Add LOOC budget
  Content.Server/Chat/Systems/ChatSystem.LoocBudget.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/_Funkystation/CCVars/CCVars.Funky.cs
  Resources/Locale/en-US/_Funkystation/looc-budget.ftl
  Resources/engineCommandPerms.yml
Labels: S: Untriaged, size/M

#1181 Removes Hardlight Bow
  Resources/Maps/_Funkystation/amber.yml
  Resources/Prototypes/Maps/amber.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1173 Paradox Clone improvements: PDAs etc.
  Content.Server/Cloning/CloningSystem.Subscriptions.cs
  Content.Server/Cloning/CloningSystem.cs
Labels: S: Untriaged, size/M

#1151 Holopen failing arbitrage test fix
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1186 Fix admin smites just straight up lying in logs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
Labels: S: Untriaged, size/XS

#1166 Ports the microwave-nukedisk interaction from Wizden
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Shared/Nuke/NukeDiskComponent.cs
  Resources/Locale/en-US/nuke/nuke-component.ftl
Labels: S: Untriaged, size/S

#1122 Cargo cataloge expansion
  Resources/Maps/Salvage/hauling-shuttle.yml
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_botany.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/_Funkystation/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_Funkystation/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/VendingMachines/Inventories/maildrobe.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M, S: Needs Review

#1183 Excelent typo fix
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: S: Untriaged, S: Merge Conflict, Changes: No C#, size/XS

#1188 Omega Map Adjustments [7/20/25]
  Resources/Maps/_Funkystation/omega.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#1194 Actually Remove The Bow
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: No C#

#1198 Fix LOOC budget not being reset after round end
  Content.Server/Chat/Systems/ChatSystem.LoocBudget.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/en-US/_Funkystation/looc-budget.ftl
  Resources/engineCommandPerms.yml
Labels: S: Untriaged, size/S

#1201 Revert "Fix mech grid rotation issues (#1136)"
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: S: Untriaged, size/M

#1206 Remove Elitesuit
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1144 Dealbreaker glasses
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/Eyes/Glasses/dealbreakers.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Glasses/dealbreakers.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/dealbreakers.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/dealbreakers.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/dealbreakers.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/dealbreakers.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#1172 Bagel Rework the Second
  Resources/Maps/_Funkystation/bagel.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1225 Annabelle Contraband Fix
  Resources/Prototypes/_Funkystation/Entities/Weapons/annabelle.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1205 Ports 'Made the Mosin Bayonet Usable' from Wizden
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/base1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/equipped-BACKSTORAGE-fill-1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/equipped-backpack-fill-1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/wielded-inhand-right-fill-1.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#1178 Ports Scrap Armor from Wizden
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Head/scraphelmet.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/scraparmor.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/scraparmor.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/scraphelmet.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/construction-1.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/construction-2.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/construction-3.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/construction-1.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/construction-2.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/construction-3.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1184 Edits the censer's description and adds it to the Religious Supplies crate
  Resources/Prototypes/_DV/CosmicCult/Objects/censer.yml
  Resources/Prototypes/_DV/CosmicCult/cargocrate.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1190 Ports Parroting Parrots Part 1 and Animal Spawner Reorganization from Wizden
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Animals/Components/ParrotListenerComponent.cs
  Content.Server/Animals/Components/ParrotMemoryComponent.cs
  Content.Server/Animals/Systems/ParrotMemorySystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/RadioEvent.cs
  Content.Server/Vocalization/Components/RadioVocalizerComponent.cs
  Content.Server/Vocalization/Components/VocalizerComponent.cs
  Content.Server/Vocalization/Systems/RadioVocalizationSystem.cs
  Content.Server/Vocalization/Systems/VocalizationSystem.cs
  Resources/Locale/en-US/animals/parrot/parrot.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/animals.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/carp.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/hostile.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/pets.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/slimes.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/xenos.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Mobs/xenos.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/InventoryTemplates/parrot_inventory_template.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Interface/AdminActions/clear-parrot.png
  Resources/Textures/Mobs/Animals/parrot.rsi/parrot.png
  Resources/Textures/Mobs/Animals/parrot/displacement.rsi/ears.png
  Resources/Textures/Mobs/Animals/parrot/displacement.rsi/meta.json
  Resources/Textures/Mobs/Animals/parrot/parrot.rsi/dead.png
  Resources/Textures/Mobs/Animals/parrot/parrot.rsi/icon.png
  Resources/Textures/Mobs/Animals/parrot/parrot.rsi/meta.json
  Resources/Textures/Mobs/Animals/parrot/parrot.rsi/parrot.png
  Resources/Textures/Mobs/Animals/parrot/parrot.rsi/sit.png
Labels: Changes: Sprites, S: Untriaged, size/L

#1218 Gorlex Hypo Contra Fix
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1213 Interim map pool
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#, size/S

#1157 Ports adding pulling to supplybots from Wizden
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1161 Ports idle chat indicators and chat indicators for Diona, Gingerbreads, and Rat Kings from Wizden
  Content.Client/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
  Content.Client/Holopad/HolopadSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Holopad/HolopadSystem.cs
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorEvents.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorPrototype.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorState.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorVisuals.cs
  Content.Shared/Holopad/HolopadUserComponent.cs
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/_DV/typing_indicator.yml
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/alien3.png
  Resources/Textures/Effects/speech.rsi/alienroyal3.png
  Resources/Textures/Effects/speech.rsi/default3.png
  Resources/Textures/Effects/speech.rsi/diona0.png
  Resources/Textures/Effects/speech.rsi/diona1.png
  Resources/Textures/Effects/speech.rsi/diona2.png
  Resources/Textures/Effects/speech.rsi/gingerbread0.png
  Resources/Textures/Effects/speech.rsi/gingerbread1.png
  Resources/Textures/Effects/speech.rsi/gingerbread2.png
  Resources/Textures/Effects/speech.rsi/guardian3.png
  Resources/Textures/Effects/speech.rsi/holo3.png
  Resources/Textures/Effects/speech.rsi/lawyer3.png
  Resources/Textures/Effects/speech.rsi/lizard3.png
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/moth3.png
  Resources/Textures/Effects/speech.rsi/regal0.png
  Resources/Textures/Effects/speech.rsi/regal1.png
  Resources/Textures/Effects/speech.rsi/regal2.png
  Resources/Textures/Effects/speech.rsi/regal3.png
  Resources/Textures/Effects/speech.rsi/robot3.png
  Resources/Textures/Effects/speech.rsi/slime3.png
  Resources/Textures/Effects/speech.rsi/spider3.png
  Resources/Textures/Effects/speech.rsi/syndibot3.png
Labels: Changes: Sprites, Changes: UI, S: Untriaged, size/M

#1147 Added funny cloak
  Resources/Prototypes/_Funkystation/Entities/Clothing/Head/lizard_cloak.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/Graphs/Clothing/lizard_cloak.yml
  Resources/Prototypes/_Funkystation/Recipes/Construction/clothing.yml
  Resources/Textures/_Funkystation/Clothing/Head/Hats/lizard-cloak.rsi/equipped-HELMET.png
  Resources/Textures/_Funkystation/Clothing/Head/Hats/lizard-cloak.rsi/icon.png
  Resources/Textures/_Funkystation/Clothing/Head/Hats/lizard-cloak.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Clothing/Head/Hats/lizard-cloak.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Clothing/Head/Hats/lizard-cloak.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#1056 corporate secrets
  Resources/Locale/en-US/_Funkystation/guidebook.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/books.yml
  Resources/Prototypes/_Funkystation/Guidebook/corporate-secrets.yml
  Resources/Prototypes/_Funkystation/Guidebook/sop.yml
  Resources/ServerInfo/Funkystation/Guidebook/Command/CommandStandardOperatingProcedure.xml
  Resources/ServerInfo/Funkystation/Guidebook/Command/CommandTrainingManual.xml
  Resources/ServerInfo/Funkystation/Guidebook/Security/SecurityTrainingManual.xml
  Resources/ServerInfo/Guidebook/ServerRules/Metashield.xml
  Resources/Textures/_Funkystation/Objects/Misc/books.rsi/corporate-secrets.png
  Resources/Textures/_Funkystation/Objects/Misc/books.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#1203 Added dumpable to Disposal Units
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
Labels: S: Untriaged, size/S

#1156 Ports improved health examination text from Wizden
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Shared/HealthExaminable/HealthExaminableComponent.cs
  Resources/Locale/en-US/bloodstream/bloodstream.ftl
  Resources/Locale/en-US/health-examinable/health-examinable-carbon.ftl
  Resources/Locale/en-US/health-examinable/health-examinable-silicon.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: S: Untriaged, size/M

#1148 Fixes battery weapons changing firemode on wield (#37085)
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Content.Shared/Wieldable/SharedWieldableSystem.cs
Labels: S: Untriaged, size/S

#1154 Ports noir glasses from Wizden
  Content.Client/Overlays/BlackAndWhiteOverlay.cs
  Content.Client/Overlays/BlackAndWhiteOverlaySystem.cs
  Content.Client/Overlays/NoirOverlay.cs
  Content.Client/Overlays/NoirOverlaySystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Overlays/BlackAndWhiteOverlayComponent.cs
  Content.Shared/Overlays/NoirOverlayComponent.cs
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Clothing/Eyes/Glasses/noir.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/noir.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/noir.rsi/meta.json
  Resources/Textures/Shaders/noir.swsl
Labels: Changes: Sprites, Changes: Shaders, S: Untriaged, S: Merge Conflict, size/M

#1149 Fix cryoxadone on plants causing plants to stop fruiting
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantCryoxadone.cs
Labels: S: Untriaged, size/XS

#1145 Kills the Throngler Plushie
  Resources/Maps/_Harmony/centcomm.yml
  Resources/Prototypes/_Goobstation/Mail/mailDeliveries.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XS

#1158 Ports Don't click-to-face when moving from Wizden
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: S: Untriaged, size/XS

#1200 Ports rehydratable mop buckets and moproaches from Wizden
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/moproach.yml
  Resources/Prototypes/Entities/Objects/Misc/intermediate_parts.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/janicart.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/NPCs/mob.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/toys.yml
  Resources/Prototypes/Recipes/Crafting/toys.yml
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/0-equipped-HELMET.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/icon.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/inhand-left.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/inhand-right.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/meta.json
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/mothroach-moving.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/mothroach.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/mothroach_dead.png
  Resources/Textures/Objects/Misc/moproach_shoes.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/moproach_shoes.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/moproach_shoes.rsi/meta.json
  Resources/Textures/Objects/Misc/moproach_shoes.rsi/mopshoes.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_cube.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1209 Make hearing protection actually protect against flashbangs
  Content.Server/_Goobstation/Flashbang/FlashbangSystem.cs
Labels: S: Untriaged, size/S

#1221 Cluster updates v2: reworked sec, added roles, etc.
  Resources/Maps/_Funkystation/cluster.yml
  Resources/Prototypes/_Goobstation/Maps/cluster.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#1211 Golden Toolbox Tweaks
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1231 Mindshield icon Resprite
  Resources/Textures/Interface/Misc/job_icons.rsi/MindShield.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Goobstation/Interface/Misc/security_icons.rsi/MindShield-broken.png
  Resources/Textures/_Goobstation/Interface/Misc/security_icons.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#1241 air alarm PR's
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml.cs
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/WireActions/AirAlarmPanicWire.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Shared/Atmos/Monitor/Components/SharedAirAlarmComponent.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
Labels: Changes: UI, S: Untriaged, size/S

#1242 flammable performance improvements (Port of Goob's port of EE #2462)
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Shared/Atmos/Components/OnFireComponent.cs
Labels: S: Untriaged, size/S

#1244 RPD improvements
  Content.Client/RCD/RCDMenu.xaml
  Content.Client/RCD/RPDMenu.xaml
  Content.Client/RCD/RPDMenu.xaml.cs
  Content.Client/RCD/RPDMenuBoundUserInterface.cs
  Content.Server/Atmos/Components/DeviceRestrictOverlapComponent.cs
  Content.Server/Atmos/EntitySystems/PipeRestrictOverlapSystem.cs
  Content.Shared/RCD/Components/RCDComponent.cs
  Content.Shared/RCD/RCDEvents.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Locale/en-US/construction/conditions/no-unstackable-in-tile.ftl
  Resources/Locale/en-US/rcd/components/rcd-component.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/RCD/rcd.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Textures/Interface/Radial/RPD/alarm.png
  Resources/Textures/Interface/Radial/RPD/he_bend.png
  Resources/Textures/Interface/Radial/RPD/pipe_half.png
  Resources/Textures/Interface/Radial/RPD/sensor.png
  Resources/Textures/Interface/Radial/RPD/sensorpipe.png
Labels: Changes: UI, S: Untriaged, size/M

#1230 Updated thaven moods
  Resources/Locale/en-US/_Impstation/thavens/yes-and.ftl
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/no_and.yml
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/yes_and.yml
Labels: S: Untriaged, Changes: No C#, size/S, S: Needs Review
