Repository funky-station/funky-station, pull requests merged in 2025-05, with the labels that each got.

#730 New flatpacker sprite
  Resources/Textures/Structures/Machines/flatpacker.rsi/base.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/inserting.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/meta.json
  Resources/Textures/Structures/Machines/flatpacker.rsi/packing.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/panel.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/screen.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#726 New pizza sprites
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/alpha-filling.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/alpha-slice-filling.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/arnold-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/arnold.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/base-1.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/base-2.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/base-3.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/base-4.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/base-5.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/base-6.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/base-7.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/base-8.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/box-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/box-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/box-messy-overlay.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/box-open.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/box.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/box1.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/box2.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/box3.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/box4.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/cotton-pizza.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/cotton-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/dank-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/dank.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/donkpocket-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/donkpocket.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/margherita-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/margherita.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/meat-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/meat.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/moldy-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/mushroom-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/mushroom.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/pineapple-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/pineapple.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/plate-pizza.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/plate-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/sassysage-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/sassysage.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/uranium-pizza.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/uranium-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/vegetable-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/vegetable.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#722 Add cheese/chevre/tofu/butter instructions to the Chef guidebook page
  Resources/ServerInfo/Guidebook/Service/Chef.xml
Labels: Changes: No C#

#740 Plushiecannon Memorial PR
  Resources/Textures/Structures/Decoration/banner.rsi/banner_security REWORK.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_security.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#734 Godo and Gocrazy plushies
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/gocrazy-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/gocrazy-inhand-right.png
  Resources/Textures/Objects/Fun/toys.rsi/gocrazy.png
  Resources/Textures/Objects/Fun/toys.rsi/godo-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/godo-inhand-right.png
  Resources/Textures/Objects/Fun/toys.rsi/godo.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#745 Clumsy things can now be put onto tables and biomass reclaimers
  Content.Shared/Clumsy/ClumsySystem.cs
Labels: S: Untriaged, size/S

#738 Experimental: Remove Limb Ashing
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Body/Parts/rodentia.yml
  Resources/Prototypes/_DV/Body/Parts/vulpkanin.yml
Labels: Changes: No C#, size/M

#743 Revs: implanter draw changes, prevent rev self-mindshielding
  Content.Shared/Implants/Components/ImplanterComponent.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/implanters.yml
Labels: S: Untriaged, size/S

#718 Change Drozd and Lecter sprites to their earlier versions
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, size/S

#744 Adds a small Rule 6 Reminder for revivals
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: S: Untriaged, Changes: No C#, size/XS

#742 Add Rats lobby art by Gostir
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/rats.webp
  Resources/Textures/LobbyScreens/rats.webp.yml
Labels: S: Untriaged, Changes: No C#

#746 Fix Fake Mindshield Implanter
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#

#728 Added "PhysicalComposition" to the fulton whitelist
  Content.Shared/Salvage/Fulton/FultonComponent.cs
Labels: S: Untriaged, size/XS

#724 Slightly tweaked nukies, the china lake now cannot go on sale
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS

#686 Silicon law additions
  Resources/Locale/en-US/_Funkystation/station-laws/laws.ftl
  Resources/Prototypes/_Funkystation/silicon-laws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: No C#

#739 Bagel Biofab and Relay update
  Resources/Maps/_Funkystation/bagel.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M

#760 Update CrystallizerSystem.cs to fix skipping temperature calculations
  Content.Server/_Funkystation/Atmos/EntitySystems/CrystallizerSystem.cs
Labels: S: Untriaged, size/XS

#763 ChemMaster Plus
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  runclient.bat
Labels: Changes: UI, S: Untriaged, size/M, S: Needs Review

#747 Medical Bio-Fabricator resprite.
  Resources/Textures/_Shitmed/Structures/Machines/limbgrower.rsi/limbgrower_fill.png
  Resources/Textures/_Shitmed/Structures/Machines/limbgrower.rsi/limbgrower_idleoff.png
  Resources/Textures/_Shitmed/Structures/Machines/limbgrower.rsi/limbgrower_idleon.png
  Resources/Textures/_Shitmed/Structures/Machines/limbgrower.rsi/limbgrower_openpanel.png
  Resources/Textures/_Shitmed/Structures/Machines/limbgrower.rsi/limbgrower_panelopen.png
  Resources/Textures/_Shitmed/Structures/Machines/limbgrower.rsi/limbgrower_unfill.png
  Resources/Textures/_Shitmed/Structures/Machines/limbgrower.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#762 Added catberries to the game
  Resources/Locale/en-US/_Funkystation/nutrition/components/food-sequence.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/fun.ftl
  Resources/Locale/en-US/_Funkystation/seeds/seeds.ftl
  Resources/Prototypes/_Funkystation/Entities/Objects/Consumable/Foods/produce.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Funkystation/Hydroponics/seeds.yml
  Resources/Prototypes/_Funkystation/Polymorphs/polymorph.yml
  Resources/Prototypes/_Funkystation/Reagents/fun.yml
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/dead.png
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/harvest.png
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/produce.png
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/seed.png
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/stage-1.png
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/stage-2.png
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/stage-3.png
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/stage-4.png
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/stage-5.png
  Resources/Textures/_Funkystation/Objects/Specific/Hydroponics/catberry.rsi/stage-6.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#685 general BSO tweaks.
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: No C#, size/XS

#767 thaven job requirements + emag interaction
  Content.Server/_Impstation/Thaven/ThavenMoodSystem.cs
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/no_and.yml
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/wildcard.yml
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/yes_and.yml
Labels: S: Untriaged, size/S

#736 Autodoc Speed Increase
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#758 Changed Autodoc UI, removed russian and changed capitalisation
  Resources/Locale/en-US/_Shitmed/autodoc.ftl
Labels: Changes: No C#, size/S

#772 Add the heat pump
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpBoundUserInterface.cs
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpWindow.xaml
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpWindow.xaml.cs
  Content.Server/_Funkystation/Atmos/Piping/Binary/Components/HeatPumpComponent.cs
  Content.Server/_Funkystation/Atmos/Piping/Binary/EntitySystems/HeatPumpSystem.cs
  Content.Shared/_Funkystation/Atmos/Piping/Binary/Components/SharedHeatPumpComponent.cs
  Resources/Locale/en-US/components/gas-pump-component.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Interface/Radial/RPD/pump_heat.png
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpHeat.png
Labels: Changes: Sprites, Changes: UI, S: Untriaged

#768 Use EE Build Scripts
  README.md
  RUN_THIS.py
  Scripts/bat/!DEVELOPMENT.txt
  Scripts/bat/!README.txt
  Scripts/bat/buildAllDebug.bat
  Scripts/bat/buildAllRelease.bat
  Scripts/bat/buildAllTools.bat
  Scripts/bat/runQuickAll.bat
  Scripts/bat/runQuickClient.bat
  Scripts/bat/runQuickServer.bat
  Scripts/bat/runTests.bat
  Scripts/bat/runTestsIntegration.bat
  Scripts/bat/runTestsYAML.bat
  Scripts/sh/!DEVELOPMENT.txt
  Scripts/sh/!README.txt
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/buildAllTools.sh
  Scripts/sh/runQuickAll.sh
  Scripts/sh/runQuickClient.sh
  Scripts/sh/runQuickServer.sh
  Scripts/sh/runTests.sh
  Scripts/sh/runTestsIntegration.sh
  Scripts/sh/runTestsYAML.sh
  runclient-Tools.bat
  runclient-Tools.sh
  runclient.bat
  runclient.sh
  runserver-Tools.bat
  runserver-Tools.sh
  runserver.bat
  runserver.sh
Labels: Changes: No C#, size/M, S: Needs Review

#769 Fix issue with round ending early for zombies and ruining CC roleplay…
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
Labels: S: Untriaged, size/XS

#771 Electrolyzer power fix
  Content.Server/_Funkystation/Atmos/Portable/ElectrolyzerSystem.cs
Labels: S: Untriaged, size/XS

#776 Workflows Now Ignore Funkybot
  .github/workflows/build-map-renderer.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
  Tools/contribs_shared.ps1
Labels: S: Untriaged, Changes: No C#, size/S

#766 pIED
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Funkystation/Entities/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_Funkystation/Recipes/Cooking/meal_recipes.yml
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#773 add a portable news manager digiboard
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Devices/news_digiboard.yml
  Resources/Textures/_Funkystation/Objects/Devices/news_digiboard.rsi/equipped-BELT.png
  Resources/Textures/_Funkystation/Objects/Devices/news_digiboard.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Devices/news_digiboard.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Devices/news_digiboard.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Devices/news_digiboard.rsi/news_digiboard.png
Labels: Changes: Sprites, Changes: No C#, size/S

#756 add a honkbot vent spawn
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, Changes: No C#, size/S

#725 Add autodoc tool sanitation functionality.
  Content.Client/_Shitmed/Autodoc/AutodocBoundUserInterface.cs
  Content.Client/_Shitmed/Autodoc/AutodocWindow.xaml
  Content.Client/_Shitmed/Autodoc/AutodocWindow.xaml.cs
  Content.Shared/_Shitmed/Autodoc/AutodocUI.cs
  Content.Shared/_Shitmed/Autodoc/Systems/SharedAutodocSystem.cs
  Resources/Locale/en-US/_Shitmed/autodoc.ftl
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/Autodoc.xml
Labels: Changes: UI, size/S

#733 Vox Tank Harness Changes
  Content.Client/Clothing/ClientClothingSystem.cs
  Resources/Maps/_Funkystation/divide.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/InventoryTemplates/vox_inventory_template.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Funkystation/Loadouts/role_loadouts.yml
  Resources/Textures/Clothing/Neck/Misc/tankharness.rsi/equipped-NECK-vox.png
  Resources/Textures/Clothing/Neck/Misc/tankharness.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/tankharness.rsi/icon.png
  Resources/Textures/Clothing/Neck/Misc/tankharness.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Misc/tankharness.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Misc/tankharness.rsi/meta.json
  Resources/Textures/Objects/Tanks/red.rsi/equipped-TANKSTORAGE.png
  Resources/Textures/Objects/Tanks/red.rsi/meta.json
Labels: Changes: Map, Changes: Sprites, size/M

#779 Added funds allocation computer to hop office and request computers t…
  Resources/Maps/_Funkystation/omega.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#754 Syndicate Rework/Nukie WarOps Designation
  Content.Server/_Funkystation/Store/Conditions/WarOpsConditions.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: S: Untriaged, size/M, S: Needs Review

#786 fix late join thavens from having no moods
  Content.Server/_Impstation/Thaven/ThavenMoodSystem.cs
Labels: S: Untriaged, size/S

#780 Bagel Dept Econ
  Resources/Maps/_Funkystation/bagel.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#757 Porting portable chem master
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/portable_chem_master.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Crafting/Graphs/chemical_mixer_Graph.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Crafting/chemical_mixer.yml
  Resources/Textures/_Goobstation/Objects/Tools/chemical_mixer.rsi/chemical_mixer.png
  Resources/Textures/_Goobstation/Objects/Tools/chemical_mixer.rsi/chemical_mixer_beaker.png
  Resources/Textures/_Goobstation/Objects/Tools/chemical_mixer.rsi/incomplete.png
  Resources/Textures/_Goobstation/Objects/Tools/chemical_mixer.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#788 Box checklist done (no maints/genpop)
  Resources/Maps/_Funkystation/box.yml
Labels: Changes: Map, size/XL, S: Untriaged, Changes: No C#

#781 Added funds allocation computer to hop office, and request consoles t…
  Resources/Maps/_Funkystation/elkridge.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#789 Remove sec time requirement for changeling.
  Resources/Prototypes/_Goobstation/Changeling/Roles/Antags/changeling.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#787 "Soft Eyes" marking for moth
  Resources/Locale/en-US/_Funkystation/markings/moth.ftl
  Resources/Prototypes/_Funkystation/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/_Funkystation/Mobs/Customization/Moth/moth_parts.rsi/eyes_heterochromia_soft.png
  Resources/Textures/_Funkystation/Mobs/Customization/Moth/moth_parts.rsi/eyes_soft.png
  Resources/Textures/_Funkystation/Mobs/Customization/Moth/moth_parts.rsi/eyes_soft_skin.png
  Resources/Textures/_Funkystation/Mobs/Customization/Moth/moth_parts.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#794 Syndie Surplus Crate Patch
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: S: Untriaged, Changes: No C#, size/S

#753 Rule 11: Silicon Rules Rewrite
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC11SiliconPolicy.xml
Labels: S: Untriaged, Changes: No C#, size/S

#796 Cluster Temporary Touch-up
  Resources/Maps/_Funkystation/cluster.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#798 Rework hydrogen fires to make more sense
  Content.Server/_Funkystation/Atmos/Portable/ElectrolyzerSystem.cs
  Content.Server/_Funkystation/Atmos/Reactions/HydrogenFireReaction.cs
  Content.Shared/Atmos/Atmospherics.cs
Labels: S: Untriaged, size/S

#799 crystallizer ui tweaks and cap input rate
  Content.Client/_Funkystation/Atmos/UI/CrystallizerWindow.xaml
  Content.Client/_Funkystation/Atmos/UI/CrystallizerWindow.xaml.cs
  Content.Server/_Funkystation/Atmos/EntitySystems/CrystallizerSystem.cs
Labels: Changes: UI, S: Untriaged, size/S

#802 Genderfluid pride stuff
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Textures/Clothing/Neck/Cloaks/genderfluid.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/genderfluid.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/genderfluid.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/genderfluid.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/genderfluid.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/genderfluid-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/genderfluid.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/genderfluid.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/genderfluid.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/genderfluid.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/genderfluid.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/genderfluid.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#806 Expand Bagel Atmos
  Resources/Maps/_Funkystation/bagel.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#810 cirno lobby art #27545
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/cirnostation.webp
  Resources/Textures/LobbyScreens/cirnostation.webp.yml
Labels: S: Untriaged, Changes: No C#, size/S

#809 Updates roingus textures (and adds an animation)
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/dead.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/equipped-HELMET.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/icon.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/meta.json
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/roingus-moving.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/roingus.png
  Resources/Textures/_Funkystation/Mobs/Animals/roingus.rsi/splat.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#820 Weekly Resprite Vol. 1
  Resources/Textures/Objects/Specific/Robotics/mmi.rsi/meta.json
  Resources/Textures/Objects/Specific/Robotics/mmi.rsi/mmi_alive.png
  Resources/Textures/Objects/Specific/Robotics/mmi.rsi/mmi_brain.png
  Resources/Textures/Objects/Specific/Robotics/mmi.rsi/mmi_brain_alien.png
  Resources/Textures/Objects/Specific/Robotics/mmi.rsi/mmi_dead.png
  Resources/Textures/Objects/Specific/Robotics/mmi.rsi/mmi_off.png
  Resources/Textures/Objects/Specific/Robotics/mmi.rsi/posibrain-occupied.png
  Resources/Textures/Objects/Specific/Robotics/mmi.rsi/posibrain-searching.png
  Resources/Textures/Objects/Specific/Robotics/mmi.rsi/posibrain.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/icon.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/idle.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_hamster.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_mothroach.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_mouse.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/meta.json
  Resources/Textures/Structures/Machines/fax_machine.rsi/printing.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/control.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/control_critical.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/control_fuck.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/control_on.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/control_warning.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/ame.rsi/static.png
Labels: Changes: Sprites, Changes: No C#, size/M

#761 Cult Animations
  Content.Server/_Funkystation/BloodCult/EntitySystems/BloodCultRuneCarverSystem.cs
  Content.Shared/_Funkystation/BloodCult/Components/BloodCultRuneCarverComponent.cs
  Resources/Prototypes/Magic/Fixtures/runes.yml
  Resources/Textures/_Funkystation/Structures/BloodCult/bloodrune.rsi/barrier_drawing.png
  Resources/Textures/_Funkystation/Structures/BloodCult/bloodrune.rsi/empowering_drawing.png
  Resources/Textures/_Funkystation/Structures/BloodCult/bloodrune.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/BloodCult/bloodrune.rsi/offering_drawing.png
  Resources/Textures/_Funkystation/Structures/BloodCult/bloodrune.rsi/revive_drawing.png
  Resources/Textures/_Funkystation/Structures/BloodCult/narsierune.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/BloodCult/narsierune.rsi/narsierune_drawing.png
Labels: Changes: Sprites, S: Untriaged, size/M

#814 Cluster Medbay Changes
  Resources/Maps/_Funkystation/cluster.yml
  Resources/Prototypes/_Goobstation/Maps/cluster.yml
Labels: Changes: Map, S: Untriaged, size/L, Changes: No C#

#828 Bagel atmos fix
  Resources/Maps/_Funkystation/bagel.yml
Labels: Changes: Map, Changes: No C#, size/S

#807 aewofmew
  Content.Server/_Funkystation/Payouts/PayoutSystem.cs
  Content.Server/_Funkystation/Payouts/StationRegularPayoutSystem.cs
  Content.Shared/_Funkystation/CCVars/CCVars.Funky.cs
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, size/S

#824 Digital Audio Workstation Boards Bugfix
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: S: Untriaged, Changes: No C#

#826 [port] surgery sanitization refactors + stuff
  Content.Client/_DV/Surgery/SurgeryCleanStatusSystem.cs
  Content.Client/_DV/Surgery/SurgeryDirtinessItemStatus.cs
  Content.Server/_DV/Autoclave/AutoclaveComponent.cs
  Content.Server/_DV/Autoclave/AutoclaveSystem.cs
  Content.Server/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_DV/Autoclave/AutoclaveVisuals.cs
  Content.Shared/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Shared/_DV/Surgery/SurgeryCleansDirtComponent.cs
  Content.Shared/_DV/Surgery/SurgeryContaminableComponent.cs
  Content.Shared/_DV/Surgery/SurgeryCrossContaminationComponent.cs
  Content.Shared/_DV/Surgery/SurgeryDirtinessComponent.cs
  Content.Shared/_DV/Surgery/SurgeryStepDirtinessComponent.cs
  Content.Shared/_Shitmed/Autodoc/Systems/SharedAutodocSystem.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Resources/Locale/en-US/_DV/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/en-US/_DV/reagents/meta/medicine.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/CircuitBoards/Machine/autoclave.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Devices/flatpack.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/autoclave.yml
  Resources/Prototypes/_DV/Reagents/medicine.yml
  Resources/Prototypes/_DV/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_DV/status_effects.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/base.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/door_closed.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/door_open.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/light_active.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/light_inactive.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#830 New door sounds
  Resources/Audio/Machines/airlock_close.ogg
  Resources/Audio/Machines/airlock_open.ogg
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/boltsdown.ogg
  Resources/Audio/Machines/boltsup.ogg
Labels: Changes: No C#, size/XS, Changes: Audio

#834 [PORT] Delta-V IPC Tweaks
  Content.Server/_DV/Radio/EncryptionKeySystem.cs
  Content.Server/_EinsteinEngines/Silicon/WeldingHealable/WeldingHealableSystem.cs
  Content.Server/_EinsteinEngines/Silicon/WeldingHealing/WeldingHealingComponent.cs
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Damage/containers.yml
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Recipes/Lathes/medical.yml
  Resources/Prototypes/_DV/Stacks/medical_stacks.yml
  Resources/Prototypes/_EinsteinEngines/Body/Organs/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Damage/modifier_sets.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
  Resources/Textures/_DV/Objects/Medical/Oilpack.rsi/icon.png
  Resources/Textures/_DV/Objects/Medical/Oilpack.rsi/meta.json
  Resources/Textures/_DV/Objects/Medical/Omnipatch.rsi/icon.png
  Resources/Textures/_DV/Objects/Medical/Omnipatch.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M, S: Needs Review
