Repository funky-station/funky-station, pull requests merged in 2025-04, with the labels that each got.

#595 Removed Certain Traits
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/_DV/Traits/altvision.yml
  Resources/Prototypes/_Funkystation/Traits/quirks.yml
  Resources/Prototypes/_Goobstation/Traits/religions.yml
  Resources/Prototypes/_Mono/Traits/quirks.yml
Labels: S: Untriaged, Changes: No C#, size/M

#596 SMES fixes and buff
  Resources/Prototypes/Entities/Structures/Power/smes.yml
Labels: S: Untriaged, Changes: No C#, size/S

#597 Perma Blindness Trait Fix
  Content.Server/_Shitmed/Body/Systems/EyesSystem.cs
Labels: S: Untriaged, size/S

#586 An implementation of random bounties for increased cargo variety
  Content.Client/Cargo/UI/BountyEntry.xaml.cs
  Content.Client/Cargo/UI/BountyHistoryEntry.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Shared/Cargo/CargoBountyData.cs
  Content.Shared/Cargo/CargoBountyHistoryData.cs
  Content.Shared/Cargo/Prototypes/CargoBountyPrototype.cs
  Content.Shared/_Funkystation/Cargo/Prototypes/CargoBountyCategoryPrototype.cs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_Funkystation/Catalog/Bounties/bountyCategories.yml
Labels: Changes: UI, S: Untriaged, size/L, S: Needs Review

#601 Lobby art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/lowpopCrew.webp
  Resources/Textures/LobbyScreens/lowpopCrew.webp.yml
Labels: S: Untriaged, Changes: No C#, size/S

#602 Box Maints Phase 2
  Resources/Maps/_Funkystation/box.yml
Labels: Changes: Map, size/XL, Changes: No C#

#592 Jani syndi update
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Funkystation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/janitor.yml
  Resources/Prototypes/_Funkystation/Entities/Weapons/Throwable/grenades.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/fill-1.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/fill-2.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/fill-3.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/inhand-left-fill-1.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/inhand-left-fill-2.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/inhand-right-fill-1.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/inhand-right-fill-2.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/mop-sheath.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/mop-sword.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/mop.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/wielded-inhand-left-fill-2.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/wielded-inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/wielded-inhand-right-fill-2.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsheath.rsi/wielded-inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsword.rsi/inhand-left.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsword.rsi/inhand-right.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsword.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsword.rsi/mop-sheath.png
  Resources/Textures/_Funkystation/Objects/Specific/Janitorial/mopsword.rsi/mopsword.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#598 Guidebook/SOP Fixes
  Resources/Locale/en-US/_Impstation/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/_Funkystation/Guidebook/sop.yml
  Resources/Prototypes/_Goobstation/Changeling/Actions/changeling.yml
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/OctarineAlert.xml
  Resources/ServerInfo/Funkystation/Guidebook/Cargo/CargoSOP.xml
  Resources/ServerInfo/Funkystation/Guidebook/Command/CommandStandardOperatingProcedure.xml
  Resources/ServerInfo/Funkystation/Guidebook/Engineering/EngineeringSOP.xml
  Resources/ServerInfo/Funkystation/Guidebook/Medical/MedicalStandardOperatingProcedure.xml
  Resources/ServerInfo/Funkystation/Guidebook/Science/ScienceStandardOperatingProcedure.xml
  Resources/ServerInfo/Guidebook/NewPlayer/CharacterCreation.xml
  Resources/ServerInfo/Guidebook/NewPlayer/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Blob.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Changelings.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Revolutionaries.xml
  Resources/ServerInfo/_Shitmed/Guidebook/Medical/Surgery.xml
Labels: S: Untriaged, Changes: No C#, size/M

#608 Some bounty fixes/tweaks
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Shared/Cargo/CargoBountyData.cs
  Resources/Prototypes/_Funkystation/Catalog/Bounties/bountyCategories.yml
Labels: S: Untriaged, size/M

#606 added lockers
  Resources/Maps/_Funkystation/core.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/S

#620 Added ability to change laws of borgs using a lawboard
  Content.Server/_Viva/Borgs/LawSwapSystem.cs
  Content.Shared/_Viva/Silicon/LawboardDoAfterEvent.cs
Labels: S: Untriaged, size/S, S: Needs Review

#621 Port Stealth Suit and Buffs from Goob
  Content.Client/Stealth/StealthSystem.cs
  Content.Shared/Stealth/Components/StealthComponent.cs
  Content.Shared/Stealth/Components/StealthOnMoveComponent.cs
  Content.Shared/Stealth/SharedStealthSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Anomaly/behaviours.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Debugging/nukiestealth.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/icon-flash.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/off-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/on-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#623 Headslug no longer has door bumper + can pilot Vim
  Resources/Prototypes/_Goobstation/Changeling/Entities/Mobs/headcrab.yml
Labels: S: Untriaged, Changes: No C#

#616 Organ gridinv
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/Animal/slimes.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/dwarf.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Body/Organs/vox.yml
  Resources/Prototypes/Body/Parts/arachnid.yml
  Resources/Prototypes/Body/Parts/diona.yml
  Resources/Prototypes/Body/Parts/gingerbread.yml
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/moth.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Parts/slime.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/_DV/Body/Organs/harpy.yml
  Resources/Prototypes/_DV/Body/Organs/vulpkanin.yml
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Body/Parts/rodentia.yml
  Resources/Prototypes/_DV/Body/Parts/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Body/Organs/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Body/Parts/ipc.yml
  Resources/Prototypes/_NF/Mail/Items/boxes.yml
  Resources/Prototypes/_Shitmed/Body/Organs/Animal/animal.yml
  Resources/Prototypes/_Shitmed/Body/Organs/Animal/space.yml
Labels: S: Untriaged, Changes: No C#, size/M

#627 Fix nitrium decomposition temperature exceeding FireMinimumTemperatureToExist
  Content.Server/Atmos/Reactions/NitriumDecompositionReaction.cs
Labels: S: Untriaged, size/XS

#633 Plant analyzer fixes
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerBoundUserInterface.cs
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml.cs
  Content.Server/_NF/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/_NF/PlantAnalyzer/PlantAnalyzerScannedSeedPlantInformation.cs
  Resources/Locale/en-US/gases/gases.ftl
Labels: Changes: UI, size/M

#619 Updating the atmospherics guide
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
Labels: Changes: No C#, size/S, S: Needs Review

#637 Adds missing newline to IPC guidebook
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: Changes: No C#

#638 EoC Clarification
  Resources/ServerInfo/Funkystation/Guidebook/Security/EnemiesOfTheCorporation.xml
Labels: Changes: No C#, size/XS

#639 Rule 13 shuttle bomb codification
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13NoEORG.xml
Labels: Changes: No C#

#661 added vulp screams from EE and ported the vulp temperature protection fix from goob
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/attritbutions.yml
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/vulpscream1.ogg
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/vulpscream2.ogg
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/vulpscream3.ogg
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/vulpscream4.ogg
  Resources/Audio/_EinsteinEngines/Voice/Vulpkanin/vulpscream5.ogg
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_DV/SoundCollections/vulpkanin.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
Labels: Changes: No C#, size/S, Changes: Audio

#659 small error in borg law swap, fixed so it works
  Content.Server/_Viva/Borgs/LawSwapSystem.cs
Labels: S: Untriaged, size/S, S: Needs Review

#664 Blood Cult Timer Fix + Additions
  Content.Server/GameTicking/Rules/BloodCultRuleSystem.cs
  Content.Server/GameTicking/Rules/Components/BloodCultRuleComponent.cs
Labels: S: Untriaged, size/M

#656 Overhaul Blob Localization
  Resources/Locale/en-US/_Goobstation/blob/blob.ftl
Labels: S: Untriaged, Changes: No C#, size/S

#643 Fix payout system
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
  Content.Server/_Funkystation/Payouts/Components/StationRegularPayoutComponent.cs
  Content.Server/_Funkystation/Payouts/StationRegularPayoutSystem.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Funkystation/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, size/M

#647 Hide DoAfter for Heretic influence draining
  Content.Server/_Goobstation/Heretic/EntitySystems/EldritchInfluenceSystem.cs
Labels: S: Untriaged, size/XS

#640 BZ rework
  Content.Server/_Funkystation/Atmos/Reactions/BZProductionReaction.cs
  Content.Server/_Funkystation/EntityEffects/EffectConditions/LingCondition.cs
  Content.Server/_Funkystation/EntityEffects/Effects/AdjustLingChemicals.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Locale/en-US/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: S: Untriaged, size/M

#641 Tweak electrolyzer production rates and power load
  Content.Server/Atmos/Portable/ElectrolyzerComponent.cs
  Content.Server/_Funkystation/Atmos/Portable/ElectrolyzerComponent.cs
  Content.Server/_Funkystation/Atmos/Portable/ElectrolyzerSystem.cs
  Content.Shared/_Funkystation/Atmos/Visuals/ElectrolyzerVisuals.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/electrolyzer.yml
  Resources/Textures/_Funkystation/Structures/Machines/electrolyzer.rsi/electrolyzerOff.png
  Resources/Textures/_Funkystation/Structures/Machines/electrolyzer.rsi/electrolyzerOn.png
  Resources/Textures/_Funkystation/Structures/Machines/electrolyzer.rsi/meta.json
Labels: Changes: Sprites, size/S

#655 Make rogue ascended zombie immune
  Resources/Prototypes/_Impstation/CosmicCult/Mobs/astralforms.yml
Labels: Changes: No C#, size/XS

#667 Less Hazardous Mail
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/base_mail_radioactive.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_consumables.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_costumes.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_engineering.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_fun.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_medical.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_science.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/mail_service.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/Mail/paper.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mail/mail_science.yml
  Resources/Prototypes/_Goobstation/Mail/mailDeliveries.yml
  Resources/Prototypes/_NF/Mail/Items/misc.yml
  Resources/Textures/_Funkystation/Objects/Specific/Mail/mail_hazard.rsi/broken.png
  Resources/Textures/_Funkystation/Objects/Specific/Mail/mail_hazard.rsi/fragile.png
  Resources/Textures/_Funkystation/Objects/Specific/Mail/mail_hazard.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Specific/Mail/mail_hazard.rsi/locked.png
  Resources/Textures/_Funkystation/Objects/Specific/Mail/mail_hazard.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Specific/Mail/mail_hazard.rsi/postmark.png
  Resources/Textures/_Funkystation/Objects/Specific/Mail/mail_hazard.rsi/priority.png
  Resources/Textures/_Funkystation/Objects/Specific/Mail/mail_hazard.rsi/priority_inactive.png
  Resources/Textures/_Funkystation/Objects/Specific/Mail/mail_hazard.rsi/trash.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#649 fix aiuri desc
  Resources/Locale/en-US/_Funkystation/reagents/meta/medicine.ftl
Labels: S: Untriaged, Changes: No C#

#632 Build a buddy is BACK
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Storage/Crates/buildabuddycrate.yml
  Resources/Prototypes/_NF/Mail/Items/boxes.yml
  Resources/Textures/_Funkystation/Structures/Storage/Crates/buildabuddy.rsi/base.png
  Resources/Textures/_Funkystation/Structures/Storage/Crates/buildabuddy.rsi/closed.png
  Resources/Textures/_Funkystation/Structures/Storage/Crates/buildabuddy.rsi/icon.png
  Resources/Textures/_Funkystation/Structures/Storage/Crates/buildabuddy.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/Storage/Crates/buildabuddy.rsi/open.png
  Resources/Textures/_Funkystation/Structures/Storage/Crates/buildabuddy.rsi/sparking.png
  Resources/Textures/_Funkystation/Structures/Storage/Crates/buildabuddy.rsi/welded.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#648 Add hydrogen to guidebook and gas code cleanup
  Content.Server/Atmos/Reactions/HydrogenFireReaction.cs
  Content.Server/Atmos/Reactions/MetalHydrogenReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/HealiumProductionReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/HydrogenFireReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/MetalHydrogenReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/NitriumDecompositionReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/NitriumProductionReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/PluoxiumTritiumProductionReaction.cs
  Content.Server/_Funkystation/EntityEffects/Effects/AddReagentToBlood.cs
  Content.Server/_Funkystation/EntityEffects/Effects/NitriumMoveSpeedModifier.cs
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
Labels: S: Untriaged, size/M

#657 Gingerbread
  Resources/Locale/en-US/markings/gingerbread.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gingerbread.yml
  Resources/Prototypes/Species/gingerbread.yml
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/NEW.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/body_bowtie.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/body_gummybutton.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/body_icing_default.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/body_icingbuttons.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/body_tie.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/cotton_candy_wings_primary.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/cotton_candy_wings_secondary.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/cotton_candy_wings_stick.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/face_arachnidchelicerae.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/face_arachnideyes.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/face_blush.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/face_gumball_moth_antennae.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/face_gumball_moth_eyes.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/face_icing_default.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/face_icing_sad.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/face_mustached_eyes.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/face_mustached_secondary.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/headtop_whippedcreamdo.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/headtop_whippedcreamdocherry.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/l_arm_icing_default.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/l_foot_icing_default.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/l_snapped_leg.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/r_arm_icing_default.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/r_foot_icing_default.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/r_snapped_leg.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/tail_sourappendageone.png
  Resources/Textures/Mobs/Customization/gingerbread_parts.rsi/tail_sourappendagetwo.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/torso_m.png
  mintty.2025-04-08_02-49-14.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#642 Firefighter backpack tweaks
  Content.Server/Atmos/EntitySystems/AtmosResinDespawnSystem.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Content.Server/_Funkystation/Atmos/Components/AtmosResinDespawnComponent.cs
  Content.Server/_Funkystation/Atmos/EntitySystems/AtmosResinDespawnSystem.cs
  Content.Shared/Tools/Systems/SharedToolSystem.FirefightingNozzle.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
  Content.Shared/Weapons/Ranged/Components/ClothingSlotAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Clothing.cs
  Content.Shared/_Funkystation/Atmos/Components/FirefighterTankRefillableComponent.cs
  Content.Shared/_Funkystation/Atmos/Systems/FirefighterTankRefillableSystem.cs
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Tools/firefightingnozzle.yml
  Resources/Prototypes/tags.yml
Labels: S: Untriaged, size/M

#654 uplink sales fix
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Resources/Prototypes/_White/Store/categories.yml
Labels: S: Untriaged, size/XS

#634 Added music recipes and music techlathe.
  Resources/Locale/en-US/_Funkystation/materials/materials.ftl
  Resources/Locale/en-US/_Funkystation/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Devices/Circutboards/production.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Funkystation/Recipes/Instruments/instruments.yml
  Resources/Prototypes/_Funkystation/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Funkystation/Research/civilianservices.yml
  Resources/Textures/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/Structures/Machines/techfab.rsi/music.png
Labels: Changes: Sprites, Changes: No C#, size/M

#674 Contra + Traitor Obj Fixes
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_Impstation/Objects/Misc/nullrod.yml
Labels: S: Untriaged, Changes: No C#, size/S

#675 Rule changes.
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC7PlayYourCharacter.xml
  Resources/ServerInfo/Guidebook/ServerRules/Metashield.xml
Labels: S: Untriaged, Changes: No C#, size/S

#669 Bounty description update
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
Labels: S: Untriaged, size/XS

#636 Ammo test
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: S: Untriaged, Changes: No C#, size/S

#629 admeme items bundle
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/admeme.yml
Labels: S: Untriaged, Changes: No C#, size/M

#645 tweak(antag): Adding light to special Blob Tiles
  Resources/Prototypes/_Goobstation/Blob/blob_tiles.yml
Labels: S: Untriaged, Changes: No C#

#644 Fixed RuleC11SiliconPolicy.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC11SiliconPolicy.xml
Labels: S: Untriaged, Changes: No C#

#676 Rules changes pt2
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6Metagaming.xml
  Resources/ServerInfo/Guidebook/ServerRules/Metashield.xml
Labels: S: Untriaged, Changes: No C#, size/XS

#673 New gases code cleanup, bug fixes and guide entries
  Content.Server/_Funkystation/Atmos/Reactions/HalonOxygenAbsorbtionReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/HyperNobliumProductionReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/ProtoNitrateBZConversionReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/ProtoNitrateHydrogenConversionReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/ProtoNitrateProductionReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/ProtoNitrateTritiumConversionReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/ZaukerDecompositionReaction.cs
  Content.Server/_Funkystation/Atmos/Reactions/ZaukerProductionReaction.cs
  Resources/Prototypes/Reagents/gases.yml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
Labels: S: Untriaged, size/M

#678 Update space law relating to mind shields, deconversion, red alert
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/RedAlert.xml
  Resources/ServerInfo/Guidebook/Security/SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: No C#

#660 Add more tiers of thermomachines
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/thermomachine-board.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/ServerInfo/Guidebook/Engineering/Thermomachines.xml
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/advancedthermomachine.rsi/freezerOff.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/advancedthermomachine.rsi/freezerOn.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/advancedthermomachine.rsi/freezerPanelOpen.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/advancedthermomachine.rsi/heaterOff.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/advancedthermomachine.rsi/heaterOn.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/advancedthermomachine.rsi/heaterPanelOpen.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/advancedthermomachine.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/advancedthermomachine.rsi/pipe.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/freezerOff.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/freezerOn.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/freezerPanelOpen.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/heaterOff.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/heaterOn.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/heaterPanelOpen.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/pipe.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/upgradedthermomachine.rsi/freezerOff.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/upgradedthermomachine.rsi/freezerOn.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/upgradedthermomachine.rsi/freezerPanelOpen.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/upgradedthermomachine.rsi/heaterOff.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/upgradedthermomachine.rsi/heaterOn.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/upgradedthermomachine.rsi/heaterPanelOpen.png
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/upgradedthermomachine.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/Piping/Atmospherics/upgradedthermomachine.rsi/pipe.png
Labels: Changes: Sprites, Changes: No C#, size/M

#679 Whitelist Action HTTP API
  Content.Server/Administration/ServerApi.cs
  Content.Server/_Funkystation/Administration/ServerApi.Funkystation.cs
Labels: S: Untriaged, size/S

#682 Zombie R12 Changes
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC12Antag.xml
Labels: S: Untriaged, Changes: No C#, size/XS, S: Needs Review

#694 Fixes "mantain" typo in Roboticist job description
  Resources/Locale/en-US/job/job-description.ftl
Labels: S: Untriaged, Changes: No C#

#702 Revs: Open Revolt!
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Server/Revolutionary/RevolutionarySystem.cs
  Content.Shared/Revolutionary/Components/HeadRevolutionaryComponent.cs
  Content.Shared/Revolutionary/Components/ShowRevolutionaryIconsComponent.cs
  Content.Shared/Revolutionary/Revolutionary.Actions.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/presets-revolutionaries.ftl
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/Prototypes/_Funkystation/Actions/revs.yml
Labels: S: Untriaged, size/M, S: Needs Review

#690 Add support for removing whitelist via HTTP API
  Content.Server/_Funkystation/Administration/ServerApi.Funkystation.cs
Labels: S: Untriaged, size/S

#695 bluespace gas vendor bug fix
  Content.Server/_Funkystation/Atmos/EntitySystems/BluespaceVendorSystem.cs
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/BluespaceGas/bluespace_gas.yml
  runclient.bat
Labels: S: Untriaged, size/S

#708 Bounty prerequisites and some item clarifications
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Shared/Cargo/Prototypes/CargoBountyPrototype.cs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_Funkystation/Catalog/Bounties/bountyCategories.yml
Labels: S: Untriaged, size/M

#701 New nuke countdown song, Split.
  Resources/Audio/_Funkystation/StationEvents/attributions.yml
  Resources/Audio/_Funkystation/StationEvents/split.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: Changes: No C#, Changes: Audio

#683 Add crystallizer and atmos crystals
  Content.Client/_Funkystation/Atmos/UI/CrystallizerBoundUserInterface.cs
  Content.Client/_Funkystation/Atmos/UI/CrystallizerWindow.xaml
  Content.Client/_Funkystation/Atmos/UI/CrystallizerWindow.xaml.cs
  Content.Server/_Funkystation/Atmos/Components/CrystallizerComponent.cs
  Content.Server/_Funkystation/Atmos/EntitySystems/AdjustAirOnTriggerSystem.cs
  Content.Server/_Funkystation/Atmos/EntitySystems/CrystallizerSystem.cs
  Content.Shared/_Funkystation/Atmos/Components/SharedCrystallizerComponent.cs
  Content.Shared/_Funkystation/Atmos/Crystals/Components/AdjustAirOnTriggerComponent.cs
  Content.Shared/_Funkystation/Atmos/Prototypes/CrystallizerRecipePrototype.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/Stacks/Materials/Sheets/metal.yml
  Resources/Prototypes/_Funkystation/Atmospherics/crystallizer.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Misc/crystals.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/Atmospherics/crystallizer.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Materials/ingots.rsi/meta.json
  Resources/Textures/Objects/Materials/ingots.rsi/zaukerite-inhand-left.png
  Resources/Textures/Objects/Materials/ingots.rsi/zaukerite-inhand-right.png
  Resources/Textures/Objects/Materials/ingots.rsi/zaukerite.png
  Resources/Textures/Objects/Materials/ingots.rsi/zaukerite_2.png
  Resources/Textures/Objects/Materials/ingots.rsi/zaukerite_3.png
  Resources/Textures/_Funkystation/Objects/Power/crystal_cell.rsi/crystal_cell.png
  Resources/Textures/_Funkystation/Objects/Power/crystal_cell.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/ammoniacrystal.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/ammoniacrystal.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/healiumcrystal.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/healiumcrystal.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/healiumcrystal.rsi/primed.png
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/nitrousoxidecrystal.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/nitrousoxidecrystal.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/nitrousoxidecrystal.rsi/primed.png
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/protonitratecrystal.rsi/icon.png
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/protonitratecrystal.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Weapons/Grenades/protonitratecrystal.rsi/primed.png
  Resources/Textures/_Funkystation/Structures/Machines/crystallizer.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/Machines/crystallizer.rsi/off.png
  Resources/Textures/_Funkystation/Structures/Machines/crystallizer.rsi/on.png
  Resources/Textures/_Funkystation/Structures/Machines/crystallizer.rsi/panel.png
Labels: Changes: Sprites, Changes: UI, size/L

#706 Box maints
  Resources/Maps/_Funkystation/box.yml
Labels: Changes: Map, size/XL, Changes: No C#

#699 yeah this probably works
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#700 Cosmic Cult Revote on leader death / cryo
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Resources/Locale/en-US/_Impstation/cosmiccult/preset-cosmiccult.ftl
Labels: S: Untriaged, size/S

#705 Add the holoprojector to janitorial supplies crate
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#704 Make "reptilian food" bounty match all reptilian foods
  Resources/Prototypes/_Funkystation/Catalog/Bounties/bountyCategories.yml
Labels: Changes: No C#, size/XS

#698 Updates Gasses page in the guidebook
  Resources/ServerInfo/Guidebook/Engineering/Gasses.xml
Labels: S: Untriaged, Changes: No C#, size/S

#693 Reduce map pool from 19 to 8
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#696 fix some linter issues for upstream merge
  Resources/Audio/Misc/paradox_clone_greeting.ogg
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Specific/Cargo/mail_bag.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_DV/Objectives/recruiter.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Objectives/blobObjectives.yml
  Resources/Prototypes/_Impstation/CosmicCult/Mobs/astralforms.yml
  Resources/Prototypes/_Impstation/CosmicCult/objectives.yml
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/meta.json
  Resources/Textures/Mobs/Aliens/paradox_clone.rsi/meta.json
  Resources/Textures/Mobs/Aliens/paradox_clone.rsi/paradox.png
  Resources/Textures/Mobs/Aliens/paradox_clone.rsi/preview.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/meta.json
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, Changes: Audio

#670 Silo relay
  Content.Client/_Funkystation/Silo/UI/SiloRelayBoundUserInterface.cs
  Content.Client/_Funkystation/Silo/UI/SiloRelayMenu.xaml
  Content.Client/_Funkystation/Silo/UI/SiloRelayMenu.xaml.cs
  Content.Shared/_Funkystation/Silo/SiloMessages.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Devices/Circutboards/machine.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/silo_relay.yml
  Resources/Textures/_Funkystation/Structures/Machines/silorelay.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/Machines/silorelay.rsi/silo_relay.png
Labels: Changes: Sprites, Changes: UI, S: Untriaged, Changes: No C#, size/M

#689 Fix 'Makeshift' header in Medicalpatches.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Medical/Medicalpatches.xml
Labels: S: Untriaged, Changes: No C#, size/XS

#710 Fixes foamblade crash
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#711 Bagel Atmos updates
  Resources/Maps/_Funkystation/bagel.yml
Labels: Changes: Map, Changes: No C#

#716 Removes dawn leander plush
  Resources/Maps/_Funkystation/DMVStation.yml
  Resources/Maps/_Funkystation/glacier.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Funkystation/Objects/Fun/dawn_plush.rsi/meta.json
  Resources/Textures/_Funkystation/Objects/Fun/dawn_plush.rsi/plushie_dawn.png
Labels: Changes: Map, Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#714 Fixes IPC & Vulp emotes displaying for other species
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Voice/speech_emotes.yml
  Resources/Prototypes/_Funkystation/tags.yml
Labels: Changes: No C#, size/S

#719 thaven hot fixes
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/shared.yml
Labels: S: Untriaged, Changes: No C#, size/S
